{% extends "brs_cc_layout.html" %}

{% block content %}

<div class="container is-fluid">
    <h1 class="title">List of unencashed cheque entries</h1>
    <table class="table is-bordered" id="brs_table">
        <thead>
            <tr>
                <th class="has-text-centered is-vcentered">Regional office code</th>
                <th class="has-text-centered is-vcentered">Operating office code</th>
                <th class="has-text-centered is-vcentered">Month</th>
                <th class="has-text-centered is-vcentered">Bank</th>
                <th class="has-text-centered is-vcentered">Instrument number</th>
                <th class="has-text-centered is-vcentered">Instrument amount</th>
                <th class="has-text-centered is-vcentered">Instrument date</th>
                <th class="has-text-centered is-vcentered">Voucher number</th>
                <th class="has-text-centered is-vcentered">Voucher date</th>
                <th class="has-text-centered is-vcentered">Transaction ID</th>
                <th class="has-text-centered is-vcentered">Payee name</th>
                <th class="has-text-centered is-vcentered">Instrument status</th>
                <th class="has-text-centered is-vcentered">Remarks</th>
                <th class="has-text-centered is-vcentered">Timestamp</th>
            </tr>
        </thead>
        <tbody> {% for entry in result %}

            <tr>
                <td> {{ entry.instrument_unencashed_details.summary.regional_office_code }}

                </td>
                <td> {{ entry.instrument_unencashed_details.summary.operating_office_code }}

                </td>
                <td> {{ entry.instrument_unencashed_details.summary.month }}

                </td>
                <td> {{ entry.instrument_unencashed_details.summary.centralised_cheque_bank }}

                </td>
                <td>{{ entry.instrument_number }}</td>
                <td>{{ entry.instrument_amount }}</td>
                <td>{{ entry.instrument_date }}</td>
                <td>{{ entry.voucher_number }}</td>
                <td>{{ entry.voucher_date }}</td>
                <td>{{ entry.transaction_id }}</td>
                <td>{{ entry.payee_name }}</td>
                <td>{{ entry.instrument_status }}</td>
                <td> {{ entry.remarks }} </td>
                <td><a href="{{ url_for('.brs_cc_view_entry', key=entry.instrument_unencashed_details.id) }}">{{
                        entry.instrument_unencashed_details.created_on }}</a>
                </td>
            </tr> {% endfor %}

        </tbody>
    </table>
    <div class=" has-text-centered">
        <a class="button is-link is-outlined" href="{{ url_for('brs_cc.brs_cc_dashboard') }}">
            Back </a>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    new DataTable('#brs_table', {
        // dom: 'lfBrtip',
        layout: { top1Start: 'pageLength', topStart: 'buttons' },
        //       scrollY: true,
        //     fixedHeader: true,
        fixedHeader: true,
        pageLength: 50,
        scrollY: true,
        scrollX: true,
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],
        order: [[1, 'asc'], [0, 'asc']],
        pagingType: 'full_numbers',

    });

</script>

{% endblock scripts %}
