{% extends "ho_accounts_layout.html" %}
{% block content %}
{% from "form_field_helpers_macro.html" import render_field_table %}
<div class="container box">
    <form method="post">
        {{ form.csrf_token }}
        <table class="table">
            <tr>
                <th>Period</th>
                <td>{{ work.str_period }}</td>
            </tr>

            {% if current_user.role and "chief_manager" in current_user.role %}

            {{ render_field_table(form.str_work) }}
            {{ render_field_table(form.str_person) }}

            {% else %}
            <tr>
                <th>Work item</th>
                <td>{{ work.str_work }}</td>
            </tr>
            <tr>
                <th>Assigned to</th>
                <td>{{ work.str_person }}</td>
            </tr>
            {% endif %}
            {{ render_field_table(form.bool_current_status) }}
            {{ render_field_table(form.text_remarks) }}
        </table>
        <div class="has-text-centered">
            {{ form.submit_button(class="button is-success") }}
        </div>
    </form>
</div>
{% endblock content %}
