{% extends "ho_accounts_layout.html" %}
{% block content %}
<div class="container">

    <table class="table">
        <tr>
            <th>Period</th>
            <td>{{ work.str_period }}</td>
        </tr>
        <tr>
            <th>Work item</th>
            <td>{{ work.str_work }}</td>
        </tr>
        <tr>
            <th>Assigned to</th>
            <td>{{ work.str_person }}</td>
        </tr>
        <tr>
            <th>Current status</th>
            <td>{{ "✅" if work.bool_current_status else "❌" }}</td>
        </tr>
        <tr>
            <th>Remarks</th>
            <td>{{ work.text_remarks }}</td>
        </tr>
    </table>
    <div class="has-text-centered">
        <a class="button is-link" href="{{ url_for('ho_accounts.edit_accounts_work', id=work.id) }}">Edit</a>
    </div>

</div>
{% endblock content %}
