{% extends "ho_accounts_layout.html" %}
{% block content %}
<form method="post">
    <div class="container">
        {% for field in form %}
        {% if field.errors %}
        <div class="notification is-danger">
            <button class="delete"></button>
            {{ field.label }}: {{ field.errors[0] }}
        </div>
        {% endif %}
        {% endfor %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="notification is-danger">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {{ form.csrf_token }}
        <table class="table">
            <tr>
                <th>Period</th>
                <td>{{ form.str_month(class="select") }} {{ form.str_year(class="select") }}</td>
            </tr>
            <tr>
                <th>{{ form.str_name_of_bank.label }}</th>
                <td>{{ form.str_name_of_bank(class="input") }}</td>
            </tr>
            <tr>
                <th>{{ form.str_purpose.label }}</th>
                <td>{{ form.str_purpose(class="input") }}</td>
            </tr>
            <tr>
                <th>{{ form.str_assigned_to.label }}</th>
                <td>{{ form.str_assigned_to(class="select") }}</td>
            </tr>
            <tr>
                <th>{{ form.str_bank_address.label }}</th>
                <td>{{ form.str_bank_address(class="input") }}</td>
            </tr>
            <tr>
                <th>{{ form.str_gl_code.label }}</th>
                <td>{{ form.str_gl_code(class="input") }}</td>
            </tr>
            <tr>
                <th>{{ form.str_sl_code.label }}</th>
                <td>{{ form.str_sl_code(class="input") }}</td>
            </tr>
            <tr>
                <th>{{ form.str_customer_id.label }}</th>
                <td>{{ form.str_customer_id(class="input") }}</td>
            </tr>
            <tr>
                <th>{{ form.str_bank_account_number.label }}</th>
                <td>{{ form.str_bank_account_number(class="input") }}</td>
            </tr>
        </table>
        <div class="has-text-centered">{{ form.submit_button(class="button is-success") }}</div>
</form>
</div>
{% endblock content %}
