{% extends "ho_accounts_layout.html" %}
{% block content %}
<form method="post">
    {% from "form_field_helpers_macro.html" import render_field_table %}
    <div class="container box">
        {% for field in form %}
        {% if field.errors %}
        <div class="notification is-danger">
            <button class="delete"></button>
            {{ field.label }}: {{ field.errors[0] }}
        </div>
        {% endif %}
        {% endfor %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="notification is-danger">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {{ form.csrf_token }}
        <table class="table">
            <tr>
                <th>Period</th>
                <td>
                    <div class="select">{{ form.str_month }}</div>
                    <div class="select">{{ form.str_year }}</div>
                </td>
            </tr>
            {{ render_field_table(form.str_name_of_bank) }}
            {{ render_field_table(form.str_purpose) }}
            {{ render_field_table(form.str_person) }}
            {{ render_field_table(form.str_bank_address) }}
            {{ render_field_table(form.str_gl_code) }}
            {{ render_field_table(form.str_sl_code) }}
            {{ render_field_table(form.str_customer_id) }}
            {{ render_field_table(form.str_bank_account_number) }}

        </table>
        <div class="has-text-centered">{{ form.submit_button(class="button is-success") }}</div>
</form>
</div>
{% endblock content %}
