{% extends "brs_layout.html" %}
{% block body_attrs %} "onload=calculateSum(); onload=calculateClosingBalance();" {% endblock body_attrs %}
{% block content %}
{% if (current_user.user_type == "ro_user" and current_user.ro_code == brs_entry.uiic_regional_code) or
(current_user.user_type == "oo_user" and current_user.oo_code == brs_entry.uiic_office_code) or
(current_user.user_type == "admin") %}
<div class="container mb-5">
    <h1 class="title">BRS</h1>
    <form action="" method="post" enctype="multipart/form-data"
        onsubmit="return confirm('Are you sure you want to submit?') && validateForm();">
        {{ form.csrf_token }}
        <table class="table is-fullwidth is-bordered is-hoverable">
            <thead>
                <tr>
                    <th class="has-text-centered">Regional Office code</th>
                    <th class="has-text-centered">Operating Office Code</th>
                    <th class="has-text-centered">Financial year</th>
                    <th class="has-text-centered">Month</th>
                    <th class="has-text-centered">BRS type</th>
                    <th class="has-text-centered">BRS bank</th>
                </tr>
            </thead>
            <tbody>
                <tr class="has-text-centered">
                    <td>{{ brs_entry.uiic_regional_code }}</td>
                    <td>{{ brs_entry.uiic_office_code }}</td>
                    <td>{{ brs_entry.financial_year }}</td>
                    <td>{{ brs_entry.month }}</td>
                    <td>{{ requirement | upper() | replace("_", " ") }}</td>
                    <td>{{ get_brs_bank(brs_entry.id, requirement) }}</td>
                </tr>
            </tbody>
        </table>
        {% for field in form %}
        {% if field.errors %}
        <div class="notification is-danger">
            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="notification is-danger">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <table class="table is-bordered is-fullwidth is-hoverable">
            <tr>
                <th class="is-vcentered">{{ form.prepared_by.label }}</th>
                <td></td>
                <td>{{ form.prepared_by(class="input") }}</td>
            </tr>
            <tr>
                <th class="is-vcentered">{{ form.prepared_by_employee_number.label }}</th>
                <td></td>
                <td>{{ form.prepared_by_employee_number(class="input") }}</td>
            </tr>
            <tr>
                <th class="is-vcentered">{{ form.int_opening_balance.label }}</th>
                <td class="is-vcentered">{{ brs_entry.month | datetime_format("%B-%Y", "previous") }}</td>
                <td onload="calculateSum()" onkeyup="calculateSum()">{{ form.int_opening_balance(class='input is-small',
                    readonly=true) }}
                </td>
            </tr>
            <tr>
                <th class="is-vcentered">{{ form.int_opening_on_hand.label }}</th>
                <td class="is-vcentered">{{ brs_entry.month|datetime_format("%B-%Y", "previous") }}</td>
                <td onload="calculateSum()" onkeyup="calculateSum()">{{ form.int_opening_on_hand(class='input is-small',
                    readonly=true) }}
                </td>
            </tr>
            <tr>
                <th class="is-vcentered">{{ form.int_transactions.label }}</th>
                <td class="is-vcentered">{{ brs_entry.month }}</td>
                <td onload="calculateSum()" onkeyup="calculateSum()">{{ form.int_transactions(class='input is-small') }}
                </td>
            </tr>
            <tr>
                <th class="is-vcentered">{{ form.int_cancellations.label }}</th>
                <td class="is-vcentered">{{ brs_entry.month }}</td>
                <td onload="calculateSum()" onkeyup="calculateSum()">{{ form.int_cancellations(class='input is-small')
                    }}
                </td>
            </tr>
            <tr>
                <th class="is-vcentered">Balance before fund transfer</th>
                <td class="is-vcentered">{{ brs_entry.month | datetime_format("%B-%Y", "current") }}</td>
                <td class="has-text-right"><label id="cal_balance_before_fund_transfer"></label></td>
            </tr>
            <tr>
                <th class="is-vcentered">{{ form.int_fund_transfer.label }}</th>
                <td class="is-vcentered">{{ brs_entry.month }}</td>
                <td onload="calculateSum()" onkeyup="calculateSum()">{{ form.int_fund_transfer(class='input is-small')
                    }}
                </td>
            </tr>
            <tr>
                <th class="is-vcentered">{{ form.int_bank_charges.label }}</th>
                <td class="is-vcentered">{{ brs_entry.month }}</td>
                <td onload="calculateSum()" onkeyup="calculateSum()">{{ form.int_bank_charges(class='input is-small') }}
                </td>
            </tr>
            <tr>
                <th class="is-vcentered">{{ form.int_closing_on_hand.label }}</th>
                <td class="is-vcentered">{{ brs_entry.month | datetime_format("%B-%Y", "current") }}</td>
                <td onload="calculateSum()" onkeyup="calculateSum()">{{ form.int_closing_on_hand(class='input is-small')
                    }}
                </td>
            </tr>
            <tr>
                <th class="is-vcentered">Closing balance as per GL</th>
                <td class="is-vcentered">{{ brs_entry.month | datetime_format("%B-%Y", "current") }}</td>
                <td class="has-text-right"><label id="cal_closing_balance"></label></td>
            </tr>
            <tr>
                <th class="is-vcentered">Remarks</th>
                <td></td>
                <td> {{ form.remarks(class='textarea') }} </td>
            </tr>
        </table>
        <div id="closing_balance_breakup">
            <h1 class="title is-size-5">Provide breakup of closing balance</h1>
            <table class="table is-bordered is-fullwidth is-hoverable">
                <tr>
                    <th class="is-vcentered">{{ form.int_deposited_not_credited.label }}</th>
                    <td class="is-vcentered"><a
                            href="{{ url_for('brs.download_format', requirement=requirement) }}">Upload Format</a></td>
                    <td onload="calculateClosingBalance()" onkeyup="calculateClosingBalance()">{{
                        form.int_deposited_not_credited(class="input") }}</td>
                    <td class="is-vcentered">{{ form.file_outstanding_entries(disabled="disabled",
                        accept=".csv,text/csv") }}</td>
                </tr>
                <tr>
                    <th class="is-vcentered">{{ form.int_short_credited.label }}</th>
                    <td class="is-vcentered"><a
                            href="{{ url_for('brs.download_format', requirement=requirement) }}">Upload Format</a></td>
                    <td onload="calculateClosingBalance()" onkeyup="calculateClosingBalance()">{{
                        form.int_short_credited(class="input") }}</td>
                    <td class="is-vcentered">{{ form.file_short_credit_entries(disabled="disabled",
                        accept=".csv,text/csv") }}</td>
                </tr>
                <tr>
                    <th class="is-vcentered">{{ form.int_excess_credited.label }}</th>
                    <td class="is-vcentered"><a
                            href="{{ url_for('brs.download_format', requirement=requirement) }}">Upload Format</a></td>
                    <td onload="calculateClosingBalance()" onkeyup="calculateClosingBalance()">{{
                        form.int_excess_credited(class="input") }}</td>
                    <td class="is-vcentered">{{ form.file_excess_credit_entries(disabled="disabled",
                        accept=".csv,text/csv") }}</td>
                </tr>

                <tr>
                    <th class="is-vcentered">{{ form.int_balance_as_per_bank.label }}</th>
                    <td></td>
                    <td onload="calculateClosingBalance()" onkeyup="calculateClosingBalance()">
                        {% if requirement == "local_collection" %}
                        {{ form.int_balance_as_per_bank(class="input") }}
                        {% else %}
                        {{ form.int_balance_as_per_bank(class="input", disabled=disabled) }}
                        {% endif %}
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <th colspan="2">Total</th>
                    <td><label id="cal_closing_bal_breakup"></label></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="buttons is-centered mt-5">
            <a class="button is-link" href="{{ url_for('brs.upload_brs', brs_key = brs_entry.id) }}">Go back</a>
            {% if not prevent_duplicate_brs(requirement, brs_entry.id) %}
            <button class="button is-primary is-big">Submit</button>
            {% else %}
            <button class="button is-primary is-big" disabled>Submit</button>
            {% endif %}
        </div>
</div>
</form>

{% endif %}
{% block scripts %}
<script>

    // const formatter = new Intl.NumberFormat('en-IN', {
    //     style: 'currency',
    //     currency: 'INR',
    //     minimumFractionDigits: 2,
    //     maximumFractionDigits: 2,
    //     trailingZeroDisplay: 'stripIfInteger'
    // });
    $(document).ready(function () {
        calculateSum();
        calculateClosingBalance();
    });

    function calculateSum() {
        var opening_balance = parseFloat(document.getElementById("int_opening_balance").value === "" ? 0 : document.getElementById("int_opening_balance").value);
        var opening_on_hand = parseFloat(document.getElementById("int_opening_on_hand").value === "" ? 0 : document.getElementById("int_opening_on_hand").value);
        var transactions = parseFloat(document.getElementById("int_transactions").value === "" ? 0 : document.getElementById("int_transactions").value);
        var cancellations = parseFloat(document.getElementById("int_cancellations").value === "" ? 0 : document.getElementById("int_cancellations").value);
        var fund_transfer = parseFloat(document.getElementById("int_fund_transfer").value === "" ? 0 : document.getElementById("int_fund_transfer").value);
        var bank_charges = parseFloat(document.getElementById("int_bank_charges").value === "" ? 0 : document.getElementById("int_bank_charges").value);
        var closing_on_hand = parseFloat(document.getElementById("int_closing_on_hand").value === "" ? 0 : document.getElementById("int_closing_on_hand").value);
        closing_balance = opening_balance + opening_on_hand + transactions - cancellations - fund_transfer - bank_charges - closing_on_hand;
        balance_before_fund_transfer = opening_balance + opening_on_hand + transactions - cancellations
        const formatter = new Intl.NumberFormat('en-IN', {
            style: 'currency',
            currency: 'INR',
            minimumFractionDigits: 2,
            maximumFractionDigits: 2,
            trailingZeroDisplay: 'stripIfInteger'
        });
        document.getElementById("cal_closing_balance").innerText = formatter.format(closing_balance);
        document.getElementById("cal_balance_before_fund_transfer").innerText = formatter.format(balance_before_fund_transfer);

        return closing_balance;
        // if (closing_balance > 0) {
        //     document.getElementById("outstanding_entries").disabled = false;
        // }
        // else {
        //     document.getElementById("outstanding_entries").disabled = true;
        // }
        // if (closing_balance != 0) {
        //     document.getElementById('closing_balance_breakup').classList.remove("is-hidden");
        // }
        // else { document.getElementById('closing_balance_breakup').classList.add("is-hidden"); }
    }
    function calculateClosingBalance() {

        const formatter = new Intl.NumberFormat('en-IN', {
            style: 'currency',
            currency: 'INR',
            minimumFractionDigits: 2,
            maximumFractionDigits: 2,
            trailingZeroDisplay: 'stripIfInteger'
        });

        var not_credited = parseFloat(document.getElementById("int_deposited_not_credited").value === "" ? 0 : document.getElementById("int_deposited_not_credited").value);
        var short_credited = parseFloat(document.getElementById("int_short_credited").value === "" ? 0 : document.getElementById("int_short_credited").value);
        var excess_credited = parseFloat(document.getElementById("int_excess_credited").value === "" ? 0 : document.getElementById("int_excess_credited").value);
        var closing_balance_bank_statement = parseFloat(document.getElementById("int_balance_as_per_bank").value === "" ? 0 : document.getElementById("int_balance_as_per_bank").value);

        if (not_credited > 0) {
            document.getElementById("file_outstanding_entries").disabled = false;
        }
        else {
            document.getElementById("file_outstanding_entries").disabled = true;
        }

        if (excess_credited > 0) {
            document.getElementById("file_excess_credit_entries").disabled = false;
        }
        else {
            document.getElementById("file_excess_credit_entries").disabled = true;
        }

        if (short_credited > 0) {
            document.getElementById("file_short_credit_entries").disabled = false;
        }
        else {
            document.getElementById("file_short_credit_entries").disabled = true;
        }

        var closing_balance_breakup = not_credited + short_credited - excess_credited + closing_balance_bank_statement;

        document.getElementById("cal_closing_bal_breakup").innerText = formatter.format(closing_balance_breakup);
        return closing_balance_breakup;
    }
    function validateForm() {
        const threshold = 0.001
        closing_balance_gl = calculateSum();
        closing_balance_breakup = calculateClosingBalance();
        if (Math.abs(closing_balance_gl - closing_balance_breakup) > threshold) {
            alert(`Closing balance ${closing_balance_gl} and closing balance breakup ${closing_balance_breakup} is not tallying.`)
            return false;
        }
    }

</script>
{% endblock scripts %}
{% endblock content %}
