{% extends "brs_layout.html" %}

{% block content %}

{% if current_user.user_type in ["admin","ro_user"] %}
<form class="mb-5" method="post">
    {{ form.csrf_token }}
    <table class="table">
        <tr>
            <th class="is-vcentered">{{ form.month.label }}</th>
            <td>
                <div class="select">{{ form.month }}</div>
            </td>
            <td> <button class="button is-success is-outlined">Refresh</button></td>
        </tr>
    </table>
</form>

<table class="table is-bordered is-fullwidth" id="brs_percent_table">

    <thead>
        <tr>
            <th>Regional Office</th>
            <th>Month</th>
            <th>Total</th>
            <th>Completed</th>
            <th>Pending</th>
            <th>Percentage completed</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in query %}
        {% set total = entry[2] + entry[4] + entry[6] + entry[8] + entry[10] + entry[12] %}
        {% set completed = entry[3] + entry[5] + entry[7] + entry[9] + entry[11] + entry[13] %}
        <tr>
            <td>{{ entry[0] }}</td>
            <td data-sort="{{ entry.month|datetime_format('%B-%Y') }}">{{ entry[1] }}</td>
            <td>{{ total }}</td>
            <td>{{ completed }}</td>
            <td>{{ total - completed }}</td>
            <td>{{ "{0:0.2f}".format(completed / total * 100) }}%</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% block scripts %}
<script>
    new DataTable('#brs_percent_table', {
        //dom: 'lfBrtip',
        layout: {
            top1Start: 'pageLength',
            topStart: 'buttons',
        },
        fixedHeader: true,
        pageLength: 36,
        scrollY: true,
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],
        order: [[5, 'desc'], [1, 'asc']],
        pagingType: 'full_numbers',

        lengthMenu: [
            [36, 72, 108, 144, -1],
            [36, 72, 108, 144, 'All'],]
    });

</script>

{% endblock scripts %}
{% endblock content %}
