{% extends "brs_layout.html" %}
{% block content %}
{% from "form_field_helpers_macro.html" import render_field_div_horizontal %}
<div class="container">

    <form method="post">
        {{ form.csrf_token }}

        <h1 class="title">Add FCS Bank account details</h1>
        <div class="box">
            {% for field in form if field.widget.input_type != "hidden" %}

            {{ render_field_div_horizontal(field, is_narrow=False) }}

            {% endfor %}
            <div class="has-text-centered">
                <button class="button is-success">Submit</button>
            </div>
        </div>
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="notification is-danger">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock content %}
