{% extends "brs_layout.html" %}
{% block content %}

{% if current_user.user_type in ["admin","ro_user"] %}

<form class="mb-5" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
  {{ form.month.label }}:  {{ form.month(class='select') }}
    <button class="is-success is-outlined is-hoverable button is-small ">Refresh</button>
</form>

<table class="table is-bordered" id="brs_table"><thead>
<tr class="has-text-centered">
<th class="is-vcentered" rowspan="2">Regional office</th>
<th class="is-vcentered" rowspan="2">Month</th>
<th class="is-vcentered" rowspan="2"></th>
<th colspan="3">Cash</th>
<th colspan="3">Cheque</th>
<th colspan="3">PG</th>
<th colspan="3">POS</th>
<th colspan="3">BBPS</th>
<th colspan="3">Local collection</th>
</tr>
<tr class="has-text-centered">
<th>Total</th>
<th>Completed</th>
<th>Pending</th>
<th>Total</th>
<th>Completed</th>
<th>Pending</th>
<th>Total</th>
<th>Completed</th>
<th>Pending</th>
<th>Total</th>
<th>Completed</th>
<th>Pending</th>
<th>Total</th>
<th>Completed</th>
<th>Pending</th>
<th>Total</th>
<th>Completed</th>
<th>Pending</th>
</tr>
</thead>
<tbody>
{% for entry in query %}
<tr>

{% if entry[2] - entry[3] + entry[4] - entry[5] + entry[6] - entry[7] + entry[8] - entry[9] + entry[10] - entry[11] == 0 %}
<td class="is-success">{{ entry[0] }} </td>
<td class="is-success" data-sort="{{ entry.month|datetime_format('%B-%Y') }}" >{{ entry[1] }} </td>
<td><a class="button is-success is-small" href="{{ url_for('brs.brs_ro_wise', ro_code = entry[0], month=entry[1] )}}">View</a></td>

{% else %}
<td>{{ entry[0] }} </td>
<td data-sort="{{ entry.month|datetime_format('%B-%Y') }}" >{{ entry[1] }} </td>
<td><a class="button is-link is-outlined is-small" href="{{ url_for('brs.brs_ro_wise', ro_code = entry[0], month=entry[1] )}}">View</a></td>
{% endif %}
{% if entry[2] - entry[3] == 0 %}
<td class="is-success has-text-right">{{ entry[2] }} </td>
<td class="is-success has-text-right">{{ entry[3] }} </td>
<td class="is-success has-text-right">{{ entry[2] - entry[3] }} </td>
{% else %}
<td class="has-text-right">{{ entry[2] }} </td>
<td class="has-text-right">{{ entry[3] }} </td>
<td class="has-text-right">{{ entry[2] - entry[3] }} </td>
{% endif %}
{% if entry[4] - entry[5] == 0 %}
<td class="is-success has-text-right">{{ entry[4] }} </td>
<td class="is-success has-text-right">{{ entry[5] }} </td>
<td class="is-success has-text-right">{{ entry[4] - entry[5] }} </td>
{% else %}
<td class="has-text-right">{{ entry[4] }} </td>
<td class="has-text-right">{{ entry[5] }} </td>
<td class="has-text-right">{{ entry[4] - entry[5] }} </td>

{% endif %}
{% if entry[6] - entry[7] == 0 %}
<td class="is-success has-text-right">{{ entry[6] }} </td>
<td class="is-success has-text-right">{{ entry[7] }} </td>
<td class="is-success has-text-right">{{ entry[6] - entry[7] }} </td>
{% else %}
<td class="has-text-right">{{ entry[6] }} </td>
<td class="has-text-right">{{ entry[7] }} </td>
<td class="has-text-right">{{ entry[6] - entry[7] }} </td>

{% endif %}
{% if entry[8] - entry[9] == 0 %}
<td class="is-success has-text-right">{{ entry[8] }} </td>
<td class="is-success has-text-right">{{ entry[9] }} </td>
<td class="is-success has-text-right">{{ entry[8] - entry[9] }} </td>
{% else %}
<td class="has-text-right">{{ entry[8] }} </td>
<td class="has-text-right">{{ entry[9] }} </td>
<td class="has-text-right">{{ entry[8] - entry[9] }} </td>
{% endif %}
{% if entry[10] - entry[11] == 0 %}
<td class="is-success has-text-right">{{ entry[10] }} </td>
<td class="is-success has-text-right">{{ entry[11] }} </td>
<td class="is-success has-text-right">{{ entry[10] - entry[11] }} </td>
{% else %}
<td class="has-text-right">{{ entry[10] }} </td>
<td class="has-text-right">{{ entry[11] }} </td>
<td class="has-text-right">{{ entry[10] - entry[11] }} </td>
{% endif %}
    {% if entry[12] - entry[13] == 0 %}
<td class="is-success has-text-right">{{ entry[12] }} </td>
<td class="is-success has-text-right">{{ entry[13] }} </td>
<td class="is-success has-text-right">{{ entry[12] - entry[13] }} </td>
{% else %}
<td class="has-text-right">{{ entry[12] }} </td>
<td class="has-text-right">{{ entry[13] }} </td>
<td class="has-text-right">{{ entry[12] - entry[13] }} </td>
{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% block scripts %}
        <script>
            $(document).ready(function () {
                            $('#brs_table').DataTable({
                                dom: 'lfBrtip',
                                fixedHeader: true,
                                pageLength: 36,
                                scrollY: true,
                                scrollX: true,
                                buttons: [
                                             { extend: 'copyHtml5', className: 'is-danger is-rounded', title:''},
                                             { extend: 'csvHtml5', className: 'is-info is-rounded', title:''},
                                             { extend: 'excelHtml5', className: 'is-primary is-rounded', title:''}],
                                order: [[1,'asc'], [0, 'asc']],
                                            pagingType: 'full_numbers',

                                lengthMenu: [
                                             [36,72,108,144,-1],
                                            [36,72,108,144,'All'],]
                                        });
                        });
        </script>

        {% endblock scripts %}

{% endblock content %}
