{% extends "brs_layout.html" %}

{% block content %}
<form action="" method="post">
    {{ form.csrf_token }}
    <table class="table">
        <tr>
            <th class="is-vcentered">{{ form.month.label }}</th>
            <td>
                <div class="select">{{ form.month }}</div>
            </td>
            <th class="is-vcentered">{{ form.brs_type.label }}</th>
            <td>
                <div class="select">{{ form.brs_type }}</div>
            </td>
            <td>
                <button class="button is-success is-outlined">Go</button>
            </td>
        </tr>
    </table>

</form>

{% endblock content %}
