{% extends "brs_layout.html" %}
{% block content %}

{% if brs_entries %}

{% set brs_types = ["cash", "cheque", "pg", "pos", "bbps", "dqr", "local_collection"] %}

<table class="table is-bordered is-hoverable" id="brs_table">
    <thead>
        <tr>
            <th>Regional Code</th>
            <th>Operating Office</th>
            <th>Financial year</th>
            <th>Period</th>
            <th>%</th>

            <th>Cash BRS status</th>
            <th>Cheque BRS status</th>
            <th>PG BRS Status</th>
            <th>POS BRS status</th>
            <th>BBPS BRS status</th>
            <th>DQR BRS status</th>
            <th>Local collection BRS status</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for entry in brs_entries %}

        <tr {% if entry.colour_check() %} class="has-background-success" {% endif %}>

            <td class="has-text-centered">{{ entry.uiic_regional_code }}</td>
            <td class="has-text-centered">{{ entry.uiic_office_code }}</td>
            <td class="has-text-centered">{{ entry.financial_year }}</td>
            <td class="has-text-left" data-sort="{{ entry.month|datetime_format('%B-%Y') }}">{{ entry.month }}</td>
            <td class="has-text-right">{{ entry.percent_completed() | int }}% </td>

            {% for key in brs_types %}
            {% if entry.get_bank_for_type(key) %}
            {% if entry.get_brs_id(key) %}
            <td class="has-background-success">Uploaded</td>
            {% else %}
            <td class="has-text-danger">Pending</td>
            {% endif %}
            {% else %}
            {% if not entry.colour_check() %}
            <td class="has-background-grey">NA</td>
            {% else %}
            <td>NA</td>
            {% endif %}
            {% endif %}
            {% endfor %}

            <td><a class="button is-small is-link is-outlined"
                    href="{{ url_for('brs.upload_brs', brs_key = entry.id ) }}">Open</a></td>
        </tr>

        {% endfor %}

    </tbody>

</table>

{% endif %}
{% block scripts %}
<script>

    new DataTable('#brs_table', {
        // dom: 'lfBrtip',
        layout: { top1Start: 'pageLength', topStart: 'buttons' },

        fixedHeader: true,
        pageLength: 50,
        scrollY: true,
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],
        order: [[1, 'asc']],
        pagingType: 'full_numbers',
        lengthMenu: [
            [50, 100, 150, 200, -1],
            [50, 100, 150, 200, 'All'],]
    });
</script>

{% endblock scripts %}

{% endblock content %}
