{% extends "brs_layout.html" %}
{% block content %}

<div class="container mt-5 mb-5 column">
    <h1 class="title is-size-5">Consolidated BRS completion percentage</h1>
    <table class="table is-bordered" id="brs_percent_table">
        <thead>
            <tr>
                <th class="has-text-centered">RO Code</th>
                <th class="has-text-centered">Consolidated percentage</th>
            </tr>
        </thead>
        <tbody>
            {% for item in percentages %}
            <tr>
                <td class="has-text-centered">{{ item.uiic_regional_code }}</td>
                <td class="has-text-right">{{ "%.2f"|format(item.percent_complete) }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% block scripts %}
<script>
    new DataTable('#brs_percent_table', {
        layout: {
            topStart: 'buttons',
        },
        fixedHeader: true,
        pageLength: 36,
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],
    });
</script>

{% endblock scripts %}
{% endblock content %}
