{% extends "brs_layout.html" %}
{% block content %}

<div class="container">
        <h1 class="title">Upload BRS</h1>
        <form action="" method="post" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <table class="table is-fullwidth is-hoverable">

                        <tr>
                                <th>Regional Office code</th>
                                <td>{{ brs_entry.uiic_regional_code }}</td>
                                <td></td>
                        </tr>
                        <tr>
                                <th>Operating Office Code</th>
                                <td>{{ brs_entry.uiic_office_code }}</td>
                                <td></td>
                        </tr>
                        <tr>
                                <th>Financial year</th>
                                <td>{{ brs_entry.financial_year }}</td>
                                <td></td>
                        </tr>
                        <tr>
                                <th>Month</th>
                                <td>{{ brs_entry.month }}</td>
                                <td></td>
                        </tr>
                        {% set brs_types = [
                        ("cash", "Cash BRS"),
                        ("cheque", "Cheque BRS"),
                        ("pg", "Payment Gateway BRS"),
                        ("pos", "POS BRS"),
                        ("bbps", "BBPS BRS"),
                        ("dqr", "DQR BRS"),
                        ("local_collection", "Local Collection BRS"),
                        ] %}

                        {% for key, label in brs_types %}
                        {% if brs_entry[key ~ "_bank"] %}
                        <tr>
                                <th class="is-vcentered">{{ label }}</th>

                                {% if brs_entry[key ~ "_brs_id"] %}
                                <td>
                                        <a class="button is-success"
                                                href='{{ url_for("brs.view_brs", brs_key=brs_entry[key ~ "_brs_id"]) }}'>
                                                View {{ label }}
                                        </a>
                                </td>
                                <td class="is-vcentered">
                                        {% if current_user.user_type in list_delete_brs %}
                                        {{ form["delete_" ~ key ~ "_brs"] }}
                                        {{ form["delete_" ~ key ~ "_brs"].label }}
                                        {% endif %}
                                </td>
                                {% else %}
                                <td>
                                        <a class="button is-danger"
                                                href='{{ url_for("brs.enter_brs", requirement=key, brs_id=brs_entry.id) }}'>
                                                Enter {{ label }}
                                        </a>
                                </td>
                                <td></td>
                                {% endif %}

                        </tr>
                        {% endif %}
                        {% endfor %}

                </table>

                <div class="has-text-centered">
                        {% if brs_entry.cash_brs_id or brs_entry.cheque_brs_id or brs_entry.pg_brs_id or
                        brs_entry.pos_brs_id or brs_entry.bbps_brs_id or brs_entry.dqr_brs_id or
                        brs_entry.local_collection_brs_id %}
                        <!-- djlint:off -->
                        <a class="button is-link"
                                href="{{ url_for('brs.view_consolidated_brs', brs_key=brs_entry.id, display='html') }}">
                                Open Consolidated BRS</a>
                        <!-- djlint:on -->
                        {% if current_user.user_type in list_delete_brs %}
                        <button class="button is-primary is-big">Delete</button>

                </div>
                {% endif %}
                {% endif %}

        </form>

        <div class="mt-5">
                {% for field, errors in form.errors.items() %}
                <div class="notification is-danger">
                        {{ field }} {{ ', '.join(errors) }}
                </div>
                {% endfor %}

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="notification is-danger">
                        <p>{{ message }}</p>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
        </div>
</div>

{% endblock content %}
