{% if not pdf %}
{% extends "brs_layout.html" %}
{% else %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}" />
{% endif %}
{% block content %}

{% if (current_user.user_type == "ro_user" and current_user.ro_code == brs_month.uiic_regional_code) or
    (current_user.user_type == "oo_user" and current_user.oo_code == brs_month.uiic_office_code) or
    (current_user.user_type == "admin") %}
<div class="container">
<h1 class="title">View {{ brs_entry.brs_type.upper() }} BRS</h1>

    <table class="table is-bordered is-hoverable">

        <tr class="has-text-centered"><th>Regional office code</th>
               <th>Operating office code</th>
                  <th>Financial year</th>
                  <th>Month</th>
                    <th>BRS type</th>
                    <th>Bank</th>
        </tr>
        <tr>
        <td>{{ brs_month.uiic_regional_code }}</td>

          <td>{{ brs_month.uiic_office_code }}</td>
            <td>{{ brs_month.financial_year }}</td>
              <td>{{ brs_month.month }}</td>
              <td>{{ brs_entry.brs_type.upper() }}</td>
<td>

{% if brs_entry.brs_type == "cash" %}
{{ brs_month.cash_bank }}
{% elif brs_entry.brs_type == "cheque" %}
{{ brs_month.cheque_bank }}
{% elif brs_entry.brs_type == "pos" %}
{{ brs_month.pos_bank }}
{% elif brs_entry.brs_type == "pg" %}
{{ brs_month.pg_bank }}
{% elif brs_entry.brs_type == "bbps" %}
{{ brs_month.bbps_bank }}
    {% elif brs_entry.brs_type == "local_collection" %}
{{ brs_month.local_collection_bank }}
{% endif %}
</td>

  </tr>
</table>

<table class="table is-bordered is-hoverable">

<tr><th>Opening balance</th>

        <td>{{ brs_month.month | datetime_format("%B-%Y", "previous") }}</td>
    <td class="has-text-right">{{ "{:,.2f}".format(brs_entry.int_opening_balance) }}</td></tr>
<tr><th>Add: On hand</th>
        <td>{{ brs_month.month | datetime_format("%B-%Y", "previous") }}</td>
    <td class="has-text-right">{{ "{:,.2f}".format(brs_entry.int_opening_on_hand) }}</td></tr>
<tr><th>Add: Collections during the month</th>
        <td>{{ brs_month.month }}</td>
    <td class="has-text-right">{{ "{:,.2f}".format(brs_entry.int_transactions) }}</td></tr>
<tr><th>Less: Cancellations / cheque dishonours during the month</th>
        <td>{{ brs_month.month }}</td>
    <td class="has-text-right">{{ "{:,.2f}".format(brs_entry.int_cancellations) }}</td></tr>
<tr><th>Less: Fund transfer</th>
        <td>{{ brs_month.month }}</td>
    <td class="has-text-right">{{ "{:,.2f}".format(brs_entry.int_fund_transfer) }}</td></tr>
<tr><th>Less: Bank charges</th>
        <td>{{ brs_month.month }}</td>
    <td class="has-text-right">{{ "{:,.2f}".format(brs_entry.int_bank_charges) }}</td></tr>
<tr><th>Less: On hand</th>
        <td>{{ brs_month.month | datetime_format("%B-%Y", "current") }}</td>
    <td class="has-text-right">{{ "{:,.2f}".format(brs_entry.int_closing_on_hand) }}</td></tr>
<tr><th>Closing balance</th>
        <td>{{ brs_month.month | datetime_format("%B-%Y", "current") }}</td>
        <td class="has-text-right">{{ "{:,.2f}".format(brs_entry.int_closing_balance) }}</td></tr>
    {% if brs_entry.remarks %}
    <tr><th>Remarks</th><td colspan="2">{{ brs_entry.remarks }}</td></tr>
    {% endif %}
    </table>
    {% if brs_entry.int_closing_balance > 0 %}
    {% if outstanding %}
    <h3 class="title is-5">
        Details of closing balance:</h3>
    <table class="table is-bordered">
        <thead>
        <tr>
            <th>Date of collection</th>
            <th>Instrument number</th>

            <th>Date of instrument</th>
            <th>Instrument amount</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for item in outstanding %}
            <td class="has-text-centered" >{{ item.date_of_collection.strftime("%d/%m/%Y") }}</td>

            <td class="has-text-centered" >{{ item.instrument_number }}</td>

            <td class="has-text-centered" >{{ item.date_of_instrument.strftime("%d/%m/%Y") }}</td>
            <td class="has-text-right">{{ "{:,.2f}".format(item.instrument_amount) }}</td>

        </tr> </tbody>
            {% endfor %}
            <tfoot><tr><td class="has-text-right has-text-weight-bold" colspan="3">Total: </td>
                <td class="has-text-right has-text-weight-bold">
                    {{ "{:,.2f}".format(outstanding | sum(attribute="instrument_amount")) }}</td>
            </tr></tfoot>
    </table>
    {% endif %}
    {% endif %}

    {% if not pdf %}
<a class="button is-link" href="{{ url_for('brs.upload_brs', brs_key = brs_entry.brs_id) }}">Go back</a>
<a class="button is-link" href="{{ url_for('brs.view_brs_pdf', brs_key = brs_entry.id) }}">Print as PDF</a>
    {% endif %}
</div>
{% endif %}
{% endblock content %}
