{% extends "brs_layout.html" %}
{% block content %}
{% if outstanding %}
<h1 class="title">List of {{ title }} entries</h1>
<table class="table is-fullwidth is-bordered" id="outstanding">
    <thead>
        <tr>
            <th>Regional office</th>
            <th>Operating office</th>
            <th>Financial year</th>
            <th>Period</th>
            <th>BRS type</th>
            <th>Bank</th>
            <th>Date of collection</th>
            <th>Instrument number</th>
            <th>Date of instrument</th>
            <th>Instrument amount</th>
            <th>Remarks</th>
            <th>View BRS</th>
        </tr>
    </thead>
    <tbody>
        {% for entries in outstanding %}
        <tr>
            <td>{{ entries.brs_month.brs.uiic_regional_code or "" }}</td>
            <td>{{ entries.brs_month.brs.uiic_office_code or "" }}</td>
            <td>{{ entries.brs_month.brs.financial_year or "" }}</td>
            <td>{{ entries.brs_month.brs.month or "" }}</td>
            <td>{{ (entries.brs_month.brs_type or "")| upper() }}</td>
            <td>{{ entries.brs_month.brs.get_bank_for_type(entries.brs_month.brs_type) }}</td>
            <td>{{ entries.date_of_collection or "" }}</td>
            <td>{{ entries.instrument_number or "" }}</td>
            <td>{{ entries.date_of_instrument or "" }}</td>
            <td class="has-text-right">{{ entries.instrument_amount or "" }}</td>
            <td>{{ entries.remarks or "" }}</td>
            <td><a href="{{ url_for('brs.view_brs', brs_key = entries.brs_month.id) }}">View</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% block scripts %}
<script>
    new DataTable('#outstanding', {
        layout: { top1Start: 'pageLength', topStart: 'buttons' },
        scrollY: true,
        fixedHeader: true,
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],
        order: [[1, 'asc']],
        pagingType: 'full_numbers',

        lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],]
    });
</script>
{% endblock scripts %}

{% endblock content %}
