{% if not pdf %}
{% extends "brs_layout.html" %}
{% else %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma/css/bulma.css') }}" />
{% endif %}
{% block content %}

{% if (current_user.user_type == "ro_user" and current_user.ro_code == brs_entry.brs.uiic_regional_code) or
(current_user.user_type == "oo_user" and current_user.oo_code == brs_entry.brs.uiic_office_code) or
(current_user.user_type == "admin") %}
<div class="container">
    <h1 class="title">View {{ brs_entry.brs_type.upper() }} BRS</h1>

    <table class="table is-bordered is-hoverable">
        <tr class="has-text-centered">
            <th>Regional office code</th>
            <th>Operating office code</th>
            <th>Financial year</th>
            <th>Month</th>
            <th>BRS type</th>
            <th>Bank</th>
        </tr>
        <tr>
            <td>{{ brs_entry.brs.uiic_regional_code }}</td>
            <td>{{ brs_entry.brs.uiic_office_code }}</td>
            <td>{{ brs_entry.brs.financial_year }}</td>
            <td>{{ brs_entry.brs.month }}</td>
            <td>{{ brs_entry.brs_type.upper() }}</td>
            <td>{{ brs_entry.brs.get_bank_for_type(brs_entry.brs_type) }}
            </td>
        </tr>
    </table>
    <strong>Summary of General Ledger</strong>
    <table class="table is-bordered is-hoverable">

        <tr>
            <th>Opening balance as per GL</th>
            <td>{{ brs_entry.brs.month | datetime_format("%B-%Y", "previous") }}</td>
            <td class="has-text-right">{{ brs_entry.int_opening_balance | indian_number_format }}</td>
        </tr>
        <tr>
            <td>Add: Opening On hand</td>
            <td>{{ brs_entry.brs.month | datetime_format("%B-%Y", "previous") }}</td>
            <td class="has-text-right">{{ brs_entry.int_opening_on_hand | indian_number_format }}</td>
        </tr>
        <tr>
            <td>Add: Collections during the month</td>
            <td>{{ brs_entry.brs.month }}</td>
            <td class="has-text-right">{{ brs_entry.int_transactions | indian_number_format }}</td>
        </tr>
        <tr>
            <td>Less: Cancellations / cheque dishonours during the month</td>
            <td>{{ brs_entry.brs.month }}</td>
            <td class="has-text-right">{{ brs_entry.int_cancellations | indian_number_format }}</td>
        </tr>
        <tr>
            <th>Balance before fund transfer</th>
            <td>{{ brs_entry.brs.month | datetime_format("%B-%Y", "current") }}</td>
            <td class="has-text-right">{{ (brs_entry.int_opening_balance + brs_entry.int_opening_on_hand
                + brs_entry.int_transactions - brs_entry.int_cancellations) | indian_number_format }}</td>
        </tr>

        <tr>
            <td>Less: Fund transfer</td>
            <td>{{ brs_entry.brs.month }}</td>
            <td class="has-text-right">{{ brs_entry.int_fund_transfer | indian_number_format }}</td>
        </tr>
        <tr>
            <td>Less: Bank charges</td>
            <td>{{ brs_entry.brs.month }}</td>
            <td class="has-text-right">{{ brs_entry.int_bank_charges | indian_number_format }}</td>
        </tr>
        <tr>
            <td>Less: Closing On hand</td>
            <td>{{ brs_entry.brs.month | datetime_format("%B-%Y", "current") }}</td>
            <td class="has-text-right">{{ brs_entry.int_closing_on_hand | indian_number_format }}</td>
        </tr>
        <tr>
            <th>Closing balance as per GL</th>
            <td>{{ brs_entry.brs.month | datetime_format("%B-%Y", "current") }}</td>
            <td class="has-text-right">{{ brs_entry.int_closing_balance | indian_number_format }}</td>
        </tr>
    </table>
    <strong>Bank reconciliation statement</strong>
    <table class="table is-bordered is-hoverable">
        <tr>
            <th>Closing balance as per GL</th>
            <td>{{ brs_entry.brs.month | datetime_format("%B-%Y", "current") }}</td>
            <td class="has-text-right">{{ brs_entry.int_closing_balance | indian_number_format }}</td>
        </tr>
        <tr>
            <td>Less: Deposited but not credited</td>
            <td>{{ brs_entry.brs.month | datetime_format("%B-%Y", "current") }}</td>
            <td class="has-text-right">{{ brs_entry.int_deposited_not_credited | indian_number_format }}</td>
        </tr>
        <tr>
            <td>Less: Short credit entries</td>
            <td>{{ brs_entry.brs.month | datetime_format("%B-%Y", "current") }}</td>
            <td class="has-text-right">{{ brs_entry.int_short_credited | indian_number_format }}</td>
        </tr>
        <tr>
            <td>Add: Excess credit entries</td>
            <td>{{ brs_entry.brs.month | datetime_format("%B-%Y", "current") }}</td>
            <td class="has-text-right">{{ brs_entry.int_excess_credited | indian_number_format }}</td>
        </tr>
        <tr>
            <th>Closing balance as per bank statement</th>
            <td>{{ brs_entry.brs.month | datetime_format("%B-%Y", "current") }}</td>
            <td class="has-text-right">{{ brs_entry.int_balance_as_per_bank | indian_number_format }}</td>
        </tr>
        {% if brs_entry.remarks %}
        <tr>
            <th>Remarks</th>
            <td colspan="2">{{ brs_entry.remarks }}</td>
        </tr>
        {% endif %}
    </table>

    {% if brs_entry.int_closing_balance != 0 %}

    <h3 class="title is-size-5">Details of closing balance:</h3>
    {% if brs_entry.int_deposited_not_credited > 0 %}
    <h3 class="title is-size-6">Deposited but not credited</h3>
    <table class="table is-bordered">
        <thead>
            <tr>
                <th>Date of collection</th>
                {% if not brs_entry.brs_type == "cash" %}
                <th>Instrument number</th>
                <th>Date of instrument</th>
                {% endif %}
                <th>Instrument amount</th>
                <th>Remarks</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                {% for item in brs_entry.brs_outstanding %}
                <td class="has-text-centered">
                    {% if item.date_of_collection %}
                    {{ item.date_of_collection.strftime("%d/%m/%Y") }}
                    {% else %}
                    No date of collection available
                    {% endif %}
                </td>

                {% if not brs_entry.brs_type == "cash" %}
                <td class="has-text-centered">{{ item.instrument_number }}</td>
                <td class="has-text-centered">
                    {% if item.date_of_instrument %}
                    {{ item.date_of_instrument.strftime("%d/%m/%Y") }}
                    {% else %}
                    No date of instrument available
                    {% endif %}
                    {% endif %}
                </td>
                <td class="has-text-right">{{ item.instrument_amount | indian_number_format }}</td>
                <td>{{ item.remarks or "" }}</td>
            </tr>
        </tbody>
        {% endfor %}
        <tfoot>
            <tr>

                {% if not brs_entry.brs_type == "cash" %}
                <td class="has-text-right has-text-weight-bold" colspan="3">Total: </td>
                {% else %}
                <td class="has-text-right has-text-weight-bold" colspan="1">Total: </td>
                {% endif %}
                <td class="has-text-right has-text-weight-bold">
                    {{ (brs_entry.brs_outstanding | sum(attribute="instrument_amount")) | indian_number_format }}</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    {% endif %}
    {% if brs_entry.int_short_credited > 0 %}
    <h3 class="title is-size-6">Short credited</h3>
    <table class="table is-bordered">
        <thead>
            <tr>
                <th>Date of collection</th>
                {% if not brs_entry.brs_type == "cash" %}
                <th>Instrument number</th>
                <th>Date of instrument</th>
                {% endif %}
                <th>Instrument amount</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for item in brs_entry.brs_short_credit %}
                <td class="has-text-centered">
                    {% if item.date_of_collection %}
                    {{ item.date_of_collection.strftime("%d/%m/%Y") }}
                    {% else %}
                    No date of collection available
                    {% endif %}
                </td>

                {% if not brs_entry.brs_type == "cash" %}
                <td class="has-text-centered">{{ item.instrument_number }}</td>
                <td class="has-text-centered">
                    {% if item.date_of_instrument %}
                    {{ item.date_of_instrument.strftime("%d/%m/%Y") }}
                    {% else %}
                    No date of instrument available
                    {% endif %}
                    {% endif %}
                </td>
                <td class="has-text-right">{{ item.instrument_amount | indian_number_format }}</td>
                <td>{{ item.remarks or "" }}</td>
            </tr>
        </tbody>
        {% endfor %}
        <tfoot>
            <tr>
                {% if not brs_entry.brs_type == "cash" %}
                <td class="has-text-right has-text-weight-bold" colspan="3">Total: </td>
                {% else %}
                <td class="has-text-right has-text-weight-bold" colspan="1">Total: </td>
                {% endif %}
                <td class="has-text-right has-text-weight-bold">
                    {{ (brs_entry.brs_short_credit | sum(attribute="instrument_amount")) | indian_number_format }}</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    {% endif %}
    {% if brs_entry.int_excess_credited > 0 %}
    <h3 class="title is-size-6"> Excess credited</h3>
    <table class="table is-bordered">
        <thead>
            <tr>
                <th>Date of collection</th>
                {% if not brs_entry.brs_type == "cash" %}
                <th>Instrument number</th>
                <th>Date of instrument</th>
                {% endif %}
                <th>Instrument amount</th>
                <th>Remarks</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                {% for item in brs_entry.brs_excess_credit %}
                <td class="has-text-centered">
                    {% if item.date_of_collection %}
                    {{ item.date_of_collection.strftime("%d/%m/%Y") }}
                    {% else %}
                    No date of collection available
                    {% endif %}
                </td>

                {% if not brs_entry.brs_type == "cash" %}
                <td class="has-text-centered">{{ item.instrument_number }}</td>
                <td class="has-text-centered">
                    {% if item.date_of_instrument %}
                    {{ item.date_of_instrument.strftime("%d/%m/%Y") }}
                    {% else %}
                    No date of instrument available
                    {% endif %}
                    {% endif %}
                </td>
                <td class="has-text-right">{{ item.instrument_amount | indian_number_format }}</td>
                <td>{{ item.remarks or "" }}</td>
            </tr>
        </tbody>
        {% endfor %}
        <tfoot>
            <tr>

                {% if not brs_entry.brs_type == "cash" %}
                <td class="has-text-right has-text-weight-bold" colspan="3">Total: </td>
                {% else %}
                <td class="has-text-right has-text-weight-bold" colspan="1">Total: </td>
                {% endif %}
                <td class="has-text-right has-text-weight-bold">
                    {{ (brs_entry.brs_excess_credit | sum(attribute="instrument_amount")) | indian_number_format }}</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    {% endif %}
    {% endif %}

    <div class="pb-5">
        Prepared by {{ brs_entry.prepared_by }} (Employee Number: {{ brs_entry.prepared_by_employee_number }}) on {{
        brs_entry.timestamp.strftime("%d/%m/%Y %H:%M") }}.
    </div>

    {% if not pdf %}
    <a class="button is-link" href="{{ url_for('brs.upload_brs', brs_key = brs_entry.brs_id) }}">Go back</a>
    <a class="button is-link" href="{{ url_for('brs.view_brs_pdf', brs_key = brs_entry.id) }}" target="_blank">Print as
        PDF</a>
    {% endif %}
</div>

{% endif %}
{% endblock content %}
