{% if not pdf %}
{% extends "brs_layout.html" %}
{% else %}
<style>
    @page {
        size: landscape legal;
        margin: 1cm;
    }
</style>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma/css/bulma.css') }}" />
{% endif %}
{% block content %}
{% if (current_user.user_type == "ro_user" and current_user.ro_code == brs_month.uiic_regional_code) or
(current_user.user_type == "oo_user" and current_user.oo_code == brs_month.uiic_office_code) or
(current_user.user_type == "admin") %}

<div class="container is-size-8 is-centered">

    <table class="table is-fullwidth is-bordered">
        <thead>
            <tr>
                <th class="has-text-centered">Regional office code</th>
                <th class="has-text-centered">Operating office code</th>
                <th class="has-text-centered">Financial year</th>
                <th class="has-text-centered">Month</th>
            </tr>
        </thead>
        <tbody>
            <tr class="has-text-centered">
                <td>{{ brs_month.uiic_regional_code }}</td>
                <td>{{ brs_month.uiic_office_code }}</td>
                <td>{{ brs_month.financial_year }}</td>
                <td>{{ brs_month.month }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table is-fullwidth is-bordered">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th class="has-text-centered is-vcentered">{% if cash_brs %} Cash {% endif %}</th>
                <th class="has-text-centered is-vcentered">{% if cheque_brs %} Cheque {% endif %}</th>
                <th class="has-text-centered is-vcentered">{% if pg_brs %} Payment Gateway {% endif %}</th>
                <th class="has-text-centered is-vcentered">{% if pos_brs %} POS {% endif %}</th>
                <th class="has-text-centered is-vcentered">{% if bbps_brs %} BBPS {% endif %}</th>
                <th class="has-text-centered is-vcentered">{% if local_collection_brs %} Local Collection {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th class="is-vcentered">BRS bank</th>
                <td></td>
                <td class="has-text-centered is-vcentered">{{ brs_month.cash_bank if cash_brs }} </td>
                <td class="has-text-centered is-vcentered">{{ brs_month.cheque_bank if cheque_brs }}</td>
                <td class="has-text-centered is-vcentered">{{ brs_month.pg_bank if pg_brs }}</td>
                <td class="has-text-centered is-vcentered">{{ brs_month.pos_bank if pos_brs }}</td>
                <td class="has-text-centered is-vcentered">{{ brs_month.bbps_bank if bbps_brs }}</td>
                <td class="has-text-centered is-vcentered">{{ brs_month.local_collection_bank if local_collection_brs }}
                </td>
            </tr>
            <tr>
                <td colspan="8" class="has-text-weight-bold">Summary of General Ledger</td>
            </tr>

            <tr class="has-text-weight-bold">
                <th>Opening balance as per GL</th>
                <td>{{ brs_month.month | datetime_format("%B-%Y", "previous") }}</td>
                <td class="has-text-right">{{ (cash_brs.int_opening_balance | indian_number_format) if cash_brs }}</td>
                <td class="has-text-right">{{ (cheque_brs.int_opening_balance | indian_number_format) if cheque_brs }}
                </td>
                <td class="has-text-right">{{ (pg_brs.int_opening_balance | indian_number_format) if pg_brs }}</td>
                <td class="has-text-right">{{ (pos_brs.int_opening_balance | indian_number_format) if pos_brs }}</td>
                <td class="has-text-right">{{ (bbps_brs.int_opening_balance | indian_number_format) if bbps_brs }}</td>
                <td class="has-text-right">{{ (local_collection_brs.int_opening_balance | indian_number_format) if
                    local_collection_brs }}</td>
            </tr>
            <tr>
                <td>Add: Opening On hand</td>
                <td>{{ brs_month.month | datetime_format("%B-%Y", "previous") }}</td>
                <td class="has-text-right">{{ (cash_brs.int_opening_on_hand | indian_number_format) if cash_brs }}</td>
                <td class="has-text-right">{{ (cheque_brs.int_opening_on_hand | indian_number_format) if cheque_brs }}
                </td>
                <td class="has-text-right">{{ (pg_brs.int_opening_on_hand | indian_number_format) if pg_brs }}</td>
                <td class="has-text-right">{{ (pos_brs.int_opening_on_hand | indian_number_format) if pos_brs }}</td>
                <td class="has-text-right">{{ (bbps_brs.int_opening_on_hand | indian_number_format) if bbps_brs }}</td>
                <td class="has-text-right">{{ (local_collection_brs.int_opening_on_hand | indian_number_format) if
                    local_collection_brs }}</td>
            </tr>
            <tr>
                <td>Add: Collections during the month</td>
                <td>{{ brs_month.month }}</td>
                <td class="has-text-right">{{ (cash_brs.int_transactions | indian_number_format) if cash_brs }}</td>
                <td class="has-text-right">{{ (cheque_brs.int_transactions | indian_number_format) if cheque_brs }}</td>
                <td class="has-text-right">{{ (pg_brs.int_transactions | indian_number_format) if pg_brs }}</td>
                <td class="has-text-right">{{ (pos_brs.int_transactions | indian_number_format) if pos_brs }}</td>
                <td class="has-text-right">{{ (bbps_brs.int_transactions | indian_number_format) if bbps_brs }}</td>
                <td class="has-text-right">{{ (local_collection_brs.int_transactions | indian_number_format) if
                    local_collection_brs }}</td>
            </tr>
            <tr>
                <td>Less: Cancellations / cheque dishonours during the month</td>
                <td>{{ brs_month.month }}</td>
                <td class="has-text-right">{{ (cash_brs.int_cancellations | indian_number_format) if cash_brs }}</td>
                <td class="has-text-right">{{ (cheque_brs.int_cancellations | indian_number_format) if cheque_brs }}
                </td>
                <td class="has-text-right">{{ (pg_brs.int_cancellations | indian_number_format) if pg_brs }}</td>
                <td class="has-text-right">{{ (pos_brs.int_cancellations | indian_number_format) if pos_brs }}</td>
                <td class="has-text-right">{{ (bbps_brs.int_cancellations | indian_number_format) if bbps_brs }}</td>
                <td class="has-text-right">{{ (local_collection_brs.int_cancellations | indian_number_format) if
                    local_collection_brs }}</td>
            </tr>
            <tr class="has-text-weight-bold">
                <td>Balance before fund transfer</td>
                <td>{{ brs_month.month | datetime_format("%B-%Y", "current") }}</td>
                <td class="has-text-right">{{ ((cash_brs.int_opening_balance +
                    cash_brs.int_opening_on_hand + cash_brs.int_transactions - cash_brs.int_cancellations) |
                    indian_number_format) if cash_brs
                    }}</td>
                <td class="has-text-right">{{ ((cheque_brs.int_opening_balance +
                    cheque_brs.int_opening_on_hand + cheque_brs.int_transactions - cheque_brs.int_cancellations) |
                    indian_number_format) if
                    cheque_brs }}</td>
                <td class="has-text-right">{{ ((pg_brs.int_opening_balance + pg_brs.int_opening_on_hand +
                    pg_brs.int_transactions - pg_brs.int_cancellations) | indian_number_format) if pg_brs }}</td>
                <td class="has-text-right">{{ ((pos_brs.int_opening_balance + pos_brs.int_opening_on_hand
                    + pos_brs.int_transactions - pos_brs.int_cancellations) | indian_number_format) if pos_brs }}</td>
                <td class="has-text-right">{{ ((bbps_brs.int_opening_balance +
                    bbps_brs.int_opening_on_hand + bbps_brs.int_transactions - bbps_brs.int_cancellations) |
                    indian_number_format) if bbps_brs
                    }}</td>
                <td class="has-text-right">{{ ((local_collection_brs.int_opening_balance +
                    local_collection_brs.int_opening_on_hand + local_collection_brs.int_transactions -
                    local_collection_brs.int_cancellations) | indian_number_format) if local_collection_brs }}</td>
            </tr>
            <tr>
                <td>Less: Fund transfer</td>
                <td>{{ brs_month.month }}</td>
                <td class="has-text-right">{{ (cash_brs.int_fund_transfer | indian_number_format) if cash_brs }}</td>
                <td class="has-text-right">{{ (cheque_brs.int_fund_transfer | indian_number_format) if cheque_brs }}
                </td>
                <td class="has-text-right">{{ (pg_brs.int_fund_transfer | indian_number_format) if pg_brs }}</td>
                <td class="has-text-right">{{ (pos_brs.int_fund_transfer | indian_number_format) if pos_brs }}</td>
                <td class="has-text-right">{{ (bbps_brs.int_fund_transfer | indian_number_format) if bbps_brs }}</td>
                <td class="has-text-right">{{ (local_collection_brs.int_fund_transfer | indian_number_format) if
                    local_collection_brs }}</td>
            </tr>

            <tr>
                <td>Less: Bank charges</td>
                <td>{{ brs_month.month }}</td>
                <td class="has-text-right">{{ (cash_brs.int_bank_charges | indian_number_format) if cash_brs }}</td>
                <td class="has-text-right">{{ (cheque_brs.int_bank_charges | indian_number_format) if cheque_brs }}</td>
                <td class="has-text-right">{{ (pg_brs.int_bank_charges | indian_number_format) if pg_brs }}</td>
                <td class="has-text-right">{{ (pos_brs.int_bank_charges | indian_number_format) if pos_brs }}</td>
                <td class="has-text-right">{{ (bbps_brs.int_bank_charges | indian_number_format) if bbps_brs }}</td>
                <td class="has-text-right">{{ (local_collection_brs.int_bank_charges | indian_number_format) if
                    local_collection_brs }}</td>
            </tr>
            <tr>
                <td>Less: Closing On hand</td>
                <td>{{ brs_month.month | datetime_format("%B-%Y", "current") }}</td>
                <td class="has-text-right">{{ (cash_brs.int_closing_on_hand | indian_number_format) if cash_brs }}</td>
                <td class="has-text-right">{{ (cheque_brs.int_closing_on_hand | indian_number_format) if cheque_brs }}
                </td>
                <td class="has-text-right">{{ (pg_brs.int_closing_on_hand | indian_number_format) if pg_brs }}</td>
                <td class="has-text-right">{{ (pos_brs.int_closing_on_hand | indian_number_format) if pos_brs }}</td>
                <td class="has-text-right">{{ (bbps_brs.int_closing_on_hand | indian_number_format) if bbps_brs }}</td>
                <td class="has-text-right">{{ (local_collection_brs.int_closing_on_hand | indian_number_format) if
                    local_collection_brs }}</td>
            </tr>
            <tr class="has-text-weight-bold">
                <th>Closing balance as per GL</th>
                <td>{{ brs_month.month | datetime_format("%B-%Y", "current") }}</td>
                <td class="has-text-right">{{ (cash_brs.int_closing_balance | indian_number_format) if cash_brs }}</td>
                <td class="has-text-right">{{ (cheque_brs.int_closing_balance | indian_number_format) if cheque_brs }}
                </td>
                <td class="has-text-right">{{ (pg_brs.int_closing_balance | indian_number_format) if pg_brs }}</td>
                <td class="has-text-right">{{ (pos_brs.int_closing_balance | indian_number_format) if pos_brs }}</td>
                <td class="has-text-right">{{ (bbps_brs.int_closing_balance | indian_number_format) if bbps_brs }}</td>
                <td class="has-text-right">{{ (local_collection_brs.int_closing_balance | indian_number_format) if
                    local_collection_brs }}</td>
            </tr>

            <tr>
                <td colspan="8" class="has-text-weight-bold">Bank reconciliation statement</td>
            </tr>
            <tr class="has-text-weight-bold">
                <th>Closing balance as per GL</th>
                <td>{{ brs_month.month | datetime_format("%B-%Y", "current") }}</td>
                <td class="has-text-right">{{ (cash_brs.int_closing_balance | indian_number_format) if cash_brs }}</td>
                <td class="has-text-right">{{ (cheque_brs.int_closing_balance | indian_number_format) if cheque_brs }}
                </td>
                <td class="has-text-right">{{ (pg_brs.int_closing_balance | indian_number_format) if pg_brs }}</td>
                <td class="has-text-right">{{ (pos_brs.int_closing_balance | indian_number_format) if pos_brs }}</td>
                <td class="has-text-right">{{ (bbps_brs.int_closing_balance | indian_number_format) if bbps_brs }}</td>
                <td class="has-text-right">{{ (local_collection_brs.int_closing_balance | indian_number_format) if
                    local_collection_brs }}</td>
            </tr>
            <tr>
                <td>Less: Deposited but not credited</td>
                <td>{{ brs_month.month | datetime_format("%B-%Y", "current") }}</td>
                <td class="has-text-right">{{ (cash_brs.int_deposited_not_credited | indian_number_format) if cash_brs
                    }}</td>
                <td class="has-text-right">{{ (cheque_brs.int_deposited_not_credited | indian_number_format) if
                    cheque_brs }}
                </td>
                <td class="has-text-right">{{ (pg_brs.int_deposited_not_credited | indian_number_format) if pg_brs }}
                </td>
                <td class="has-text-right">{{ (pos_brs.int_deposited_not_credited | indian_number_format) if pos_brs }}
                </td>
                <td class="has-text-right">{{ (bbps_brs.int_deposited_not_credited | indian_number_format) if bbps_brs
                    }}</td>
                <td class="has-text-right">{{ (local_collection_brs.int_deposited_not_credited | indian_number_format)
                    if
                    local_collection_brs }}</td>
            </tr>

            <tr>
                <td>Less: Short credit entries</td>
                <td>{{ brs_month.month | datetime_format("%B-%Y", "current") }}</td>
                <td class="has-text-right">{{ (cash_brs.int_short_credited | indian_number_format) if cash_brs }}</td>
                <td class="has-text-right">{{ (cheque_brs.int_short_credited | indian_number_format) if cheque_brs }}
                </td>
                <td class="has-text-right">{{ (pg_brs.int_short_credited | indian_number_format) if pg_brs }}</td>
                <td class="has-text-right">{{ (pos_brs.int_short_credited | indian_number_format) if pos_brs }}</td>
                <td class="has-text-right">{{ (bbps_brs.int_short_credited | indian_number_format) if bbps_brs }}</td>
                <td class="has-text-right">{{ (local_collection_brs.int_short_credited | indian_number_format) if
                    local_collection_brs }}</td>
            </tr>
            <tr>
                <td>Add: Excess credit entries</td>
                <td>{{ brs_month.month | datetime_format("%B-%Y", "current") }}</td>
                <td class="has-text-right">{{ (cash_brs.int_excess_credited | indian_number_format) if cash_brs }}</td>
                <td class="has-text-right">{{ (cheque_brs.int_excess_credited | indian_number_format) if cheque_brs }}
                </td>
                <td class="has-text-right">{{ (pg_brs.int_excess_credited | indian_number_format) if pg_brs }}</td>
                <td class="has-text-right">{{ (pos_brs.int_excess_credited | indian_number_format) if pos_brs }}</td>
                <td class="has-text-right">{{ (bbps_brs.int_excess_credited | indian_number_format) if bbps_brs }}</td>
                <td class="has-text-right">{{ (local_collection_brs.int_excess_credited | indian_number_format) if
                    local_collection_brs }}</td>
            </tr>
            <tr class="has-text-weight-bold">
                <th>Closing balance as per bank statement</th>
                <td>{{ brs_month.month | datetime_format("%B-%Y", "current") }}</td>
                <td class="has-text-right">{{ (cash_brs.int_balance_as_per_bank | indian_number_format) if cash_brs }}
                </td>
                <td class="has-text-right">{{ (cheque_brs.int_balance_as_per_bank | indian_number_format) if cheque_brs
                    }}</td>
                <td class="has-text-right">{{ (pg_brs.int_balance_as_per_bank | indian_number_format) if pg_brs }}</td>
                <td class="has-text-right">{{ (pos_brs.int_balance_as_per_bank | indian_number_format) if pos_brs }}
                </td>
                <td class="has-text-right">{{ (bbps_brs.int_balance_as_per_bank | indian_number_format) if bbps_brs }}
                </td>
                <td class="has-text-right">{{ (local_collection_brs.int_balance_as_per_bank | indian_number_format) if
                    local_collection_brs }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% if pdf %}
<table class="mt-5 table is-centered is-fullwidth is-bordered">
    <thead>
        <tr>
            <th class="has-text-centered">Accounts officer</th>
            <th class="has-text-centered">Accounts incharge</th>
            <th class="has-text-centered">Regional accountant</th>
            <th class="has-text-centered">Regional manager / incharge</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="is-invisible">Dummy text for height padding</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

{% endif %}

{% if not pdf %}
<div class="mt-5 has-text-centered">
    <a class="button is-link" href="{{ url_for('brs.upload_brs', brs_key = brs_month.id) }}">Go back</a>
    <a class="button is-link" href="{{ url_for('brs.view_consolidated_brs_pdf', brs_key = brs_month.id) }}"
        target="_blank">
        Print as PDF</a>
</div>
{% endif %}
{% endif %}
{% endblock content %}
