{% if display == "html" %}
{% extends "brs_layout.html" %}
{% else %}
<title>View {{ brs_entry.brs_type.upper() }} BRS</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma/css/bulma.css') }}" />
{% endif %}
{% block content %}
{% from "brs_macro_templates.html" import render_brs_table, render_brs_details %}

<div class="container">
    <h1 class="title">View {{ brs_entry.brs_type.upper() }} BRS</h1>
    {{ render_brs_details(brs_entry.brs, brs_entry.brs_type) }}

    <strong>Summary of General Ledger</strong>
    <table class="table is-bordered is-hoverable">

        <tr>
            <th>Opening balance as per GL</th>
            <td>{{ brs_entry.brs.month | datetime_format("%B-%Y", "previous") }}</td>
            <td class="has-text-right">{{ brs_entry.int_opening_balance | indian_number_format }}</td>
        </tr>
        <tr>
            <td>Add: Opening On hand</td>
            <td>{{ brs_entry.brs.month | datetime_format("%B-%Y", "previous") }}</td>
            <td class="has-text-right">{{ brs_entry.int_opening_on_hand | indian_number_format }}</td>
        </tr>
        <tr>
            <td>Add: Collections during the month</td>
            <td>{{ brs_entry.brs.month }}</td>
            <td class="has-text-right">{{ brs_entry.int_transactions | indian_number_format }}</td>
        </tr>
        <tr>
            <td>Less: Cancellations / cheque dishonours during the month</td>
            <td>{{ brs_entry.brs.month }}</td>
            <td class="has-text-right">{{ brs_entry.int_cancellations | indian_number_format }}</td>
        </tr>
        <tr>
            <th>Balance before fund transfer</th>
            <td>{{ brs_entry.brs.month | datetime_format("%B-%Y", "current") }}</td>
            <td class="has-text-right">{{ (brs_entry.int_opening_balance + brs_entry.int_opening_on_hand
                + brs_entry.int_transactions - brs_entry.int_cancellations) | indian_number_format }}</td>
        </tr>

        <tr>
            <td>Less: Fund transfer</td>
            <td>{{ brs_entry.brs.month }}</td>
            <td class="has-text-right">{{ brs_entry.int_fund_transfer | indian_number_format }}</td>
        </tr>
        <tr>
            <td>Less: Bank charges</td>
            <td>{{ brs_entry.brs.month }}</td>
            <td class="has-text-right">{{ brs_entry.int_bank_charges | indian_number_format }}</td>
        </tr>
        <tr>
            <td>Less: Closing On hand</td>
            <td>{{ brs_entry.brs.month | datetime_format("%B-%Y", "current") }}</td>
            <td class="has-text-right">{{ brs_entry.int_closing_on_hand | indian_number_format }}</td>
        </tr>
        <tr>
            <th>Closing balance as per GL</th>
            <td>{{ brs_entry.brs.month | datetime_format("%B-%Y", "current") }}</td>
            <td class="has-text-right">{{ brs_entry.int_closing_balance | indian_number_format }}</td>
        </tr>
    </table>
    <strong>Bank reconciliation statement</strong>
    <table class="table is-bordered is-hoverable">
        <tr>
            <th>Closing balance as per GL</th>
            <td>{{ brs_entry.brs.month | datetime_format("%B-%Y", "current") }}</td>
            <td class="has-text-right">{{ brs_entry.int_closing_balance | indian_number_format }}</td>
        </tr>
        <tr>
            <td>Less: Deposited but not credited</td>
            <td>{{ brs_entry.brs.month | datetime_format("%B-%Y", "current") }}</td>
            <td class="has-text-right">{{ brs_entry.int_deposited_not_credited | indian_number_format }}</td>
        </tr>
        <tr>
            <td>Less: Short credit entries</td>
            <td>{{ brs_entry.brs.month | datetime_format("%B-%Y", "current") }}</td>
            <td class="has-text-right">{{ brs_entry.int_short_credited | indian_number_format }}</td>
        </tr>
        <tr>
            <td>Add: Excess credit entries</td>
            <td>{{ brs_entry.brs.month | datetime_format("%B-%Y", "current") }}</td>
            <td class="has-text-right">{{ brs_entry.int_excess_credited | indian_number_format }}</td>
        </tr>
        <tr>
            <th>Closing balance as per bank statement</th>
            <td>{{ brs_entry.brs.month | datetime_format("%B-%Y", "current") }}</td>
            <td class="has-text-right">{{ brs_entry.int_balance_as_per_bank | indian_number_format }}</td>
        </tr>
        {% if brs_entry.remarks %}
        <tr>
            <th>Remarks</th>
            <td colspan="2">{{ brs_entry.remarks }}</td>
        </tr>
        {% endif %}
    </table>

    {% if (brs_entry.int_closing_balance != 0) or (brs_entry.int_balance_as_per_bank != 0) %}

    <h3 class="title is-size-5">Details of closing balance:</h3>
    {{ render_brs_table("Deposited but not credited", brs_entry.int_deposited_not_credited, brs_entry.brs_outstanding,
    brs_entry.brs_type) }}
    {{ render_brs_table("Short credited", brs_entry.int_short_credited, brs_entry.brs_short_credit, brs_entry.brs_type)
    }}
    {{ render_brs_table("Excess credited", brs_entry.int_excess_credited, brs_entry.brs_excess_credit,
    brs_entry.brs_type) }}

    {% endif %}

    <div class="pb-5">
        Prepared by {{ brs_entry.prepared_by }} (Employee Number: {{ brs_entry.prepared_by_employee_number }}) on {{
        brs_entry.timestamp.strftime("%d/%m/%Y %H:%M") }}.
    </div>

    {% if display == "html" %}
    <a class="button is-link" href="{{ url_for('brs.upload_brs', brs_key = brs_entry.brs_id) }}">Go back</a>
    <a class="button is-link" href="{{ url_for('brs.view_brs', brs_key = brs_entry.id, display = 'pdf') }}"
        target="_blank">Print as
        PDF</a>
    {% endif %}
</div>

{% endblock content %}
