{% extends "kb_layout.html" %}
{% block content %}

{% from "form_field_helpers_macro.html" import render_field_table %}
<div class="container">
    <h1 class="title">{{ title }}</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}

        <table class="table is-fullwidth">

            {{ render_field_table(form.topic) }}
            {{ render_field_table(form.title) }}

            <tr>
                <th>{{ form.knowledge_base_document.label }}</th>
                <td>
                    {% if not kb %}
                    {{ form.knowledge_base_document(class="file") }}
                    {% else %}
                    <a href="{{ url_for('knowledge_base.download_kb_document', kb_id = key) }}">Download document</a>
                    {% endif %}
                </td>
            </tr>
            {{ render_field_table(form.is_visible) }}
            {{ render_field_table(form.status) }}

        </table>
        <div class="has-text-centered">
            <button class="button is-success">Save</button>
        </div>
    </form>
    {% for field, errors in form.errors.items() %}
    <div class="notification is-danger">
        {{ field }} {{ ', '.join(errors) }}
    </div>
    {% endfor %}
</div>

{% endblock content %}
