*.pyc
*~
*.swp
.cfac_portal/*
.cfac_portal_v2/*
.vscode/*
settlements/*
ri_confirmations/*
statements/*
confirmations/*
contracts/*
.idea/*
knowledge_base/*
migrations/*
python-packages/*
*.csv
*.txt
data/*
funds_jv/*
*.sql
