minimum_pre_commit_version: 2.9.0
repos:
-   repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.36.4
    hooks:
    -   id: djlint-jinja
        files: \.html
        types_or:
        - html
          #- repo: https://github.com/Zac-HD/shed
          #  rev: 0.10.9
          #  hooks:
          #    - id: shed
          #      # args: [--refactor, --py39-plus]
          #      types_or: [python, pyi, markdown, rst]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: debug-statements
    -   id: name-tests-test
    -   id: requirements-txt-fixer
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.14
    hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
