alembic==1.15.2
astroid==3.3.10
babel==2.17.0
black==25.1.0
blinker==1.9.0
Brotli==1.1.0
calplot==0.1.7.5
certifi==2025.4.26
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.2.0
colorama==0.4.6
contourpy==1.3.2
cryptography==44.0.3
cssbeautifier==1.15.4
cssselect2==0.8.0
cycler==0.12.1
dill==0.4.0
distlib==0.3.9
djlint==1.36.4
EditorConfig==0.17.0
et_xmlfile==2.0.0
filelock==3.18.0
Flask==3.1.1
Flask-Admin==1.6.1
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
flask_weasyprint==1.1.0
fonttools==4.58.0
greenlet==3.2.2
gunicorn==23.0.0
html-tag-names==0.1.2
html-void-elements==0.1.0
html5lib==1.1
humanize==4.12.3
identify==2.6.10
idna==3.10
iniconfig==2.1.0
isort==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
jsbeautifier==1.15.4
json5==0.12.0
kiwisolver==1.4.8
Mako==1.3.10
MarkupSafe==3.0.2
matplotlib==3.10.3
mccabe==0.7.0
msgpack==1.1.0
mypy_extensions==1.1.0
nodeenv==1.9.1
numpy==2.2.5
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pathspec==0.12.1
pdfminer.six==20250327
pdfplumber==0.11.6
pillow==11.2.1
platformdirs==4.3.8
pluggy==1.6.0
pre_commit==4.2.0
psycopg2==2.9.10
pycparser==2.22
pydyf==0.11.0
pylint==3.3.7
pynvim==0.5.2
pyparsing==3.2.3
pypdf==5.5.0
pypdfium2==4.30.1
pyphen==0.17.2
pyright==1.1.400
pytest==8.3.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
ruff==0.11.10
six==1.17.0
SQLAlchemy==2.0.41
tinycss2==1.4.0
tinyhtml5==2.0.0
tomli==2.2.1
tomlkit==0.13.2
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
virtualenv==20.31.2
waitress==3.0.2
weasyprint==65.1
webencodings==0.5.1
Werkzeug==3.1.3
WTForms==3.2.1
WTForms-SQLAlchemy==0.4.2
XlsxWriter==3.2.3
zopfli==0.2.3.post1
