{% extends "budget_layout.html" %}

{% block content %}

<div class="container">
    <h1 class="title">Upload budget allocation</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <table class="table">
            <tr>
                <td>{{ form.str_financial_year.label }}</td>
                <td>{{ form.str_financial_year(class="select") }}</td>
            </tr>
            <tr>
                <td>{{ form.str_type.label }}</td>
                <td>{{ form.str_type(class="radio") }}</td>
            </tr>
            <tr>
                <td>{{ form.str_budget_allocation.label }}</td>
                <td>{{ form.str_budget_allocation(class="file") }}</td>
            </tr>

        </table>
        {{ form.submit(class="button is-success") }}
    </form>
    {% for field in form %}
    {% if field.errors %}
    <div class="notification is-danger">
        {{ field.label }} field is to be completed.
    </div>
    {% endif %}
    {% endfor %}

    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
    <div class="notification is-success">
        <p>{{ message }}</p>
    </div>
    {% endfor %}

    {% endwith %}
</div>
{% endblock content %}
