<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Accounts" />
    <meta name="description" content="Accounts" />
    <title>CFAC Portal</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma/css/bulma.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='payments.css') }}" />
</head>

<body>
    <header>
        <nav class="navbar has-background-danger-light" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="navbar-start">

                    <a class="navbar-item" href="{{ url_for('main.index') }}">Home</a>
                    <a class="navbar-item" href="{{ url_for('budget.view_budget_utilization')}}">Budget
                        utilization</a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Upload</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{{ url_for('budget.upload_allocation') }}">Upload
                                allocation</a>
                            <a class="navbar-item" href="{{ url_for('budget.upload_utilization') }}">Upload
                                utilization</a>

                        </div>
                    </div>

                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if not current_user.is_authenticated %}

                        <div>
                            <a class="button is-link" href="{{ url_for('users.login_page') }}"> Login</a>
                            {% else %}
                            <a class="button"> {{ current_user.username }} </a>
                            <a class="button is-link" href="{{ url_for('users.logout_page') }}"> Log out</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container is-fluid is-max-desktop mt-5 mb-5">

        {% block content %}{% endblock content %}

    </div>
    <script type="text/javascript" charset="utf8"
        src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>
    {% block scripts %}

    {% endblock scripts %}

</body>

</html>
