{% extends "ho_ro_recon_layout.html" %}
{% block content %}

<div class="container is-fluid">

    <table class="table is-fullwidth is-bordered is-hoverable" id="recon_table">
        <thead>
            <tr>
                <th></th>
                <th>Period</th>
                <th>RO Code</th>
                <th>Department / Region</th>
                <th>Debit / Credit</th>
                <th>Amount</th>
                <th>Remarks</th>
                <th>Status</th>
                <th>Assigned to</th>
                <th>HO remarks</th>
                <th>HO voucher number</th>
                <th>Date of passing HO voucher</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>{% for item in query %}

            {% if (current_user.ro_code == item['str_regional_office_code']) and
            (item['str_head_office_status'] == "Not accepted") %}
            <!-- djlint:off -->
            <tr class="has-background-danger-light">
                {% elif item['str_assigned_to'] == current_user.username.upper() %}
            <tr class="has-background-info">
                <!-- djlint:on -->
                {% else %}
            <tr>
                {% endif %}
                <td>{{ item['id'] }}</td>
                <td>{{ item['str_period'] }}</td>
                <td>{{ item['str_regional_office_code'] }}</td>
                <td>{{ item['str_department'] or item['str_target_ro_code'] }} </td>
                <td>{{ item['str_debit_credit'] }}</td>
                <td>{{ item['amount_recon'] }}</td>
                <td>{{ item['txt_remarks'] }}</td>
                <td>{{ item['str_head_office_status'] }}</td>
                <td>{{ item['str_assigned_to'] }}</td>
                <td>{{ item['txt_head_office_remarks'] }}</td>
                <td>{{ item['str_head_office_voucher'] }}</td>
                <td>{{ item['date_head_office_voucher'] }}</td>
                <td>View</td>
                <td>
                    {% if item['str_regional_office_code'] == current_user.ro_code %}

                    <a href="{{ url_for('ho_ro_recon.update_source_ro', key=item['id']) }}">
                        Edit</a>
                    {% elif item['str_target_ro_code'] == current_user.ro_code %}
                    <a href="{{ url_for('ho_ro_recon.update_target_ro', key=item['id']) }}">

                        Edit</a>
                    {% elif current_user.user_type == "admin" %}
                    <a href="{{ url_for('ho_ro_recon.update_ho', key=item['id']) }}">

                        Edit</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
