{% extends "ho_ro_recon_layout.html" %}

{% block content %}
{% from "form_field_helpers_macro.html" import render_field_table %}
<div class="container">
    {% for field in form %}
    {% if field.errors %}
    <div class="notification is-danger">
        <button class="delete"></button>
        {{ field.label }}: {{ field.errors[0] }}
    </div>
    {% endif %}
    {% endfor %}

    {% include "partials/messages.html" %}

    <form method="post">
        {{ form.csrf_token }}

        <table class="table">
            {{ render_field_table(form.str_period) }}
            {{ render_field_table(form.str_department_inter_region) }}
            {% if recon and recon.str_target_ro_code %}
            {{ render_field_table(form.str_target_ro_code) }}
            {% else %}
            {{ render_field_table(form.str_target_ro_code, disabled=disabled) }}
            {% endif %}
            {% if recon and recon.str_department %}
            {{ render_field_table(form.str_department) }}
            {% else %}
            {{ render_field_table(form.str_department, disabled=disabled) }}
            {% endif %}
            {{ render_field_table(form.str_debit_credit) }}
            {{ render_field_table(form.amount_recon) }}
            {{ render_field_table(form.txt_remarks) }}

        </table>

        <div class="has-text-centered">
            {% if not recon %}
            {{ form.submit_button(class="button is-success") }}
            {% else %}
            {% if check_for_status(recon) %}
            {{ form.submit_button(class="button is-success") }}
            {{ form.delete_button(class="button is-danger") }}
            {% else %}
            {{ form.submit_button(class="button is-success", disabled=disabled) }}
            {{ form.delete_button(class="button is-danger", disabled=disabled) }}
            {% endif %}
            {% endif %}
        </div>
    </form>
</div>
{% block scripts %}
<script>

    document.getElementById('str_department_inter_region-0').addEventListener('change', (event) => {
        if (event.target.checked) {
            document.getElementById('str_target_ro_code').disabled = false;
            document.getElementById('str_department').disabled = true;
        }
    });

    document.getElementById('str_department_inter_region-1').addEventListener('change', (event) => {
        if (event.target.checked) {
            document.getElementById('str_target_ro_code').disabled = true;
            document.getElementById('str_department').disabled = false;
        }
    });

</script>
{% endblock scripts %}
{% endblock content %}
