{% extends "ho_ro_recon_layout.html" %}

{% block content %}
{% from "form_field_helpers_macro.html" import render_field_table %}
<div class="container">
    {% for field in form %}
    {% if field.errors %}
    <div class="notification is-danger">
        <button class="delete"></button>
        {{ field.label }}: {{ field.errors[0] }}
    </div>
    {% endif %}
    {% endfor %}

    {% include "partials/messages.html" %}
    <form method="post">
        {{ form.csrf_token }}
        <table class="table">
            <tr>
                <th>Period</th>
                <td>{{ recon.str_period }}</td>
            </tr>
            <tr>
                <th>Source Regional Office</th>
                <td>{{ recon.str_regional_office_code }}</td>
            </tr>
            <tr>
                <th>Accepting Regional Office</th>
                <td>{{ recon.str_target_ro_code }}</td>
            </tr>
            <tr>
                <th>Debit / Credit</th>
                <td>{{ recon.str_debit_credit }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ recon.amount_recon }}</td>
            </tr>
            <tr>
                <th>Remarks</th>
                <td>{{ recon.txt_remarks }}</td>
            </tr>

            {{ render_field_table(form.str_accept) }}
            {{ render_field_table(form.text_remarks) }}

        </table>
        <div class="has-text-centered">
            {% if check_for_status(recon) %}
            {{ form.submit_button(class="button is-success") }}
            {% else %}
            {{ form.submit_button(class="button is-success", disabled=disabled) }}
            {% endif %}
        </div>
    </form>
</div>
{% endblock content %}
