{% extends "contracts_layout.html" %}
{% block content %}
<h1 class="title">List of {{ status }} contracts</h1>

<table class="table is-bordered is-striped is-hoverable is-fullwidth" id="contracts_table">
    <thead>
        <tr>
            <th class="has-text-centered is-vcentered">Name of vendor</th>
            <th class="has-text-centered is-vcentered">Purpose</th>
            <th class="has-text-centered is-vcentered">Start date</th>
            <th class="has-text-centered is-vcentered">End date</th>
            <th class="has-text-centered is-vcentered">EMD</th>
            <th class="has-text-centered is-vcentered">Status</th>
            <th class="has-text-centered is-vcentered">Notice</th>
            <th class="has-text-centered is-vcentered">Renewal terms</th>

            <th class="has-text-centered is-vcentered">Contract file</th>
            <th class="has-text-centered is-vcentered">View</th>
            <th class="has-text-centered is-vcentered">Edit</th>
        </tr>
    </thead>

    <tbody>
        {% for entry in query %}

        {% if entry['end_date'] < today %} <!-- djlint:off -->
            <tr class="has-text-danger">
                <!-- djlint:on -->
                {% else %}
            <tr>
                {% endif %}

                <td>{{ entry['vendor'] }}</td>
                <td>{{ entry['purpose'] }}</td>
                <td class="has-text-centered" data-sort="{{ entry['start_date'] }}">{{
                    entry['start_date'].strftime("%d/%m/%Y") }}</td>
                <td class="has-text-centered" data-sort="{{ entry['end_date'] }}">{{
                    entry['end_date'].strftime("%d/%m/%Y") }}</td>
                <td class="has-text-right">{{ entry['emd'] }}</td>
                <td>
                    {% if entry['end_date'] %}
                    {{ compare_end_date(entry['end_date']) }}
                    {% endif %}
                </td>
                <td>{{ entry['notice_period'] }}</td>
                <td>{{ entry['renewal'] }}</td>

                <td>
                    {% if entry['contract_file'] %}
                    <a href="{{ url_for('contracts.download_contract_document', contract_id=entry.id) }}">Download</a>
                    {% else %}
                    No documents uploaded
                    {% endif %}
                </td>
                <td><a href="{{ url_for('contracts.view_contract', contract_id = entry.id) }}">View</a></td>
                <td><a href="{{ url_for('contracts.edit_contract', contract_id= entry.id ) }}">Edit</a></td>

            </tr>
            {% endfor %}
    </tbody>
</table>

{% block scripts %}
<script>

    new DataTable('#contracts_table', {
        layout: {
            top1start: 'pageLength',
            topStart: 'buttons',

        },
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],
        order: [[3, 'asc']],
        pagingType: 'full_numbers',

    });
</script>
{% endblock scripts %}
{% endblock content %}
