<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Lien" />
    <meta name="description" content="Lien" />
    <title>Lien</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            font-family: Arial, sans-serif;
            font-size: 14px;
        }

        th,
        td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .header {
            margin-bottom: 15px;
        }
    </style>
</head>

<body>

    <p>
        With reference to the attached court order, the banker has lien marked our account for an amount of Rs. {{
        lien.lien_amount }}. Kindly take it up with the concerned office to confirm the current status of the case
        and provide appeal, stay or lien reversal order availed, if any, in this regard on priority.

        All the case-related details have been uploaded on the CFAC portal. You may refer to Lien ID #{{ lien.id }} to
        view
        the case information. Kindly take necessary steps and update the status in CFAC portal.
    </p>

    <table>
        <tr>
            <th>Lien ID</th>
            <td>{{ lien.lien_number }}</td>
        </tr>
        <tr>
            <th>RO code</th>
            <td>{{ lien.lien_number }}</td>
        </tr>
        <tr>
            <th>RO name</th>
            <td>{{ lien.ro_name }}</td>
        </tr>
        <tr>
            <th>Lien Amount</th>
            <td>{{ lien.lien_amount }}</td>
        </tr>
        {% if lien.lien_date %}
        <tr>
            <th>Date of Lien</th>
            <td>{{ lien.lien_date.strftime("%d-%m-%Y") }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Court Name</th>
            <td>{{ lien.court_name }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ lien.status }}</td>
        </tr>
    </table>

    {% if lien.court_order_lien %}
    <p>
        Please find attached the relevant court order.
    </p>
    {% endif %}

</body>

</html>
