<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Accounts" />
    <meta name="description" content="Accounts" />
    <title>CFAC Portal | Tickets</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='payments.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma/css/bulma.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}" />
</head>

<body>
    <header>
        <nav class="navbar is-info has-shadow" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="navbar-start">
                    <a class="navbar-item" href="{{ url_for('main.index') }}">Home</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="{{ url_for('.filter_by_status', status='all') }}">Tickets
                            home</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{{ url_for('.filter_by_status', status='Pending for CFAC approval',
                            ) }}">Pending for CFAC approval</a>
                            <a class="navbar-item" href="{{ url_for('.filter_by_status', status='Clarification to be provided by RO or OO'
                                ) }}">Needs clarification</a>
                            <a class="navbar-item"
                                href="{{ url_for('.filter_by_status', status='Approval provided by CFAC' ) }}">Approved</a>
                            <a class="navbar-item" href="{{ url_for('.filter_by_status', status='Resolved' )
                                }}">Resolved</a>
                            <a class="navbar-item" href="{{ url_for('.filter_by_status', status='No longer relevant'
                                ) }}">No longer relevant</a>
                        </div>
                    </div>
                    <a class="navbar-item" href="{{ url_for('.add_ticket') }}">Add ticket details</a>
                    {% if current_user.user_type == "admin" %}
                    <a class="navbar-item" href="{{ url_for('.tickets_dashboard') }}">Tickets dashboard</a>
                    {% endif %}
                </div>
            </div>
            {% include "partials/navbar_user_details.html" %}
        </nav>
    </header>

    <div class="container is-fluid">

        {% block content %}

        {% endblock content %}

    </div>
    <script type="text/javascript" charset="utf8"
        src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>
    {% block scripts %}

    {% endblock scripts %}

</body>

</html>
