<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Accounts" />
    <meta name="description" content="Accounts" />
    <title>CFAC Portal</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='payments.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma/css/bulma.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}" />
</head>

<body {% block body_attrs %}{% endblock body_attrs %}>
    <header>
        <nav class="navbar is-info has-shadow" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="navbar-start">
                    <a class="navbar-item" href="{{ url_for('main.index') }}">Home</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="{{ url_for('tickets.tickets_homepage',  department='View all')
                            }}">Tickets home</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{{ url_for('tickets.filter_by_status', status='Pending for CFAC approval',
                            department='View all') }}">Pending for CFAC approval</a>
                            <a class="navbar-item" href="{{ url_for('tickets.filter_by_status', status='Clarification to be provided by RO or OO',
                                department='View all') }}">Needs
                                clarification</a>
                            <a class="navbar-item"
                                href="{{ url_for('tickets.filter_by_status', status='Approval provided by CFAC', department='View all') }}">Approved</a>
                            <a class="navbar-item" href="{{ url_for('tickets.filter_by_status', status='Resolved', department='View all')
                                }}">Resolved</a>
                            <a class="navbar-item" href="{{ url_for('tickets.filter_by_status', status='No longer relevant',
                                department='View all') }}">No longer
                                relevant</a>

                        </div>
                    </div>
                    <a class="navbar-item" href="{{ url_for('tickets.add_ticket') }}">Add ticket details</a>
                    {% if current_user.user_type == "admin" %}
                    <a class="navbar-item" href="{{ url_for('tickets.tickets_dashboard') }}">Tickets dashboard</a>
                    {% endif %}
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if not current_user.is_authenticated %}

                        <div>
                            <a class="button is-link" href="{{ url_for('users.login_page') }}"> Login</a>
                            {% else %}
                            <a class="button"> {{ current_user.username }} </a>
                            <a class="button is-link" href="{{ url_for('users.logout_page') }}"> Log out</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container is-fluid">

        {% if current_user.is_authenticated %}

        {% block content %}

        {% endblock content %}
        {% endif %}
    </div>
    <script type="text/javascript" charset="utf8"
        src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>
    {% block scripts %}

    {% endblock scripts %}

</body>

</html>
