{% extends "tickets_layout.html" %}
{% block content %}
{% if tickets %}

{% for field, errors in form.errors.items() %}
<div class="notification is-danger">
    {{ field }} {{ ', '.join(errors) }}
</div>
{% endfor %}

<div class="container is-fluid">
    <div class="mt-5 columns">
        <div class="column is-half"></div>
        <div class="column is-one-quarter"></div>
        <div class="column is-one-quarter">
            <table class="table is-bordered">

                <tr>
                    <td><a href="{{ url_for('tickets.download_jv_format', requirement='premium') }}">Download
                            Premium /
                            claims JV
                            Format</a>
                    </td>

                </tr>
                <tr>
                    <td><a href="{{ url_for('tickets.download_jv_format', requirement='bulk') }}">Download Bulk
                            JV
                            Format</a>
                    </td>

                </tr>

            </table>
        </div>

    </div>
    <form method="post" action="">
        {{ form.csrf_token }}
        {{ form.department.label }} {{ form.department(class="select") }} <button
            class="button is-small is-success is-outlined">Filter</button>
    </form>
</div>
<div class="container is-fluid">
    <table class="table is-bordered is-hoverable is-fullwidth" id="tickets_table">

        <thead>
            <tr class="has-text-centered">
                <th>Regional Office</th>
                <th>Office Code</th>
                <th>Ticket number</th>
                <th>Contact person</th>
                <th>Email address</th>
                <th>Mobile number</th>
                <th>Department</th>
                <th>Status</th>
                <th>Date of creation</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.regional_office_code }}</td>
                <td>{{ ticket.office_code }}</td>
                <td>{{ ticket.ticket_number }}</td>
                <td>{{ ticket.contact_person }}</td>
                <td>{{ ticket.contact_email_address }}</td>
                <td>{{ ticket.contact_mobile_number }}</td>
                <td>{{ ticket.department }}</td>
                <td>{{ ticket.status }}</td>
                <td data-sort="{{ ticket.date_of_creation }}" title="{{ ticket.date_of_creation }}">{{
                    ticket.date_of_creation | humanize_datetime }}</td>
                <td><a href="{{ url_for('tickets.view_ticket', ticket_id=ticket.id ) }}" target="_blank">View</a></td>
                <td><a href="{{ url_for('tickets.edit_ticket', ticket_id=ticket.id ) }}" target="_blank">Edit</a></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
{% endif %}
{% block scripts %}
<script>

    new DataTable('#tickets_table', {
        layout: {
            top1start: 'pageLength',
            topStart: 'buttons',

        },
        stateSave: true,
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],
        order: [[8, 'desc']],
        pagingType: 'full_numbers',

    });

</script>
{% endblock scripts %}
{% endblock content %}
