{% extends "pg_tieup_layout.html" %}
{% block content %}

<div class="container">
    {% for field in form %}
    {% if field.errors %}
    <div class="notification is-danger">
        <button class="delete"></button>
        {{ field.label }}: {{ field.errors[0] }}
    </div>
    {% endif %}
    {% endfor %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="notification is-danger">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <table class="table is-fullwidth is-narrow">
            {% for item in form if item.widget.input_type != 'hidden' %}
            <tr>
                <th class="is-vcentered">{{ item.label }}</th>
                <td>
                    {% if item.widget.input_type == "date" %}
                    {{ item(class="input") }}
                    {% elif item.widget.input_type == "text" %}
                    {{ item(class="input") }}
                    {% else %}
                    {{ item }}
                    {% endif %}
                </td>
            </tr>

            {% endfor %}
        </table>
        <div class="has-text-centered">
            <button class="button is-success">Submit</button>
        </div>
    </form>
</div>
{% endblock content %}
