{% extends "pg_tieup_layout.html" %}
{% block content %}
<div class="container">

    <table class="table is-bordered">
        {% for col in column_names %}

        <tr>
            <th>{{ col | replace("_", " ") | upper }}
            </th>
            <td>{{ pg_tieup[col] or "" }}</td>
        </tr>
        {% endfor %}
        <tr>
            <th>Bank mandate</th>
            <td>{% if pg_tieup['bank_mandate_file'] %}
                <a class="button is-link is-outlined is-small"
                    href="{{ url_for('pg_tieup.download_bank_mandate', id=pg_tieup.id ) }}">Bank Mandate</a>
                {% else %} Bank mandate not uploaded {% endif %}

            </td>
        </tr>
    </table>
    <div class="has-text-centered">
        <a class="button is-link" href="{{ url_for('pg_tieup.edit_pg_tieup', key=pg_tieup.id) }}">Edit</a>
    </div>
</div>
{% endblock content %}
