{% if pdf == "False" %}
{% extends "funds_layout.html" %}
{% else %}
<style>
    @page {
        size: portrait;
        margin: 1cm;
    }
</style>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma/css/bulma.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='payments.css') }}" />
{% endif %}

{% block content %}
<div class="container">
    {% if pdf == "False" %}
    <div class="has-text-right">
        <a class="button is-link is-outlined" target="_blank" href="{{ url_for('funds.daily_summary',
            date_string=display_date.strftime('%d%m%Y'), pdf='True' ) }}">Print to PDF</a>
    </div>
    {% endif %}

    <h1 class="title has-text-centered">UNITED INDIA INSURANCE COMPANY LIMITED</h1>
    <h1 class="is-size-4 title">Funds flow statement for {{ display_date.strftime("%d/%m/%Y (%A)") }}</h1>

    <div class="columns is-centered">
        {% set outflow_total = outflow | sum(attribute="amount") %}
        {% set inflow_total = inflow | sum(attribute='amount') + prev_daily_sheet.float_amount_hdfc_closing_balance
        %}

        <div class="column is-half">
            <h3 class="is-size-4 has-text-weight-bold has-text-centered">Funds inflow</h3>
            <table class="table is-bordered is-fullwidth">
                <thead>
                    <tr class="has-text-weight-bold has-text-centered">
                        <td width="50%">Collections</td>
                        <td>Amount</td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in inflow %}
                    <tr>
                        <td>{{ item.flag_description }}</td>
                        <td class="has-text-right">
                            {{ (item.amount or 0) | indian_number_format }}
                        </td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td>HDFC OPENING BAL</td>
                        <td class="has-text-right">{{ (prev_daily_sheet.float_amount_hdfc_closing_balance or 0) |
                            indian_number_format }}
                        </td>
                    </tr>

                    <tr>
                        <td class="has-text-weight-bold">Total</td>
                        <td class="has-text-weight-bold has-text-right">
                            {{ (inflow_total or 0) | indian_number_format }}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="column is-half">
            <h3 class="is-size-4 has-text-centered has-text-weight-bold">Funds outflow</h3>
            <table class="table is-bordered is-fullwidth">
                <thead>
                    <tr class="has-text-centered has-text-weight-bold">
                        <td width="50%">Payments</td>
                        <td>Amount</td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in outflow %}
                    <tr>
                        <td>{{ item.normalized_description }}</td>
                        <td class="has-text-right">
                            {{ (item.amount or 0) | indian_number_format }}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        {% set filler_length = (inflow |length) + 1 - (outflow | length) %}
                        {% for number in range(filler_length) %}
                        <td></td>
                        <td class="is-invisible">text</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="has-text-weight-bold">Total</td>
                        <td class="has-text-weight-bold has-text-right">

                            {{ (outflow_total or 0) | indian_number_format }}

                        </td>
                    </tr>

                </tbody>
            </table>
            <table class="table is-bordered is-fullwidth">
                <tbody>
                    <tr>

                        <td class="has-text-success has-text-weight-bold {% if (inflow_total - outflow_total) > 0 %}has-text-success
                            {% else %}has-text-danger
                            {% endif %}" width="50%">
                            {% if (inflow_total - outflow_total) > 0 %}Surplus
                            {% else %}Deficit
                            {% endif %}
                        </td>

                        <td class="has-text-right has-text-weight-bold {% if (inflow_total - outflow_total) > 0 %}has-text-success
                            {% else %}has-text-danger
                            {% endif %}">{{
                            (outflow_total-
                            inflow_total) | abs | indian_number_format }}
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <table class="table is-bordered is-fullwidth">
        <thead>
            <tr>
                <th class="has-text-centered">Investment closing balance <small>as on {{
                        (display_date - timedelta(1)).strftime("%d/%m/%Y") }}</small></th>

                <th class="has-text-centered">Drawn from investment</th>
                <th class="has-text-centered">Given to investment</th>
                <th class="has-text-centered">Investment closing balance <small>as on {{
                        display_date.strftime("%d/%m/%Y") }}</small></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="has-text-right"> {{ (prev_daily_sheet.float_amount_investment_closing_balance or 0) |
                    indian_number_format }}</td>
                <td class="has-text-right">
                    {{ (daily_sheet.float_amount_taken_from_investments or 0) | indian_number_format }}</td>
                <td class="has-text-right">
                    {{ (daily_sheet.float_amount_given_to_investments or 0) | indian_number_format }}</td>

                <td class="has-text-right">
                    {{ (daily_sheet.float_amount_investment_closing_balance or 0) | indian_number_format }}
                </td>
            </tr>
            <tr>
                <th class="has-text-centered">HDFC Closing balance</th>
                <td class="has-text-right">
                    {{ ( daily_sheet.float_amount_hdfc_closing_balance or 0 ) | indian_number_format }}</td>
                <th class="has-text-centered">Investment closing balance <small>as on {{
                        prev_year_date.strftime("%d/%m/%Y") }}
                    </small></th>
                <td class="has-text-right">{{ (prev_year_daily_sheet.float_amount_investment_closing_balance or 0) |
                    indian_number_format }}</td>

            </tr>
        </tbody>
    </table>
    <table class="table is-bordered is-fullwidth">
        <tr>
            <td width="15%">Major outflow</td>
            <td class="word-wrap">{{ daily_sheet.text_major_payments }}</td>
        </tr>
        <tr>
            <td width="15%">Major receipts</td>
            <td class="word-wrap">{{ daily_sheet.text_major_collections }}</td>
        </tr>
    </table>

    <div class="mt-5"></div>

    <table class="table is-bordered is-fullwidth">
        <tr>
            <td class="is-invisible is-size-4">text</td>
            <td></td>
        </tr>
        <tr>
            <td class="has-text-centered has-text-weight-bold" width="50%">{{ daily_sheet.text_person1_name }}</td>
            <td class="has-text-centered has-text-weight-bold">{{ daily_sheet.text_person2_name }}</td>
        </tr>
        <tr>
            <td class="has-text-centered">{{ daily_sheet.text_person1_designation }}</td>
            <td class="has-text-centered">{{ daily_sheet.text_person2_designation }}</td>
        </tr>
        <tr>

            <td class="is-invisible is-size-4" colspan="2">text</td>
        </tr>
        <tr>
            <td class="has-text-centered has-text-weight-bold" colspan="2">{{ daily_sheet.text_person3_name }}</td>

        </tr>
        <tr>
            <td class="has-text-centered" colspan="2">{{ daily_sheet.text_person3_designation }}</td>

        </tr>
    </table>

</div>

<div class="mt-5"></div>

{% endblock content %}
