{% extends "funds_layout.html" %}

{% block body_attrs %} "onload=displayincrores();" {% endblock body_attrs %}
{% block content %}
<div class="container">
    {% for field in form %}
    {% if field.errors %}
    <div class="notification is-danger">
        <button class="delete"></button>
        {{ field.label }}: {{ field.errors[0] }}
    </div>
    {% endif %}
    {% endfor %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="notification is-danger">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h1 class="title">Enter outflow for {{ display_date.strftime("%d/%m/%Y") }}</h1>

    <table class="table is-bordered is-narrow is-fullwidth">

        <tr>
            <th>Total inflow (including funds received from investments)</th>
            <td class="has-text-right"><a class="button is-info is-small js-modal-trigger" id="inflow"
                    data-target="modal_inflow"></a></td>
        </tr>
        <tr>
            <th>Proposed outflow (including funds given to investments)</th>
            <td class="has-text-right" id="outflow"></td>
        </tr>
        <tr>
            <th>Remaining funds</th>
            <td class="has-text-right" id="pending"></td>
        </tr>
    </table>
    {% if investment_list.count() > 0 %}
    <table class="table is-bordered is-fullwidth">
        <thead>
            <tr>
                <th class="has-text-centered">Date given to investment</th>
                <th class="has-text-centered">Amount given</th>
                <th class="has-text-centered">Expected date of return</th>
                <th class="has-text-centered">Remarks</th>
                <th class="has-text-centered">Status</th>
                <th class="has-text-centered">Edit</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                {% for item in investment_list %}
                <td class="has-text-centered">{{ item['date_given_to_investment'].strftime('%d/%m/%Y') }}</td>
                <td class="has-text-right">{{ item['float_amount_given_to_investment'] | indian_number_format }}</td>
                <td class="has-text-centered">{{ item['date_expected_date_of_return'].strftime('%d/%m/%Y') }}</td>
                <td>{{ item['text_remarks'] }}</td>
                <td class="has-text-centered">{{ item['current_status'] }}</td>
                <td class="has-text-centered"><a
                        href="{{ url_for('funds.edit_amount_given_to_investment', investment_id=item['id'] )}}"
                        target="_blank">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if list_outgo.count() > 0 %}

    <table class="table is-bordered is-fullwidth">
        <thead>
            <tr>
                <th class="has-text-centered">Expected date of outgo</th>
                <th class="has-text-centered">Estimated outgo amount</th>
                <th class="has-text-centered">Department</th>
                <th class="has-text-centered">Remarks</th>
                <th class="has-text-centered">Status</th>
                <th class="has-text-centered">Edit</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                {% for item in list_outgo %}
                <td class="has-text-centered">{{ item['date_of_outgo'].strftime('%d/%m/%Y') }}</td>
                <td class="has-text-right">{{ item['float_expected_outgo'] | indian_number_format }}</td>
                <td class="has-text-centered">{{ item['text_dept'] }}</td>
                <td>{{ item['text_remarks'] }}</td>
                <td class="has-text-centered">{{ item['current_status'] }}</td>
                <td class="has-text-centered"><a href="{{ url_for('funds.edit_major_outgo', outgo_id=item['id']) }}"
                        target="_blank">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <form method="post">
        {{ form.csrf_token }}

        <table class="table is-bordered is-narrow is-fullwidth is-striped is-hoverable">

            <tr>
                <th>{{ form.given_to_investment.label }}
                    <br />Date of expected return: {{ form.expected_date_of_return }}
                </th>
                <td class="has-text-right is-vcentered"><label id="label_given_to_investment"></label></td>
                <td onkeyup="displayincrores()">{{ form.given_to_investment(class="input") }}</td>
            </tr>
            <tr>

                {% for item in form if (item.widget.input_type != 'hidden' and item.widget.input_type != 'date') %}
                {% if item.id not in ["drawn_from_investment","given_to_investment"] %}
                <td class="is-vcentered has-text-weight-bold"> {{ item.label }} </td>
                <td class="has-text-right is-vcentered"><label id="label_{{ item.id }}"></label></td>
                <td onkeyup="displayincrores()">{{ item(class="input") }} </td>
            </tr>

            {% endif %}
            {% endfor %}
        </table>
        <div class="has-text-centered">
            {% if enable_update(display_date) %}
            <a class="button" href='{{ url_for("funds.view_bank_statement", date_string=display_date.strftime("%d%m%Y") )
                }}'>View bank statement</a>
            <button class="button is-success" id="submit">Submit</button>
            {% else %}
            <button class="button is-success" disabled>Submit</button>
            {% endif %}
        </div>
    </form>
</div>
<!---modal -->
<div class="modal" id="modal_inflow">
    <div class="modal-background"></div>

    <div class="modal-content">
        <div class="box">

            <table class="table is-bordered is-fullwidth">
                <thead>
                    <tr class="has-text-weight-bold has-text-centered">
                        <td>Collections</td>
                        <td>Amount</td>
                    </tr>
                </thead>
                <tbody>
                    {% for flag in flag_description | sort | unique %}
                    <tr>
                        {% if flag[0] not in ["HDFC OPENING BAL","HDFC CLOSING BAL", "OTHER RECEIPTS"] %}
                        <td>{{ flag[0] }}</td>

                        <td class="has-text-right">
                            {% if display_inflow(display_date, flag[0]) %}
                            {{ display_inflow(display_date, flag[0]) | indian_number_format }}

                            {% else %}
                            {{ "0.00" }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    <tr>
                        <td>Other receipts</td>
                        <td class="has-text-right">

                            {{ display_inflow(display_date, "OTHER RECEIPTS") | indian_number_format }}

                        </td>

                    </tr>
                    <tr>
                        <td>HDFC OPENING BAL</td>
                        <td class="has-text-right">{{ return_prev_day_closing_balance(display_date,
                            "HDFC") | indian_number_format }}

                        </td>
                    </tr>

                    {% set inflow_total = get_inflow_total(display_date) %}
                    <tr>
                        <td class="has-text-weight-bold">Total</td>
                        <td class="has-text-weight-bold has-text-right">
                            {{ (display_inflow(display_date) +
                            return_prev_day_closing_balance(display_date,
                            "HDFC")) | indian_number_format }}
                        </td>
                    </tr>

                </tbody>
            </table>
            <button class="modal-close is-large" aria-label="close"></button>

        </div>
    </div>
</div>

{% block scripts %}

<script>
    // function deleteRow(row) {
    //     var i = row.parentNode.parentNode.rowIndex;
    //     document.getElementById('investment_table').deleteRow(i);
    // }

    // function insRow() {
    //     console.log('hi');
    //     var x = document.getElementById('investment_table');
    //     var new_row = x.rows[1].cloneNode(true);
    //     var len = x.rows.length;
    //     //new_row.cells[0].innerHTML = len;

    //     // var inp1 = new_row.cells[0].getElementsByTagName('input')[0];
    //     //inp1.id += len;
    //     //inp1.value = '';
    //     var inp2 = new_row.cells[1].getElementsByTagName('input')[0];
    //     inp2.id = "investment-" + len + "-expected_date_of_return";
    //     inp2.name = "investment-" + len + "-expected_date_of_return";// len";
    //     inp2.value = '';
    //     var inp3 = new_row.cells[3].getElementsByTagName('input')[0];
    //     inp3.id = "investment-" + len + "-given_to_investment"; //44
    //     inp3.name = "investment-" + len + "-given_to_investment"; //44
    //     inp3.value = '0';
    //     x.appendChild(new_row);
    // }


    // function addrow() {
    //     var mytable = document.getElementById("investment_table");
    //     var rows = mytable.rows.length;
    //     var r = mytable.insertRow(rows);

    //     var c0 = r.insertCell(0);
    //     var c1 = r.insertCell(1);
    //     var c2 = r.insertCell(2);
    //     var c3 = r.insertCell(3);

    //     var delete_button = document.createElement("input");
    //     var label_investment = document.createElement("label");
    //     var label_date = document.createElement("label");
    //     var input_date = document.createElement("input");
    //     var label_display_crores = document.createElement("label");
    //     var investment_amount = document.createElement("input");

    //     delete_button.type = "input";
    //     label_investment.type = "label";
    //     label_date.type = "label";
    //     input_date.type = "input";
    //     label_display_crores.type = "label";
    //     investment_amount.type = "input";

    //     delete_button.classList.add("button", "is-small");
    //     delete_button.value = "Delete";
    //     delete_button.onclick = "deleterow()";
    //     label_investment.innerHTML = "<b>Given to investment<br />Date of expected return</b>: <input type='date'>";
    //     investment_amount.value = 0.00; //label_date.innerText = "hello";

    //     c0.appendChild(delete_button);
    //     c1.appendChild(label_investment);
    //     // c1.appendChild(label_date);
    //     //c1.appendChild(input_date);
    //     c2.appendChild(label_display_crores);
    //     c3.appendChild(investment_amount);


    //     input_date.classList.add("input");
    //     investment_amount.classList.add("input");


    //     //year.id = 'year' + rows;
    //     //year.value = 'year' + rows;
    //     //year.name = "year" + rows;
    // }

    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            const $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });

    $(document).ready(function () {
        displayincrores();
    });


    function displayincrores() {
        var totalOutflow = 0;
        {% for item in form if (item.widget.input_type != 'hidden' and item.widget.input_type != 'date') %}

        document.getElementById("label_{{item.id}}").innerText = parseFloat(document.getElementById("{{ item.id }}").value / 10000000).toFixed(2) + " cr";
        //console.log(totalOutflow);
        totalOutflow += parseFloat(document.getElementById("{{ item.id }}").value);
        //console.log(parseFloat(document.getElementById("{{ item.id }}").value));
        //console.log(parseFloat(document.getElementById("{{ item.id }}").value || 0));

        {% endfor %}
        const formatter = new Intl.NumberFormat('en-IN', {
            //style: 'currency',
            currency: 'INR',
            minimumFractionDigits: 2,
            maximumFractionDigits: 2,
            //trailingZeroDisplay: 'stripIfInteger'
        });
        //totalOutflow = totalOutflow - parseFloat(document.getElementById("drawn_from_investment").value);
        document.getElementById("outflow").innerText = formatter.format(totalOutflow);

        inflow = "{{ display_inflow(display_date) + return_prev_day_closing_balance(display_date, 'HDFC') }}";
        document.getElementById("inflow").innerText = formatter.format(inflow);
        document.getElementById("pending").innerText = formatter.format(inflow - totalOutflow);

        if ((inflow - totalOutflow) <= 0) {
            document.getElementById("pending").classList.add("has-text-danger", "has-text-weight-bold");
            document.getElementById("submit").disabled = true;
        } else {
            document.getElementById("pending").classList.remove("has-text-danger", "has-text-weight-bold");
            document.getElementById("submit").disabled = false;
        }
    }


</script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
            $el.classList.add('is-active');
        }

        function closeModal($el) {
            $el.classList.remove('is-active');
        }

        function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
            });
        }

        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);

            $trigger.addEventListener('click', () => {
                openModal($target);
            });
        });

        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
            const $target = $close.closest('.modal');

            $close.addEventListener('click', () => {
                closeModal($target);
            });
        });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
            const e = event || window.event;

            if (e.keyCode === 27) { // Escape key
                closeAllModals();
            }
        });
    });

</script>
<script>
    // replace functionality of enter button in form
    // instead of enter submitting form, enter will function as tab

    // if user presses enter, the form will move to next input field instead of submitting form

    // credit for answer https://stackoverflow.com/a/41392967

    document.addEventListener('keydown', function (event) {
        if (event.keyCode === 13 && event.target.nodeName === 'INPUT') {
            var form = event.target.form;
            var index = Array.prototype.indexOf.call(form, event.target);
            form.elements[index + 1].focus();
            form.elements[index + 1].select();
            event.preventDefault();
        }
    });

</script>
{% endblock scripts %}
{% endblock content %}
