{% extends "funds_layout.html" %}

{% block body_attrs %} "onload=displayincrores();" {% endblock body_attrs %}
{% block content %}
<div class="container">
    {% for field in form %}
    {% if field.errors %}
    <div class="notification is-danger">
        <button class="delete"></button>
        {{ field.label }}: {{ field.errors[0] }}
    </div>
    {% endif %}
    {% endfor %}

    {% include "partials/messages.html" %}

    <h1 class="title">Enter outflow for {{ display_date.strftime("%d/%m/%Y") }}</h1>

    <table class="table is-bordered is-narrow is-fullwidth">

        <tr>
            <th>Total inflow (including funds received from investments)</th>
            <td class="has-text-right"><a class="button is-info is-small js-modal-trigger" id="inflow"
                    data-target="modal_inflow"></a></td>
        </tr>
        <tr>
            <th>Proposed outflow (including funds given to investments)</th>
            <td class="has-text-right" id="outflow"></td>
        </tr>
        <tr>
            <th>Remaining funds</th>
            <td class="has-text-right" id="pending"></td>
        </tr>
    </table>
    {% if investment_list | length > 0 %}
    <table class="table is-bordered is-fullwidth">
        <thead>
            <tr>
                <th class="has-text-centered">Date given to investment</th>
                <th class="has-text-centered">Amount given</th>
                <th class="has-text-centered">Expected date of return</th>
                <th class="has-text-centered">Remarks</th>
                <th class="has-text-centered">Status</th>
                <th class="has-text-centered">Edit</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                {% for item in investment_list %}
                <td class="has-text-centered">{{ item['date_given_to_investment'].strftime('%d/%m/%Y') }}</td>
                <td class="has-text-right">{{ item['float_amount_given_to_investment'] | indian_number_format }}</td>
                <td class="has-text-centered">{{ item['date_expected_date_of_return'].strftime('%d/%m/%Y') }}</td>
                <td>{{ item['text_remarks'] }}</td>
                <td class="has-text-centered">{{ item['current_status'] }}</td>
                <td class="has-text-centered"><a
                        href="{{ url_for('funds.edit_amount_given_to_investment', investment_id=item['id'] ) }}"
                        target="_blank">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if list_outgo | length > 0 %}

    <table class="table is-bordered is-fullwidth">
        <thead>
            <tr>
                <th class="has-text-centered">Expected date of outgo</th>
                <th class="has-text-centered">Estimated outgo amount</th>
                <th class="has-text-centered">Department</th>
                <th class="has-text-centered">Remarks</th>
                <th class="has-text-centered">Status</th>
                <th class="has-text-centered">Edit</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                {% for item in list_outgo %}
                <td class="has-text-centered">{{ item['date_of_outgo'].strftime('%d/%m/%Y') }}</td>
                <td class="has-text-right">{{ item['float_expected_outgo'] | indian_number_format }}</td>
                <td class="has-text-centered">{{ item['text_dept'] }}</td>
                <td>{{ item['text_remarks'] }}</td>
                <td class="has-text-centered">{{ item['current_status'] }}</td>
                <td class="has-text-centered"><a href="{{ url_for('funds.edit_major_outgo', outgo_id=item['id']) }}"
                        target="_blank">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <form method="post">
        {{ form.csrf_token }}

        <table class="table is-bordered is-narrow is-fullwidth is-striped is-hoverable">

            <tr>
                <th>{{ form.given_to_investment.label }}
                    <br />Date of expected return: {{ form.expected_date_of_return }}
                </th>
                <td class="has-text-right is-vcentered"><label id="label_given_to_investment"></label></td>
                <td>{{ form.given_to_investment(class="input amount-input",
                    onkeyup="displayincrores()") }}</td>
            </tr>
            <tr>

                {% for item in form if (item.widget.input_type not in ['hidden','date']) %}
                {% if item.id not in ["drawn_from_investment","given_to_investment"] %}
                <td class="is-vcentered has-text-weight-bold"> {{ item.label }} </td>
                <td class="has-text-right is-vcentered"><label id="label_{{ item.id }}"></label></td>
                <td>{{ item(class="input amount-input", onkeyup="displayincrores()") }}
                </td>
            </tr>

            {% endif %}
            {% endfor %}
        </table>
        <div class="has-text-centered mb-5">
            {% if enable_update(display_date) %}
            <a class="button" href='{{ url_for("funds.view_bank_statement", date_string=display_date.strftime("%d%m%Y") )
                }}'>View bank statement</a>
            <button class="button is-success" id="submit">Submit</button>
            {% else %}
            <button class="button is-success" disabled>Submit</button>
            {% endif %}
        </div>
    </form>
</div>
<!---modal -->
{% include("modal_inflow.html") %}
{% block scripts %}

<script>

    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            const $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });

    $(document).ready(function () {
        updateOutflowTotals();
        displayincrores();
    });

    function updateOutflowTotals() {
        let totalOutflow = 0;
        const inputs = document.querySelectorAll(".amount-input");

        inputs.forEach(input => {
            const value = parseFloat(input.value) || 0;
            const label = document.getElementById(`label_${input.id}`);
            if (label) label.innerText = (value / 10000000).toFixed(2) + " cr";
            totalOutflow += value;
        });

        const totalLabel = document.getElementById("total_outflow");
        if (totalLabel) totalLabel.innerText = (totalOutflow / 10000000).toFixed(2) + " cr";

        return totalOutflow
    }
    function displayincrores() {
        var totalOutflow = updateOutflowTotals();
        const formatter = new Intl.NumberFormat('en-IN', {
            //style: 'currency',
            currency: 'INR',
            minimumFractionDigits: 2,
            maximumFractionDigits: 2,
            //trailingZeroDisplay: 'stripIfInteger'
        });
        //totalOutflow = totalOutflow - parseFloat(document.getElementById("drawn_from_investment").value);
        document.getElementById("outflow").innerText = formatter.format(totalOutflow);

        let inflow = parseFloat("{{ inflow | sum(attribute='amount') + prev_daily_sheet.float_amount_hdfc_closing_balance }}") || 0;

        document.getElementById("inflow").innerText = formatter.format(inflow);
        document.getElementById("pending").innerText = formatter.format(inflow - totalOutflow);

        if ((inflow - totalOutflow) <= 0) {
            document.getElementById("pending").classList.add("has-text-danger", "has-text-weight-bold");
            document.getElementById("submit").disabled = true;
        } else {
            document.getElementById("pending").classList.remove("has-text-danger", "has-text-weight-bold");
            document.getElementById("submit").disabled = false;
        }
    }

</script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
            $el.classList.add('is-active');
        }

        function closeModal($el) {
            $el.classList.remove('is-active');
        }

        function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
            });
        }

        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);

            $trigger.addEventListener('click', () => {
                openModal($target);
            });
        });

        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
            const $target = $close.closest('.modal');

            $close.addEventListener('click', () => {
                closeModal($target);
            });
        });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
            const e = event || window.event;

            if (e.keyCode === 27) { // Escape key
                closeAllModals();
            }
        });
    });

</script>
<script>
    // replace functionality of enter button in form
    // instead of enter submitting form, enter will function as tab

    // if user presses enter, the form will move to next input field instead of submitting form

    // credit for answer https://stackoverflow.com/a/41392967

    document.addEventListener('keydown', function (event) {
        if (event.keyCode === 13 && event.target.nodeName === 'INPUT') {
            var form = event.target.form;
            var index = Array.prototype.indexOf.call(form, event.target);
            form.elements[index + 1].focus();
            form.elements[index + 1].select();
            event.preventDefault();
        }
    });

</script>
{% endblock scripts %}
{% endblock content %}
