{% extends "funds_layout.html" %}

{% block content %}

{% for field in form %}
{% if field.errors %}
<div class="notification is-danger">
    <button class="delete"></button>
    {{ field.label }}: {{ field.errors[0] }}
</div>
{% endif %}
{% endfor %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="notification is-danger">
    <p>{{ message }}</p>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container">
    <h1 class="title">{{ title }}</h1>
    <form method="post">
        {{ form.csrf_token }}
        <table class="table is-bordered is-narrow is-fullwidth is-striped is-hoverable">
            <tr>
                {% for item in form if item.widget.input_type != 'hidden' %}
                <td class="is-vcentered has-text-weight-bold">{{ item.label }}</td>
                <td>{{ item(class="input") }} </td>
            </tr>
            {% endfor %}
        </table>
        <div class="has-text-centered">

            <button class="button is-success">Submit</button>
        </div>
    </form>
    {% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                const $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                });
            });
        });

    </script>
    {% endblock scripts %}
</div>
{% endblock content %}
