{% extends "funds_layout.html" %}

{% block content %}
<div class="container table-container">
    <table class="table is-striped is-bordered" id="flag_table">
        <thead>
            <tr>
                {% for i in column_names %}
                <th>{{ i|upper }}</th>
                {% endfor %}
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for item in query %}
                {% for i in column_names %}
                <td>{{ item[i] }}</td>
                {% endfor %}
                <td><a href={{ url_for('funds.edit_flag_entry', flag_id=item['id']) }}>Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% block scripts %}
<script>
    new DataTable('#flag_table', {
        layout: {
            top1start: 'pageLength',
            topStart: 'buttons',

        },
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],
        order: [[10, 'desc']],
        pagingType: 'full_numbers',
        lengthMenu: [10, 25, 50, { label: 'All', value: -1 }],
        pageLength: 50,

    });

</script>
{% endblock scripts %}
{% endblock content %}
