{% extends "funds_layout.html" %}
{% block content %}

<div class="container">
    <table class="table is-bordered is-fullwidth is-hoverable is-striped is-narrow" id="home_table">
        <thead>
            <tr>
                <th class="has-text-centered">Bank statement</th>
                <th class="has-text-centered">Outflow</th>
                <th class="has-text-centered">Remarks</th>
                <th class="has-text-centered">Daily summary</th>
                <th class="has-text-centered">Net cashflow</th>
                <th class="has-text-centered">Net investment amount</th>
                <th class="has-text-centered">HDFC Closing balance</th>
            </tr>
        </thead>
        <tbody>
            {% for date in query %}
            <tr>
                {% set date_string = date[0].strftime('%d%m%Y') %}
                <td class="has-text-centered"><a href={{ url_for("funds.view_bank_statement", date_string=date_string)
                        }}>{{ date[0].strftime("%d/%m/%Y") }}</a></td>
                <td class="has-text-centered"><a href={{ url_for("funds.enter_outflow", date_string=date_string)
                        }}>Outflow</a></td>
                <td class="has-text-centered"><a href={{ url_for("funds.add_remarks", date_string=date_string)
                        }}>Remarks</a></td>
                <td class="has-text-centered"><a href={{ url_for("funds.daily_summary", date_string=date_string,
                        pdf='False' ) }}>Daily summary</a></td>
                <td class="has-text-right">{{ "{:,.2f}".format(get_inflow_total(date[0]) - display_outflow(date[0])) }}
                </td>
                <td class="has-text-right">{{ "{:,.2f}".format(get_daily_summary(date[0], "net_investment")) }}</td>
                <td class="has-text-right">{{ "{:,.2f}".format(get_daily_summary(date[0], "closing_balance")) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% block scripts %}
<script>
    new DataTable('#home_table', {
        dom: 'lfBrtip',
        buttons: [
            { extend: 'copyHtml5', className: 'is-danger is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'is-info is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'is-primary is-rounded', title: '' }],
        order: [[10, 'desc']],
        pagingType: 'full_numbers',
        lengthMenu: [10, 25, 50, { label: 'All', value: -1 }],
        pageLength: 50,

    });

</script>
{% endblock scripts %}
{% endblock content %}
