{% extends "funds_layout.html" %}
{% block content %}

<div class="container is-fluid">
    <table class="table is-bordered is-fullwidth is-hoverable is-striped is-narrow" id="home_table">
        <thead>
            <tr>
                <th class="has-text-centered is-vcentered">Bank statement</th>
                <th class="has-text-centered is-vcentered">Outflow</th>
                <th class="has-text-centered is-vcentered">Remarks</th>
                <th class="has-text-centered is-vcentered">IBT</th>
                <th class="has-text-centered is-vcentered">Daily summary</th>

                <th class="has-text-centered is-vcentered">Total inflow</th>
                <th class="has-text-centered is-vcentered">Total outflow</th>
                <th class="has-text-centered is-vcentered">Net cashflow</th>
                <th class="has-text-centered is-vcentered">Given to investment</th>
                <th class="has-text-centered is-vcentered">Drawn from investment</th>
                <th class="has-text-centered is-vcentered">Net investment amount</th>
                <th class="has-text-centered is-vcentered">Investment closing balance</th>
                <th class="has-text-centered is-vcentered">HDFC closing balance</th>
            </tr>
        </thead>
    </table>
</div>

{% block scripts %}
<script>
    function format_custom(date, display) {
        const day = String(date.getDate()).padStart(2, '0');
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const year = date.getFullYear();
        if (display == 'full') {
            return `${day}/${month}/${year}`;
        }
        else {
            return `${day}${month}${year}`;
        }
    }
    function format_currency(amount) {
        const formatter = new Intl.NumberFormat('en-IN', {
            //style: 'currency',
            //currency: 'INR',
            minimumFractionDigits: 2,
            maximumFractionDigits: 2,
            //trailingZeroDisplay: 'stripIfInteger'
        })
        return formatter.format(amount);
    }

    new DataTable('#home_table', {

        serverSide: true,
        processing: true,
        ajax: "{{ url_for('funds.funds_home_data') }}",

        layout: {
            top1start: 'pageLength',
            topStart: 'buttons',

        },
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],
        ordering: false,
        searching: false,

        columns: [
            {
                data: "date_uploaded_date",
                className: 'dt-body-center',
                render: function (data) {

                    date_data = new Date(data);
                    date_string = format_custom(date_data, "short");
                    date_display = format_custom(date_data, "full");
                    return `<a href="/funds/bank_statement/view/${date_string}">${date_display}</a>`;
                }
            },
            {
                data: "date_uploaded_date",
                className: 'dt-body-center',
                render: function (data) {

                    date_data = new Date(data);
                    date_string = format_custom(date_data, "short");
                    return `<a href="/funds/outflow/edit/${date_string}">Outflow</a>`;
                }
            },
            {
                data: "date_uploaded_date",
                className: 'dt-body-center',
                render: function (data) {

                    date_data = new Date(data);
                    date_string = format_custom(date_data, "short");
                    return `<a href="/funds/remarks/edit/${date_string}">Remarks</a>`;
                }
            },
            {
                data: "date_uploaded_date",
                className: 'dt-body-center',
                render: function (data) {

                    date_data = new Date(data);
                    date_string = format_custom(date_data, "short");
                    return `<a href="/funds/ibt/${date_string}/False">IBT</a>`;
                }
            },
            {
                data: "date_uploaded_date",
                className: 'dt-body-center',
                render: function (data) {

                    date_data = new Date(data);
                    date_string = format_custom(date_data, "short");
                    return `<a href="/funds/daily_summary/${date_string}/False">Summary</a>`;
                }
            },
            {
                data: "credit",
                className: 'dt-body-right',
                render: function (data) {
                    return format_currency(data);
                }
            },
            {
                data: "outflow",
                className: 'dt-body-right',
                render: function (data) {
                    return format_currency(data);
                }
            },
            {
                data: "net_cashflow",
                className: 'dt-body-right',
                render: function (data) {
                    return format_currency(data);
                }
            },
            {
                data: "investment_given",
                className: 'dt-body-right',
                render: function (data) {
                    return format_currency(data);
                }
            },
            {
                data: "investment_taken",
                className: 'dt-body-right',
                render: function (data) {
                    return format_currency(data);
                }
            },
            {
                data: "net_investment",
                className: 'dt-body-right',
                render: function (data) {
                    return format_currency(data);
                }
            }, {
                data: "investment_closing_balance",
                className: 'dt-body-right',
                render: function (data) {
                    return format_currency(data);
                }
            }, {
                data: "hdfc_closing_balance",
                className: 'dt-body-right',
                render: function (data) {
                    return format_currency(data);
                }
            }
        ]
    });

</script>
{% endblock scripts %}
{% endblock content %}
