{% if pdf == "False" %}
{% extends "funds_layout.html" %}
{% else %}
<style>
    @page {
        size: portrait;
        margin: 1cm;
    }
</style>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma/css/bulma.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='payments.css') }}" />
{% endif %}

{% block content %}
{% set outflow_total = outflow | sum(attribute="amount") %}
{% set inflow_total = (inflow | sum(attribute='amount') | float) + ((prev_daily_sheet.float_amount_hdfc_closing_balance
or 0 )| float ) + ((daily_sheet.float_amount_taken_from_investments or 0) | float) %}

<div class="container">
    {% if pdf == "False" %}
    <div class="has-text-right no-print">
        <a class="button is-link is-outlined" target="_blank" href="{{ url_for('funds.ibt',
            date_string=display_date.strftime('%d%m%Y'), pdf='True' ) }}">Print to PDF</a>
    </div>
    {% endif %}

    <h1 class="title has-text-centered">UNITED INDIA INSURANCE COMPANY LIMITED</h1>
    <h1 class="is-size-4 title">INTER BANK TRANSFER OF FUNDS for {{ display_date.strftime("%d/%m/%Y (%A)") }}</h1>
    <h3 class="is-size-4 has-text-weight-bold has-text-centered">Collections</h3>
    <table class="table is-bordered is-narrow is-fullwidth">
        <thead>
            <tr class="has-text-weight-bold has-text-centered">
                <td>Collections</td>
                <td>Bank Name</td>
                <td>Type</td>
                <td>Account number</td>
                <td>Amount</td>
            </tr>
        </thead>
        <tbody>
            {% for item in inflow %}
            <tr>
                <td>{{ item.flag_description }}</td>
                <td>{{ item.bank_name }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.account_number }}</td>
                <td class="has-text-right">{{ (item.amount or 0) | indian_number_format }}</td>
            </tr>
            {% endfor %} <tr>
                <td>HDFC OPENING BAL</td>
                <td>HDFC</td>
                <td></td>
                <td></td>
                <td class="has-text-right">{{ (prev_daily_sheet.float_amount_hdfc_closing_balance or 0) |
                    indian_number_format
                    }}
                </td>
            </tr>
            <tr>
                <td>Investment</td>
                <td>HDFC</td>
                <td>RTGS</td>
                <td></td>
                <td class="has-text-right">{{ (daily_sheet.float_amount_taken_from_investments or 0) |
                    indian_number_format }}
                </td>
            </tr>

            <tr>
                <td class="has-text-weight-bold">Total</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="has-text-weight-bold has-text-right">
                    {{ inflow_total | indian_number_format }}
                </td>
            </tr>
        </tbody>
    </table>
    <h3 class="is-size-4 has-text-centered has-text-weight-bold">Payments</h3>
    <table class="table is-bordered is-narrow is-fullwidth">
        <thead>
            <tr class="has-text-centered has-text-weight-bold">
                <td>Payments</td>
                <td>Bank Name</td>
                <td>Format</td>
                <td>Account number</td>
                <td>Amount</td>
            </tr>
        </thead>
        <tbody>
            {% for item in outflow %}
            <tr>
                <td> {{ item.normalized_description }}</td>
                <td> {{ item.bank_name or "" }}</td>
                <td> {{ item.bank_type or "" }}</td>
                <td class="has-text-right"> {{ item.bank_account_number or "" }}</td>
                <td class="has-text-right"> {{ (item.amount or 0 ) | indian_number_format }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>Investment</td>
                <td>HDFC</td>
                <td>Book transfer</td>
                <td class="has-text-right">00040350000860</td>
                <td class="has-text-right">{{ (daily_sheet.float_amount_given_to_investments or 0) |
                    indian_number_format
                    }}</td>
            </tr>
            <tr>
                <td class="has-text-weight-bold">Total</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="has-text-weight-bold has-text-right">

                    {{ ((outflow_total | float) + (daily_sheet.float_amount_given_to_investments or 0) | float )|
                    indian_number_format
                    }}

                </td>
            </tr>
        </tbody>
    </table>

    <div class="columns">
        <div class="column is-two-thirds"></div>
        <div class="column is-one-third">
            <table class="table is-bordered is-fullwidth">
                <tbody>
                    <tr>
                        <td class="has-text-centered has-text-weight-bold">HDFC Closing balance</td>
                        <td class="has-text-right has-text-weight-bold">
                            {{ (daily_sheet.float_amount_hdfc_closing_balance or 0)| indian_number_format }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt-5"></div>

    <table class="table is-bordered is-fullwidth">
        <thead>
            <tr>
                <th class="has-text-centered">Prepared by</th>
                <th class="has-text-centered">Input given by</th>
                <th class="has-text-centered">First authorized by</th>
                <th class="has-text-centered">Second authorized by</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="is-invisible">Text</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="mb-5 mt-5"></div>
    {% if pdf == "False" %}
    <div class="has-text-centered no-print">
        <a class="button" href="{{ url_for('funds.add_remarks',
            date_string=display_date.strftime('%d%m%Y')) }}">Go to remarks</a>
        <a class="button is-link is-outlined" href="{{ url_for('funds.daily_summary',
            date_string=display_date.strftime('%d%m%Y'), pdf='False' ) }}">Go to daily summary</a>
    </div>
</div>

<div class="mb-5 mt-5"></div>

{% endif %}
{% endblock content %}
