{% extends "funds_layout.html" %}
{% block content %}
<div class="container">

    <table class="table is-bordered is-fullwidth" id="investment_table">
        <thead>
            <tr>
                <th class="has-text-centered">Date given to investment</th>
                <th class="has-text-centered">Amount given</th>
                <th class="has-text-centered">Expected date of return</th>
                <th class="has-text-centered">Remarks</th>
                <th class="has-text-centered">Status</th>
                <th class="has-text-centered">Edit</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                {% for item in investment_list %}
                <td data-sort="{{ item['date_given_to_investment'] }}" class="has-text-centered">{{
                    item['date_given_to_investment'].strftime('%d/%m/%Y') }}</td>
                <td class="has-text-right">{{ item['float_amount_given_to_investment'] | indian_number_format }}</td>
                <td class="has-text-centered" data-sort="{{ item['date_expected_date_of_return'] }}">
                    {% if item['date_expected_date_of_return'] %} {{
                    item['date_expected_date_of_return'].strftime('%d/%m/%Y') }}
                    {% endif %}</td>
                <td>{{ item['text_remarks'] }}</td>
                <td class="has-text-centered">{{ item['current_status'] }}</td>
                <td class="has-text-centered"><a
                        href="{{ url_for('funds.edit_amount_given_to_investment', investment_id=item['id']) }}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% block scripts %}
<script>
    new DataTable('#investment_table', {
        dom: 'lfBrtip',
        buttons: [
            { extend: 'copyHtml5', className: 'is-danger is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'is-info is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'is-primary is-rounded', title: '' }],
        order: [[10, 'desc']],
        pagingType: 'full_numbers',
        lengthMenu: [10, 25, 50, { label: 'All', value: -1 }],
        pageLength: 50,

    });

</script>
{% endblock scripts %}
{% endblock content %}
