{% extends "funds_layout.html" %}
{% block content %}
<div class="container">
    <form method="post">
        {{ form.csrf_token }}
        <table class="table">
            <tr>
                <th>{{ form.start_date.label }}</th>
                <td>{{ form.start_date(class="input") }}</td>
            </tr>
            <tr>
                <th>{{ form.end_date.label }}</th>
                <td>{{ form.end_date(class="input") }}</td>
            </tr>

        </table>

        <button class="button is-success">Download JV</button>

    </form>

    {% for field in form %}
    {% if field.errors %}
    <div class="notification is-danger mt-5">
        {{ field.errors[0] }}
    </div>
    {% endif %}
    {% endfor %}

    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
    <div class="notification is-danger mt-5">
        <p>{{ message }}</p>
    </div>
    {% endfor %}

    {% endwith %}

</div>

{% endblock content %}
