<div class="modal" id="modal_outflow">
    <div class="modal-background"></div>

    <div class="modal-content">
        <div class="box">
            <table class="table is-bordered is-fullwidth">
                <thead>
                    <tr class="has-text-centered has-text-weight-bold">
                        <td>Payments</td>
                        <td>Amount</td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in outflow %}
                    <tr>
                        <td>{{ item.normalized_description }}</td>
                        <td class="has-text-right">
                            {{ (item.amount or 0) | indian_number_format }}
                        </td>
                    </tr>
                    {% endfor %}

                    <tr class="has-text-weight-bold">
                        <td>Total</td>
                        <td class="has-text-right">
                            {{ (outflow | sum(attribute="amount")) | indian_number_format }}
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
