<div class="modal" id="modal_inflow">
    <div class="modal-background"></div>

    <div class="modal-content">
        {% set inflow_total = inflow | sum(attribute='amount') + prev_daily_sheet.float_amount_hdfc_closing_balance
        %}
        <div class="box">

            <table class="table is-bordered is-fullwidth">
                <thead>
                    <tr class="has-text-weight-bold has-text-centered">
                        <td>Collections</td>
                        <td>Amount</td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in inflow %}
                    <tr>
                        <td>{{ item.flag_description }}</td>
                        <td class="has-text-right">
                            {{ (item.amount or 0) | indian_number_format }}
                        </td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td>HDFC OPENING BAL</td>
                        <td class="has-text-right">{{ ( prev_daily_sheet.float_amount_hdfc_closing_balance or 0) |
                            indian_number_format }}
                        </td>
                    </tr>

                    <tr class="has-text-weight-bold">
                        <td>Total</td>
                        <td class="has-text-right">
                            {{ (inflow_total or 0) | indian_number_format }}
                        </td>
                    </tr>

                </tbody>
            </table>
            <button class="modal-close is-large" aria-label="close"></button>

        </div>
    </div>
</div>
