{% extends "funds_layout.html" %}
{% block content %}

<div class="container box">

    <form method="post">

        {{ form.csrf_token }}

        <table class="table">
            <tr>
                <th> {{ form.old_date.label }} </th>
                <td> {{ form.old_date(class="input") }}</td>
            </tr>
            <tr>
                <th> {{ form.new_date.label }}</th>
                <td> {{ form.new_date(class="input") }}</td>
            </tr>
        </table>

        {{ form.submit_button(class="button is-success") }}
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="notification is-danger">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

</div>
{% endblock content %}
