{% extends "funds_layout.html" %}
{% block content %}
<div class="container">

    <table class="table is-bordered is-fullwidth">
        <thead>
            <tr>
                <th class="has-text-centered">Expected date of outgo</th>
                <th class="has-text-centered">Estimated outgo amount</th>
                <th class="has-text-centered">Department</th>
                <th class="has-text-centered">Remarks</th>
                <th class="has-text-centered">Status</th>
                <th class="has-text-centered">Edit</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                {% for item in list_outgo %}
                <td class="has-text-centered">{{ item['date_of_outgo'].strftime('%d/%m/%Y') }}</td>
                <td class="has-text-right">{{ "{:,.2f}".format(item['float_expected_outgo']) }}</td>
                <td class="has-text-centered">{{ item['text_dept'] }}</td>
                <td>{{ item['text_remarks'] }}</td>
                <td class="has-text-centered">{{ item['current_status'] }}</td>
                <td class="has-text-centered"><a
                        href="{{ url_for('funds.edit_major_outgo', outgo_id=item['id']) }}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
