{% extends "funds_layout.html" %}
{% block content %}
<div class="container">

    <table class="table is-bordered is-fullwidth" id="outgo_table">
        <thead>
            <tr>
                <th class="has-text-centered">Expected date of outgo</th>
                <th class="has-text-centered">Estimated outgo amount</th>
                <th class="has-text-centered">Department</th>
                <th class="has-text-centered">Remarks</th>
                <th class="has-text-centered">Status</th>
                <th class="has-text-centered">Edit</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                {% for item in list_outgo %}
                <td class="has-text-centered" data-sort="{{ item['date_of_outgo'] }}">{{
                    item['date_of_outgo'].strftime('%d/%m/%Y') }}</td>
                <td class="has-text-right">{{ item['float_expected_outgo'] | indian_number_format }}</td>
                <td class="has-text-centered">{{ item['text_dept'] }}</td>
                <td>{{ item['text_remarks'] }}</td>
                <td class="has-text-centered">{{ item['current_status'] }}</td>
                <td class="has-text-centered"><a
                        href="{{ url_for('funds.edit_major_outgo', outgo_id=item['id']) }}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% block scripts %}
<script>
    new DataTable('#outgo_table', {
        dom: 'lfBrtip',
        buttons: [
            { extend: 'copyHtml5', className: 'is-danger is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'is-info is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'is-primary is-rounded', title: '' }],
        order: [[10, 'desc']],
        pagingType: 'full_numbers',
        lengthMenu: [10, 25, 50, { label: 'All', value: -1 }],
        pageLength: 50,

    });

</script>
{% endblock scripts %}
{% endblock content %}
