{% extends "funds_layout.html" %}

{% block content %}
<div class="table-container">
    <h1 class="title">Funds - Reports</h1>
    <table class="table is-striped is-bordered is-fullwidth" id="reports_table">
        <thead>
            <tr>
                <th class="has-text-centered">Date</th>
                <th class="has-text-centered">Description</th>
                <th class="has-text-centered">Description</th>
                <th class="has-text-centered">Amount</th>
                <th class="has-text-centered">Type</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                {% for item in query %}

                <td>{{ item[0] or "" }}</td>
                <td>{{ item[1].upper().replace("_", " ").replace("AMOUNT", "") or "" }}</td>
                <td>{{ item[2].upper().replace("_", " ").replace("AMOUNT", "") or "" }}</td>
                <td>{{ item[3] or "" }}</td>
                <td>{{ item[4] or "" }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% block scripts %}
<script>
    new DataTable('#reports_table', {
        layout: {
            top1start: 'pageLength',
            topStart: 'buttons',

        },
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],
        order: [[0, 'asc']],
        pagingType: 'full_numbers',
        lengthMenu: [10, 25, 50, { label: 'All', value: -1 }],
        pageLength: 50,
        columnDefs: [{
            "defaultContent": "-",
            "targets": "_all"
        }]

    });

</script>
{% endblock scripts %}

{% endblock content %}
