{% extends "funds_layout.html" %}
{% block content %}

<div class="table-container">
    <table class="table is-striped is-bordered" id="bank_statement_table">
        <thead>
            <tr>
                {% for i in column_names %}
                <th>{{ i|upper }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for item in query %}
                {% for i in column_names %}
                <td>{{ item[i] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
