{% extends "leave_layout.html" %}
{% block content %}

<div class="container mb-5">
    <div class="has-text-right">
        <a href="{{ url_for('.add_employee_data') }}" class="button is-link is-outlined">Add employee data</a>
    </div>
    <h1 class="title">List of employees</h1>
    <table class="table is-fullwidth is-bordered mt-5">
        <thead>
            <tr>
                <th class="has-text-centered">Employee name</th>
                <th class="has-text-centered">Employee number</th>
                <th class="has-text-centered">Employee designation</th>
                <th class="has-text-centered">Date of joining current cadre</th>
                <th class="has-text-centered">Current status</th>
                <th class="has-text-centered">Edit</th>
                <th class="has-text-centered">Pending leaves</th>
                <th class="has-text-centered">Leave applications</th>
                <th class="has-text-centered">Leave encashment</th>

            </tr>
        </thead>
        <tbody>
            {% for item in list %}
            <tr>

                <td>{{ item['employee_name'] }}</td>
                <td>{{ item['employee_number'] }}</td>
                <td>{{ item['employee_designation'] }}</td>
                <td>{{ item['date_of_joining_current_cadre'].strftime("%d/%m/%Y") if
                    item['date_of_joining_current_cadre'] }}</td>
                <td>{{ item['current_status'] }}</td>

                <td><a class="button is-small is-link" target="_blank"
                        href="{{ url_for('.edit_employee_data', id=item['id']) }}">Edit</a></td>
                <td><a class="button is-small is-link is-outlined" target="_blank"
                        href="{{ url_for('.leaves_taken_list', status='pending',employee_number=item['employee_number']) }}">Pending
                        leaves</a></td>
                <td><a class="button is-small is-link is-outlined" target="_blank"
                        href="{{ url_for('.leave_application_list', employee_number=item['employee_number']) }}">Leave
                        applications</a>
                </td>
                <td><a class="button is-small is-link is-outlined" target="_blank"
                        href="{{ url_for('.leave_encashment_add', employee_number=item['employee_number']) }}">Leave
                        encashment</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
