{% extends "leave_layout.html" %}
{% block content %}
<div class="container">
    <h1 class="title">Leave application</h1>
    <table class="table is-bordered is-fullwidth is-wide">
        <tr>
            <th>Employee name</th>
            <td>{{ leave.employee_name.upper() }}</td>
        </tr>
        <tr>
            <th>Employee number</th>
            <td>{{ leave.employee_number }}</td>
        </tr>
        <tr>
            <th>Designation</th>
            <td>{{ leave.employee_designation }}</td>
        </tr>
        <tr>
            <th>Place of posting</th>
            <td>Accounts department - Head Office (Office code: 100)</td>
        </tr>
        <tr>
            <th>Number of days leave required</th>
            <td>{{ leave.number_of_days_leave }}</td>
        </tr>
        <tr>
            <th>Period of leave</th>
            <td>From {{ leave.start_date.strftime("%d/%m/%Y") }} to {{ leave.end_date.strftime("%d/%m/%Y") }}</td>
        </tr>
        <tr>
            <th>Reason for leave</th>
            <td>{{ leave.purpose_of_leave }}</td>
        </tr>

        <tr>
            <th width="50%">Available leave credit</th>
            <td>{{ leave.available_leave_credit }}</td>
        </tr>

        <tr>
            <th>Approving officer's name</th>
            <td>{{ leave.leave_approved_by }}</td>
        </tr>
        <tr>
            <th>Approving officer's Designation</th>
            <td>{{ leave.leave_approver_designation }}</td>
        </tr>

    </table>
    <div class="has-text-centered">
        <form method="post">

            <button class="button has-background-danger-light" {% if leave.current_status=="Deleted" %}
                title="Leave application already deleted." disabled {% elif leave_submitted(leave.start_date) %}
                disabled title="Leave data already submitted to Establishment department" {% endif %}>
                Delete
            </button>
        </form>
    </div>
</div>
{% endblock content %}
