<style>
    @page {
        size: portrait;
        margin: 1cm;
    }
</style>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma/css/bulma.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='payments.css') }}" />
{% block content %}
<div class="container">
    <h1 class="title has-text-centered">UNITED INDIA INSURANCE COMPANY LIMITED</h1>
    <h1 class="is-size-4 title has-text-centered">APPLICATION FOR {{ leave.type_of_leave.upper() }}</h1>

    <div class="has-text-right">Application no.: {{ leave.id }}</div>
    <table class="table is-bordered is-fullwidth is-wide">
        <tr>
            <th>Employee name</th>
            <td>{{ leave.employee_name.upper() }}</td>
        </tr>
        <tr>
            <th>Employee number</th>
            <td>{{ leave.employee_number }}</td>
        </tr>
        <tr>
            <th>Designation</th>
            <td>{{ leave.employee_designation }}</td>
        </tr>
        <tr>
            <th>Place of posting</th>
            <td>Accounts department - Head Office (Office code: 100)</td>
        </tr>
        <tr>
            <th>Number of days leave required</th>
            <td>{{ leave.number_of_days_leave }}</td>
        </tr>
        <tr>
            <th>Period of leave</th>
            <td>From {{ leave.start_date.strftime("%d/%m/%Y") }} to {{ leave.end_date.strftime("%d/%m/%Y") }}</td>
        </tr>
        <tr>
            <th>Reason for leave</th>
            <td>{{ leave.purpose_of_leave }}</td>
        </tr>
    </table>

    <div class="has-text-left">Date: _________________</div>
    <div class="has-text-right">Applicant's signature</div>

    {% if leave.available_leave_credit and leave.available_leave_credit > 0 %}
    <table class="table is-bordered is-fullwidth">
        <tr>
            <th width="50%">Available leave credit</th>
            <td>{{ to_mixed_fraction_11(leave.available_leave_credit) }}</td>
        </tr>
        {% endif %}
    </table>
    <table class="table is-bordered is-fullwidth">
        <tr>
            <td colspan="2" class="has-text-centered has-text-weight-bold">Details of the Officer Granting / Refusing
                Leave</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ leave.leave_approved_by }}</td>
        </tr>
        <tr>
            <th>Designation</th>
            <td>{{ leave.leave_approver_designation }}</td>
        </tr>
        <tr>
            <td colspan="2">
                {{ leave.type_of_leave }} applied for is GRANTED / REFUSED for {{
                leave.number_of_days_leave
                }} days from {{ leave.start_date.strftime("%d/%m/%Y") }} to {{ leave.end_date.strftime("%d/%m/%Y") }}.
            </td>
        </tr>
    </table>
    <div class="has-text-left mt-5">Date: _________________</div>
    <div class="has-text-right mt-5">Signature of the officer</div>
</div>
{% endblock content %}
