<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Accounts" />
    <meta name="description" content="Accounts" />
    <title>CFAC Portal</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='payments.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma/css/bulma.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}" />
</head>

<body {% block body_attrs %}{% endblock body_attrs %}>
    <header>
        <nav class="navbar has-background-link-light has-shadow" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="navbar-start">
                    <a class="navbar-item" href="{{ url_for('main.index') }}">Home</a>
                    <a class="navbar-item" href="{{ url_for('.leave_home') }}">Leave home</a>
                    <a class="navbar-item" href="{{ url_for('.leave_attendance_list') }}">Attendance</a>
                    <a class="navbar-item" href="{{ url_for('.pending_leaves_list') }}">Pending leaves</a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Leaves taken</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item"
                                href="{{ url_for('.leaves_taken_list', status='pending') }}">Pending</a>
                            <a class="navbar-item"
                                href="{{ url_for('.leaves_taken_list', status='submitted') }}">Submitted</a>
                            <a class="navbar-item" href="{{ url_for('.leaves_taken_list', status='all') }}">All
                                leaves</a>
                        </div>
                    </div>
                    <a class="navbar-item" href="{{ url_for('.leave_application_list') }}">Leave application</a>
                    <a class="navbar-item" href="{{ url_for('.leave_balance_list') }}">Leave balance</a>
                    <a class="navbar-item" href="{{ url_for('.employee_data_list') }}">Employee data</a>
                    <a class="navbar-item" href="{{ url_for('.leave_encashment_add') }}">Apply leave encashment</a>
                    <a class="navbar-item" href="{{ url_for('.leave_balance_open_list') }}">Close leave balances for the
                        year</a>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if not current_user.is_authenticated %}

                        <div>
                            <a class="button is-link" href="{{ url_for('users.login_page') }}">Login</a>
                            {% else %}
                            <a class="button"> {{ current_user.username }} </a>
                            <a class="button is-link" href="{{ url_for('users.logout_page') }}">Log out</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container is-fluid mt-5">

        {% if current_user.is_authenticated %}
        {% block content %}{% endblock content %}
        {% endif %}
    </div>
    <script type="text/javascript" charset="utf8"
        src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>
    {% block scripts %}

    {% endblock scripts %}

</body>

</html>
