{% extends "pool_credits_layout.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="title">Bulk upload JV mappings</h1>

    <form class="mb-5" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.jv_file }}

        <div class="has-text-centered"><button class="button is-success">Submit</button></div>

    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="notification is-danger">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% for field, errors in form.errors.items() %}
    <div class="notification is-danger">
        {{ field }} {{ ', '.join(errors) }}
    </div>
    {% endfor %}
</div>
{% endblock content %}
