<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Accounts" />
    <meta name="description" content="Accounts" />
    <title>CFAC Portal | HDFC Pool credits</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='payments.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma/css/bulma.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}" />
</head>

<body>
    <header>
        <nav class="navbar has-background-link-light has-shadow" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="navbar-start">
                    <a class="navbar-item" href="{{ url_for('main.index') }}">Home</a>
                    <a class="navbar-item {% if active_page == 'pool_credits.identified_entries' %} has-background-info-light {% endif %}"
                        href="{{ url_for('.identified_entries') }}">Identified entries</a>
                    <a class="navbar-item {% if active_page == 'pool_credits.download_monthly' %} has-background-info-light {% endif %}"
                        href="{{ url_for('.download_monthly') }}">Download identified entries</a>
                    <a class="navbar-item {% if active_page == 'pool_credits.pool_credits_list_identified_api' and view_args.get('status') == 'unidentified' %} has-background-info-light {% endif %}"
                        href="{{ url_for('.pool_credits_list_identified_api', status='unidentified') }}">Unidentified
                        entries</a>
                    <a class="navbar-item {% if active_page == 'pool_credits.pool_credits_list_identified_api' and view_args.get('status') == 'confirmed' %} has-background-info-light {% endif %}"
                        href="{{ url_for('.pool_credits_list_identified_api', status='confirmed') }}">Confirmed
                        entries</a>
                    <a class="navbar-item {% if active_page == 'pool_credits.pool_credits_list_identified_api' and view_args.get('status') == 'jv_passed' %} has-background-info-light {% endif %}"
                        href="{{ url_for('.pool_credits_list_identified_api', status='jv_passed') }}">JV
                        passed entries</a>
                    {% if current_user.user_type == "admin" %}
                    <a class="navbar-item {% if active_page == 'pool_credits.view_pool_credit_summary' %} has-background-info-light {% endif %}"
                        href="{{ url_for('.view_pool_credit_summary') }}">Summary</a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a
                            class="navbar-link
                            {% if active_page in ('pool_credits.jv_list', 'pool_credits.jv_add', 'pool_credits.jv_bulk_upload') %} has-background-info-light {% endif %}">
                            Journal vouchers</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item {% if active_page == 'pool_credits.jv_list' %} has-background-info-light {% endif %}"
                                href="{{ url_for('.jv_list') }}">JV mappings</a>
                            <a class="navbar-item {% if active_page == 'pool_credits.jv_add' %} has-background-info-light {% endif %}"
                                href="{{ url_for('.jv_add') }}">Add new JV mapping</a>
                            <a class="navbar-item {% if active_page == 'pool_credits.jv_bulk_upload' %} has-background-info-light {% endif %}"
                                href="{{ url_for('.jv_bulk_upload') }}">Bulk upload JV mapping</a>
                            <hr class="navbar-divider" />
                            {# <a class="navbar-item" href="{{ url_for('.download_jv_confirmed_entries') }}">Download
                                JV</a> #}
                            <a class="navbar-item" href="{{ url_for('.download_jv_confirmed_entries_v2') }}">Download
                                JV</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

            {% include "partials/navbar_user_details.html" %}
        </nav>
    </header>

    <div class="container is-fluid">

        {% block content %}

        {% endblock content %}

    </div>
    <script type="text/javascript" charset="utf8"
        src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>

    {% block scripts %}

    {% endblock scripts %}

</body>

</html>
