{% extends "pool_credits_layout.html" %}

{% block content %}

<div class="container is-fluid mt-5 pb-5">
    <h1 class="title">HDFC Pool account - List of {{ status }} entries</h1>
    <table class="table is-bordered is-striped is-fullwidth" id="pool_credits_table">
        <thead>
            <tr>
                <th class="has-text-centered is-vcentered">Book date</th>
                <th class="has-text-centered is-vcentered">Description</th>
                <th class="has-text-centered is-vcentered">Credit</th>
                <th class="has-text-centered is-vcentered">Debit</th>
                <th class="has-text-centered is-vcentered">Value date</th>
                <th class="has-text-centered is-vcentered">Reference number</th>
                <th class="has-text-centered is-vcentered">Confirmed by</th>
                <th class="has-text-centered is-vcentered">Edit</th>
            </tr>
        </thead>

    </table>
</div>
{% block scripts %}
<script>
    $(document).ready(function () {
        new DataTable('#pool_credits_table', {
            // $('#pool_credits_table').DataTable({

            ajax: "{{ url_for('pool_credits.get_data', status=status) }}",
            serverSide: true,
            stateSave: true,
            processing: true,
            layout: {
                topStart: 'pageLength',
                top2Start: {
                    buttons: [
                        { extend: 'copyHtml5', className: 'is-danger is-rounded', title: '' },
                        { extend: 'csvHtml5', className: 'is-info is-rounded', title: '' },
                        { extend: 'excelHtml5', className: 'is-primary is-rounded', title: '' }],
                }
            },

            columns: [
                {
                    data: 'book_date',
                    className: 'dt-body-center',
                    render: $.fn.dataTable.render.datetime('yyyy-MM-DD')
                    //render: $.fn.dataTable.render.datetime('DD/MM/yyyy')

                },
                { data: 'description' },
                { data: 'credit', className: 'dt-body-right', },
                { data: 'debit', className: 'dt-body-right', },
                {
                    data: 'value_date',
                    className: 'dt-body-center',
                    render: $.fn.dataTable.render.datetime('yyyy-MM-DD')
                    //render: $.fn.dataTable.render.datetime('DD/MM/yyyy')
                },
                { data: 'reference_no' },

                { data: 'str_regional_office_code' },
                {
                    data: 'id',
                    render: function (data, type, row, meta) {
                        return "<a class='button is-small' href=/pool_credits/edit/" + data + "/>Edit</a>";
                    }
                }
            ],
            order: [[7, 'desc']]
        });
    });
</script>
{% endblock scripts %}

{% endblock content %}
