{% macro render_field_table(field, disabled=False) %}
{% if field.widget.input_type != "hidden" %}
<tr>
    <th class="is-vcentered">{{ field.label }} </th>

    <td>
        {% if field.type == "TextAreaField" %}
        {{ field(class="textarea", **kwargs) }}
        {% elif field.type == "SelectField" %}
        <div class="select is-fullwidth">{{ field }}</div>
        {% elif field.type in ["BooleanField", "RadioField"] %}
        {{ field(**kwargs) }}
        {% elif field.type in ["FileField", "MultipleFileField"] %}
        {{ field(class="file", disabled=disabled, **kwargs) }}
        {% else %}
        {{ field(class="input", disabled=disabled, **kwargs) }}
        {% endif %}

        {% if field.errors %}
        <div class="notification is-danger is-light">
            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}

    </td>
</tr>
{% endif %}
{% endmacro %}
{% macro render_field_table_lien(field, lien=None) %}
{% if field.widget.input_type != "hidden" %}
<tr>
    <th class="is-vcentered">{{ field.label }}</th>
    <td>
        {% if field.type == "TextAreaField" %}
        {{ field(class="textarea", **kwargs) }}
        {% elif field.type == "SelectField" %}
        <div class="select is-fullwidth">{{ field(**kwargs) }}</div>
        {% elif field.type in ["BooleanField", "RadioField"] %}
        {{ field(**kwargs) }}
        {% elif field.type in ["FileField", "MultipleFileField"] %}
        {{ field(class="file", **kwargs) }}

        {% set db_field_name = field.name.replace('_file', '') %}
        {%- if lien and (lien | attr(db_field_name)) %}
        <a class="button is-small is-outlined is-link" href="{{ url_for('lien.download_document',
                                    lien_id=lien.id,
                                    document_type=db_field_name) }}">
            Download existing file
        </a>
        {% endif -%}
        {% else %}
        {{ field(class="input", **kwargs) }}
        {% endif %}

        {% if field.errors %}
        <div class="notification is-danger is-light">
            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </td>
</tr>
{% endif %}
{% endmacro %}

{% macro render_field_div(field) %}

<div class="field">
    <label class="label">{{ field.label }}</label>
    <div class="control">

        {% if field.type == "TextAreaField" %}
        {{ field(class="textarea", placeholder=field.description) }}
        {% elif field.type == "SelectField" %}
        <div class="select is-fullwidth">{{ field }}</div>
        {% elif field.type in ["RadioField", "BooleanField"] %}
        {{ field }}
        {% elif field.type in ["FileField", "MultipleFileField"] %}
        {{ field(class="file") }}
        {% else %}
        {{ field(class="input", placeholder=field.description) }}
        {% endif %}

    </div>
    {% if field.errors %}
    <div class="notification is-danger is-light">
        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </div>
    {% endif %}

</div>

{% endmacro %}

{% macro render_field_div_horizontal(field, is_narrow=True) %}

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{ field.label }}</label>
    </div>
    <div class="field-body">
        <div class="field {% if is_narrow %} is-narrow {% endif %}">
            <p class="control">

                {% if field.type == "TextAreaField" %}
                {{ field(class="textarea", placeholder=field.description) }}
                {% elif field.type == "SelectField" %}
            <div class="select is-fullwidth">{{ field }}</div>
            {% elif field.type in ["RadioField", "BooleanField"] %}
            {{ field }}
            {% elif field.type in ["FileField", "MultipleFileField"] %}
            {{ field(class="file") }}
            {% else %}
            {{ field(class="input", placeholder=field.description) }}
            {% endif %}

            </p>
        </div>
    </div>
    {% if field.errors %}
    <div class="notification is-danger is-light">
        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </div>
    {% endif %}

</div>

{% endmacro %}

{% macro render_dashboard_dropdown(form) %}

{{ form.csrf_token }}

<div class="field is-horizontal">
    {% for field in form if field.type == "SelectField" %}
    <div class="field-label is-normal">
        <label class="label">{{ field.label }}</label>
    </div>
    <div class="field-body">
        <div class="field is-narrow">
            <p class="control">
            <div class="select is-fullwidth">{{ field }}</div>
            </p>
        </div>
        {% for field in form if field.type == "SubmitField" %}
        <div class="field">
            <p class="control">
                {{ field }}
            </p>
        </div>
        {% endfor %}
    </div>

    {% endfor %}

</div>
{% endmacro %}
