<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="CFAC portal" />
  <meta name="description" content="CFAC portal" />
  <title>Home</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma/css/bulma.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='payments.css') }}" />

</head>

<header>
  <nav class="navbar has-background-primary-light" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-start">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-link" href="{{ url_for('main.index') }}">Home</a>

          </div>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {% if not current_user.is_authenticated %}
          <a class="button is-link" href="{{ url_for('users.login_page') }}">Login</a>
          {% else %}

          <a class="button"> {{ current_user.username }} </a>
          <a class="button is-link" href="{{ url_for('users.logout_page') }}">Log out</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>

<body>

  <div class="columns">
    <div class="column is-2">
      <aside class="menu mt-5 ml-5">
        <p class="menu-label">General</p>
        <ul class="menu-list">
          <li><a href="{{ url_for('coinsurance.home_page') }}">Coinsurance</a></li>
          {% if current_user.user_type != "coinsurance_hub_user" %}
          <li><a href="{{ url_for('brs.brs_home_page') }}">BRS</a></li>
          {% endif %}
          <li><a
              href="{{ url_for('tickets.filter_by_status', status='Pending for CFAC approval', department='View all') }}">Tickets</a>
          </li>
          {% if current_user.user_type in ["admin", "ro_user"] %}
          <li><a class="has-background-warning-light" href="{{ url_for('pool_credits.identified_entries') }}">HDFC Pool
              - Daily JV and Unidentified entries</a></li>
          <li><a href="{{ url_for('ho_ro_recon.recon_home') }}">HO RO recon</a></li>
          {% endif %}
        </ul>
        <p class="menu-label">Information</p>
        <ul class="menu-list">
          <li><a href="{{ url_for('knowledge_base.knowledge_base_home_page') }}">Knowledge Base</a></li>
          <li><a href="{{ url_for('contacts.contacts_homepage') }}">Contacts</a></li>
          <li><a href="{{ url_for('announcements.view_announcements') }}">Announcements</a></li>
          <li><a href="{{ url_for('mis.view_mis_tracker') }}">MIS status</a></li>
        </ul>
        <p class="menu-label">Useful links</p>
        <ul class="menu-list">
          <li><a href="{{ url_for('main.pos_dashboard') }}">POS Dashboard</a></li>
        </ul>
        {% if current_user.user_type != "coinsurance_hub_user" %}
        <p class="menu-label">Data collection</p>
        <ul class="menu-list">
          <li><a href="{{ url_for('outstanding_expenses.os_homepage') }}">Outstanding expenses</a></li>
          <li><a href="{{ url_for('bg.bg_homepage') }}">Bank guarantee</a></li>
        </ul>
        {% endif %}
        {% if current_user.user_type in ["admin"] %}
        <p class="menu-label">Head Office only</p>
        <ul class="menu-list">
          <li><a href="{{ url_for('leave_management.leave_home') }}">Leave management</a></li>
          <li><a href="{{ url_for('ho_accounts.ho_accounts_tracker_home') }}">Accounts closing
              checklist</a></li>
          {% if current_user.role and "fund_manager" in current_user.role %}
          <li><a href="{{ url_for('funds.funds_home') }}">Funds</a></li>
          {% else %}
          <li><a href="{{ url_for('funds.funds_reports') }}">Funds - Reports</a></li>
          {% endif %}
          {% if current_user.role and "budget_manager" in current_user.role %}
          <li><a href="{{ url_for('budget.view_budget_utilization') }}">Budget</a></li>
          {% endif %}
          <li><a href="{{ url_for('contracts.view_contracts', status='active') }}">Contracts</a></li>
          <li><a href="{{ url_for('lien.lien_list') }}">Lien</a></li>
          <li><a href="{{ url_for('pg_tieup.list_pg_tieup') }}">PG tieup</a></li>

        </ul>
        {% endif %}
        {% if current_user.user_type in ["admin","ro_user"] %}
        <p class="menu-label">Admin</p>
        <ul class="menu-list">
          <li><a href="{{ url_for('portal_admin.view_list_users') }}">Reset password</a></li>
        </ul>
        {% endif %}
      </aside>
    </div>
    <div class="column mt-5 mr-5">

      <h1 class="title is-size-3">Latest announcements</h1>
      <div class="table-container">
        <table class="table is-fullwidth is-bordered" id="announcements_table">
          <thead>
            <tr>
              <th class="has-text-centered">Posted by</th>
              <th class="has-text-centered">Posted on</th>
              <th class="has-text-centered">Title</th>
              <th class="has-text-centered">Message</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for item in query %}
              <td>{{ item.created_by.upper() }}</td>
              <td title="{{ item.created_on }}">{{ item.created_on | humanize_datetime }}</td>
              <td>{{ item.txt_title }}</td>
              <td>{{ item.txt_message }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <a class="button is-link is-outlined" href="{{ url_for('announcements.view_announcements') }}">View all
          announcements →</a>
      </div>

      <h1 class="title is-size-3">MIS status</h1>
      <table class="table is-fullwidth is-bordered" id="mis_table">
        <thead>
          <tr>
            <th class="has-text-centered">Month</th>
            <th class="has-text-centered">MIS</th>
            <th class="has-text-centered">MIS has been shared</th>
            {% if current_user.user_type == "admin" %}
            <th class="has-text-centered">BRS completed</th>
            <th class="has-text-centered">JV passed</th>

            {% endif %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for item in list %}
            <td>{{ item.txt_period }}</td>
            <td>{{ item.txt_mis_type }}</td>
            <td class="has-text-centered">{{ "✅" if item.bool_mis_shared else "❌" }}</td>
            {% if current_user.user_type == "admin" %}
            <td class="has-text-centered">{{ "✅" if item.bool_brs_completed else "❌" }}</td>
            <td class="has-text-centered">{{ "✅" if item.bool_jv_passed else "❌" }}</td>

            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a class="button is-link is-outlined" href="{{ url_for('mis.view_mis_tracker') }}">View all MIS tracker→</a>
    </div>
  </div>

</body>

</html>
