<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="CFAC portal" />
  <meta name="description" content="CFAC portal" />
  <title>Home</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma/css/bulma.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='payments.css') }}" />

</head>

<header>
  <nav class="navbar has-background-primary-light" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-start">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-link" href="{{ url_for('main.index') }}">Home</a>

          </div>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {% if not current_user.is_authenticated %}
          <a class="button is-link" href="{{ url_for('users.login_page') }}">Login</a>
          {% else %}

          <a class="button"> {{ current_user.username }} </a>
          <a class="button is-link" href="{{ url_for('users.logout_page') }}">Log out</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>

<body>
  <div class="container">
    <div class="grid box">

      <div class="cell">
        <a href="{{ url_for('coinsurance.home_page') }}">
          <article class="box notification is-black has-text-white">
            <div class="content">
              <p class="title">Coinsurance</p>
              <p class="subtitle">Upload coinsurance confirmations</p>
              <div class="content">

              </div>
            </div>
          </article>
        </a>
      </div>
      {% if current_user.user_type != "coinsurance_hub_user" %}
      <div class="cell">
        <a href="{{ url_for('brs.brs_home_page')}}">
          <article class="box notification has-background-warning-80">
            <div class="content">
              <p class="title">BRS</p>
              <p class="subtitle">Enter BRS and outstanding entries</p>
              <div class="content">

              </div>
            </div>
          </article>
        </a>
      </div>
      {% endif %}
      <div class="cell">
        <a href="{{ url_for('tickets.filter_by_status', status='Pending for CFAC approval', department='View all') }}">
          <article class="box notification is-info">
            <div class="content">
              <p class="title">Tickets</p>
              <p class="subtitle">HPSM tickets pending for CFAC approval</p>
              <div class="content">

              </div>
            </div>
          </article>
        </a>
      </div>

      <div class="cell">
        <a href="{{ url_for('knowledge_base.knowledge_base_home_page') }}">
          <article class="box notification has-background-success-60">
            <div class="content">
              <p class="title">Knowledge Base</p>
              <p class="subtitle">Everything you need to know about</p>
              <div class="content">

              </div>
            </div>
          </article>
        </a>
      </div>

    </div>
  </div>
  <div class="container">
    <div class="grid box">
      <div class="cell">
        <a href="{{ url_for('contacts.contacts_homepage') }}">
          <article class="box notification has-background-success-60">
            <div class="content">
              <p class="title">Contacts</p>
              <p class="subtitle">Head Office, Regional Office and Coinsurance hub</p>
              <div class="content">

              </div>
            </div>
          </article>
        </a>
      </div>
      {% if current_user.user_type != "coinsurance_hub_user" %}
      <div class="cell">
        <a href="{{ url_for('bg.bg_homepage') }}">
          <article class="box notification is-info">
            <div class="content">
              <p class="title">Bank Guarantee</p>
              <p class="subtitle">Details of bank guarantee balance - as on March 2024</p>
              <div class="content">

              </div>
            </div>
          </article>
        </a>
      </div>
      {% endif %}
      {% if current_user.user_type != "coinsurance_hub_user" %}
      <div class="cell">
        <a href="{{ url_for('outstanding_expenses.os_homepage') }}">
          <article class="box notification has-background-warning-80">
            <div class="content">
              <p class="title">Outstanding Expenses</p>
              <p class="subtitle is-size-6">Details of O/S exp</p>
              <div class="content">

              </div>
            </div>
          </article>
        </a>
      </div>
      {% endif %}
      {% if current_user.user_type != "coinsurance_hub_user" %}
      <div class="cell">
        <a href="{{ url_for('main.pos_dashboard') }}">
          <article class="box notification has-background-success-60">
            <div class="content">
              <p class="title">POS Dashboard</p>
              <p class="subtitle">Kotak WorldLine</p>
              <div class="content">

              </div>
            </div>
          </article>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  {% if current_user.user_type in ["admin","ro_user"] %}
  <div class="container">
    <div class="grid box">
      {% if current_user.user_type == "admin" %}

      <div class="cell">
        <a href="{{ url_for('contracts.view_contracts', status='active') }}">
          <article class="box notification has-background-warning-80">
            <div class="content">
              <p class="title">Contracts</p>
              <p class="subtitle">Details of Active and expired contracts</p>
              <div class="content">

              </div>

            </div>
          </article>
        </a>
      </div>
      {% endif %}

      {% if current_user.user_type in ["admin","ro_user"] %}
      <div class="cell">
        <a href="{{ url_for('portal_admin.view_list_users') }}">
          <article class="box notification has-background-danger-65 has-text-white">
            <div class="content">
              <p class="title">Reset password</p>
              <p class="subtitle">Reset user password</p>
              <div class="content">

              </div>

            </div>
          </article>
        </a>
      </div>
      {% endif %}
    </div>
  </div>

  {% endif %}
</body>

</html>
