<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="keywords" content="CFAC portal"/>
        <meta name="description" content="CFAC portal" />
        <title>Home</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='payments.css') }}"/>

    </head>

        <header>
            <nav class="navbar has-background-primary-light" aria-label="main navigation">
                <div class="navbar-brand">
                    <div class="navbar-start">
                        <div class="navbar-item">
                            <div class="buttons">
                                <a class="button is-link" href="{{ url_for('main.index')}}">Index</a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {% if not current_user.is_authenticated %}
                                <a class="button is-link" href="{{ url_for('users.login_page') }}">Login</a>
                                {% else %}

                                  <a class="button">  {{ current_user.oo_code }} </a>
                                <a class="button is-link" href="{{ url_for('users.logout_page') }}">Log out</a>
                                {% endif %}
                            </div>
                        </div>
                        </div>
            </nav>
        </header>
        <body>
<div class="container">
<div class="tile is-ancestor">

    <div class="tile is-parent">
     <a href="{{ url_for('coinsurance.home_page') }}">
    <article class="tile is-child notification is-primary">
      <div class="content">
        <p class="title">Coinsurance</p>
        <p class="subtitle">Upload coinsurance confirmations</p>
        <div class="content">

        </div>
      </div>
    </article>
    </a>
  </div>
  {% if current_user.user_type != "coinsurance_hub_user" %}
    <div class="tile is-parent">
    <a href="{{ url_for('brs.brs_home_page')}}">
    <article class="tile is-child notification is-warning">
      <div class="content">
        <p class="title">BRS</p>
        <p class="subtitle">Enter BRS and outstanding entries</p>
        <div class="content">

        </div>
      </div>
    </article>
    </a>
    </div>
    {% endif %}
  <div class="tile is-parent">
      <a href="{{ url_for('tickets.tickets_homepage') }}">
    <article class="tile is-child notification is-link">
      <div class="content">
        <p class="title">Tickets</p>
        <p class="subtitle">HPSM tickets pending for CFAC approval</p>
        <div class="content">

        </div>
      </div>
    </article>
      </a>
  </div>

  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title">Knowledge base</p>
        <p class="subtitle">Everything you need to know about</p>
        <div class="content">

        </div>
      </div>
    </article>
  </div>

</div>
</div>
<div class="container">
    <div class="tile is-ancestor">
  <div class="tile is-parent">
      <a href="{{ url_for('contacts.contacts_homepage') }}">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title">Contacts</p>
        <p class="subtitle">Head Office, Regional Office and Coinsurance hub</p>
        <div class="content">

        </div>
      </div>
    </article>
          </a>
  </div>

    {% if current_user.user_type == "admin" %}
      <div class="tile is-parent">
    <a href="{{ url_for('contracts.view_contracts', status='active') }}">
    <article class="tile is-child notification is-info">
      <div class="content">
        <p class="title">Contracts</p>
        <p class="subtitle">Contracts tracker - Details of Active and expired contracts</p>
        <div class="content">

        </div>
        {% endif %}
      </div>
    </article>
    </a>
  </div>
    {% if current_user.user_type == "admin" %}
      <div class="tile is-parent">
    <a href="{{ url_for('admin.home_page')}}">
    <article class="tile is-child notification is-danger">
      <div class="content">
        <p class="title">Admin users</p>
        <p class="subtitle">Reset user password and bulk upload user logins</p>
        <div class="content">

        </div>
        {% endif %}
               </div>
    </article>
    </a>
      </div>

</div>
</div>
    </body>
</html>
