{% extends "contacts_layout.html" %}
{% block content %}
<h1 class="title">Bulk upload contact in csv format</h1>

<div class="notification is-light is-danger">Existing data will be replaced.</div>

<form class="mb-5" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="Upload" />
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
           <div class="notification is-success">
<p>{{ message }}</p>
</div>
{% endfor %}
{% endif %}
{% endwith %}
        {% endblock content %}
