{% extends "contacts_layout.html" %}
{% block content %}
{% if contacts %}

<table class="table is-fullwidth is-hoverable is-bordered" id="contacts_table">
    <thead>
        <tr>
            <th class="has-text-centered is-vcentered">Office Code</th>
            <th class="has-text-centered is-vcentered">Office name</th>
            <th class="has-text-centered is-vcentered">Name</th>
            <th class="has-text-centered is-vcentered">Employee number</th>
            <th class="has-text-centered is-vcentered">Role</th>
            <th class="has-text-centered is-vcentered">Zone</th>
            <th class="has-text-centered is-vcentered">Designation</th>
            <th class="has-text-centered is-vcentered">Email address</th>
            <th class="has-text-centered is-vcentered">Mobile number</th>
            {% if current_user.user_type == "admin" %}
            <th>Edit</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.office_code }}</td>
            <td>{{ contact.office_name }}</td>
            <td>{{ contact.name }}</td>
            <td class="has-text-centered">{{ contact.employee_number }}</td>
            <td class="has-text-left" data-sort="{{ sort_order(contact.role) }}">{{ contact.role }}</td>
            <td>{{ contact.zone }}</td>
            <td>{{ contact.designation }}</td>
            <td>{{ contact.email_address }}</td>
            <td>{{ contact.mobile_number }}</td>
            {% if current_user.user_type == "admin" %}
            <td><a href="{{ url_for('contacts.edit_contact', contact_id=contact.id) }}">Edit</a></td>
            {% endif %}
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endif %}
{% block scripts %}
<script>

    new DataTable('#contacts_table', {
        layout: {
            top1start: 'pageLength',
            topStart: 'buttons',

        },
        paging: false,
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],
        order: [[0, 'asc'], [4, 'asc']],
        pagingType: 'full_numbers',

    });

</script>
{% endblock scripts %}
{% endblock content %}
