{% extends "brs_lc_layout.html" %}

{% block content %}

<div class="container">
    <h1 class="title">BRS details</h1>
    <form method="post">
        {{ form.csrf_token }}
        <table class="table is-fullwidth table-hover">

            <tr>
                <th>Regional Office code</th>
                <td>{{ brs.regional_office }}</td>
                <td></td>
            </tr>
            <tr>
                <th>Operating Office Code</th>
                <td>{{ brs.operating_office }}</td>
                <td></td>
            </tr>
            <tr>
                <th>Month</th>
                <td>{{ brs.month }}</td>
                <td></td>
            </tr>

            {% if brs.local_collection_bank_name %}
            <tr>
                <th>Centralised cheque BRS</th>
                <td>

                    {% if brs.local_collection_brs_month_id %}
                    <a class="btn btn-success"
                        href='{{ url_for(".view_brs", brs_key = brs.local_collection_brs_month_id) }}'>View
                        Centralised cheque BRS</a>
                <td class="is-vcentered">
                    {% if delete_button %}
                    {{ form.delete_brs }} {{ form.delete_brs.label }}
                    {% endif %}
                </td>
                {% else %}
                <a class="btn btn-danger" href='{{ url_for(".brs_lc_data_entry", key = brs.id) }}'>
                    Enter Centralised cheque BRS</a>
                </td>
                <td></td>
                {% endif %}
            </tr>

            {% endif %}
        </table>

        <div class="text-center">

            {% if brs.local_collection_brs_month_id and delete_button %}
            <button class="btn btn-danger">Delete</button>
            {% endif %}
        </div>

    </form>

    {% include "partials/bootstrap_alerts.html" %}
</div>

{% endblock content %}
