{% extends "lien_layout.html" %}
{% block title %}Lien{% endblock title %}
{% from "form_field_helpers_macro.html" import render_dashboard_dropdown %}
{% block content %}
<div class="container is-fluid">
    <h1 class="title">Lien summary reports - {{ status }}</h1>

    <form method="post">
        {{ render_dashboard_dropdown(form) }}
    </form>
    <div class="tabs is-boxed mt-5">
        <ul>
            <li id="sum_tab" class="is-active">
                <a onclick="show_sum()">Sum</a>
            </li>
            <li id="count_tab">
                <a onclick="show_count()">Count</a>
            </li>
        </ul>
    </div>
    <div id="sum_table" class="container is-fluid">
        <table class="table is-bordered is-striped is-hoverable" id="lien_sum">
            <thead>
                <tr>
                    <th class="is-vcentered has-text-centered">RO code</th>
                    <th class="is-vcentered has-text-centered">RO name</th>
                    {% for bank in bank_names %}
                    <th class="is-vcentered has-text-centered">{{ bank }}</th>
                    {% endfor %}
                    <th class="is-vcentered has-text-centered">Total Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for row in lien_data %}
                <tr>
                    <td>{{ row.ro_code }}</td>
                    <td>{{ row.ro_name }}</td>

                    {% for bank in bank_names %}
                    {% set safe_bank = bank_labels[bank] %}
                    <td class="has-text-right">{{ (row['sum_' ~ safe_bank] or 0) | indian_number_format }}</td>
                    {% endfor %}
                    <td class="has-text-right">{{ (row.total_amount or 0 )| indian_number_format }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="is-hidden container is-fluid" id="count_table">
        <table class="table is-bordered is-striped is-hoverable" id="lien_count">
            <thead>
                <tr>
                    <th class="is-vcentered has-text-centered">RO code</th>
                    <th class="is-vcentered has-text-centered">RO name</th>
                    {% for bank in bank_names %}
                    <th class="is-vcentered has-text-centered">{{ bank }}</th>
                    {% endfor %}
                    <th class="is-vcentered has-text-centered">Total Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for row in lien_data %}
                <tr>
                    <td>{{ row.ro_code }}</td>
                    <td>{{ row.ro_name }}</td>

                    {% for bank in bank_names %}
                    {% set safe_bank = bank_labels[bank] %}
                    <td class="has-text-right">{{ (row['count_' ~ safe_bank] or 0) }}</td>
                    {% endfor %}
                    <td class="has-text-right">{{ (row.total_count or 0 ) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock content %}

{% block scripts %}

<script>
    function show_count() {
        // Toggle Tables
        document.getElementById("sum_table").classList.add("is-hidden");
        document.getElementById("count_table").classList.remove("is-hidden");

        // Toggle Tabs
        document.getElementById("sum_tab").classList.remove("is-active");
        document.getElementById("count_tab").classList.add("is-active");

        // Important: Recalculate columns for the hidden table
        if ($.fn.DataTable.isDataTable('#lien_count')) {
            $('#lien_count').DataTable().columns.adjust().draw();
        }
    }

    function show_sum() {
        // Toggle Tables
        document.getElementById("count_table").classList.add("is-hidden");
        document.getElementById("sum_table").classList.remove("is-hidden");

        // Toggle Tabs
        document.getElementById("count_tab").classList.remove("is-active");
        document.getElementById("sum_tab").classList.add("is-active");

        if ($.fn.DataTable.isDataTable('#lien_sum')) {
            $('#lien_sum').DataTable().columns.adjust().draw();
        }
    }

    // DataTable Configuration
    const dtConfig = {
        layout: {
            top1start: 'pageLength',
            topStart: 'buttons',
        },
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }
        ],
        order: [[0, 'asc']],
        pagingType: 'full_numbers',
        pageLength: 50,
        lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, 'All']]
    };

    // Initialize both tables
    $(document).ready(function () {
        new DataTable('#lien_sum', dtConfig);
        new DataTable('#lien_count', dtConfig);
    });
</script>

{% endblock scripts %}
