{% extends "lien_layout.html" %}
{% block title %}Lien dashboard {% endblock title %}

{% block content %}
<div class="container is-fluid">
    <h1 class="title">Lien Dashboard</h1>

    <table class="table is-bordered is-striped is-hoverable">
        <thead>
            <tr>
                <th class="is-vcentered has-text-centered">RO Code</th>
                <th class="is-vcentered has-text-centered">Bank Name</th>
                {% for status in lien_statuses %}
                <th class="is-vcentered has-text-centered">Count {{ status }}</th>
                <th class="is-vcentered has-text-centered">Sum {{ status }}</th>
                {% endfor %}
                <th class="is-vcentered has-text-centered">Total Count</th>
                <th class="is-vcentered has-text-centered">Total Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for row in lien_data %}
            <tr>
                <td>{{ row.ro_code }}</td>
                <td>{{ row.bank_name }}</td>

                {% for status in lien_statuses %}
                {% set safe_status = status_labels[status] %}
                <td class="has-text-right">{{ row['count_' ~ safe_status] }}</td>
                <td class="has-text-right">{{ (row['sum_' ~ safe_status] or 0) | indian_number_format }}</td>
                {% endfor %}

                <td class="has-text-right">{{ row.total_count }}</td>
                <td class="has-text-right">{{ (row.total_amount or 0 )| indian_number_format }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock content %}
