{% extends "lien_layout.html" %}
{% block title %}Lien dashboard {% endblock title %}

{% block content %}
<div class="container is-fluid">
    <h1 class="title">Lien Dashboard</h1>

    <table class="table is-bordered is-striped is-hoverable" id="lien_table">
        <thead>
            <tr>
                <th class="is-vcentered has-text-centered">RO Code</th>
                <th class="is-vcentered has-text-centered">Bank Name</th>
                <th class="is-vcentered has-text-centered">Account number</th>
                {% for status in lien_statuses %}
                <th class="is-vcentered has-text-centered">Count {{ status }}</th>
                <th class="is-vcentered has-text-centered">Sum {{ status }}</th>
                {% endfor %}
                <th class="is-vcentered has-text-centered">Total Count</th>
                <th class="is-vcentered has-text-centered">Total Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for row in lien_data %}
            <tr>
                <td>{{ row.ro_code }}</td>
                <td>{{ row.bank_name }}</td>
                <td>{{ row.account_number }}</td>

                {% for status in lien_statuses %}
                {% set safe_status = status_labels[status] %}
                <td class="has-text-right">{{ row['count_' ~ safe_status] }}</td>
                <td class="has-text-right">{{ (row['sum_' ~ safe_status] or 0) | indian_number_format }}</td>
                {% endfor %}

                <td class="has-text-right">{{ row.total_count }}</td>
                <td class="has-text-right">{{ (row.total_amount or 0 )| indian_number_format }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock content %}

{% block scripts %}

<script>
    new DataTable('#lien_table', {
        layout: {
            top1start: 'pageLength',
            topStart: 'buttons',
        },
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],
        order: [[0, 'asc']],
        pagingType: 'full_numbers',
        pageLength: 50,
        lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],]

    })
</script>
{% endblock scripts %}
