{% extends "lien_layout.html" %}
{% block content %}
<div class="container table-container is-fluid">
    <h1 class="title">List of lien {{ title }} entries</h1>

    <table class="table is-fullwidth is-bordered" id="lien_table">
        <thead>
            <tr>
                {% for i in column_names %}
                <th class="has-text-centered is-vcentered">{{ i|upper|replace("_", " ") }}</th>
                {% endfor %}
                <th class="has-text-centered is-vcentered">VIEW</th>
                <th class="has-text-centered is-vcentered">EDIT</th>
            </tr>
        </thead>
        <tbody>
            {% for item in lien_list %}
            <tr>
                {% for i in column_names %}
                <td>{{ item[i] or "" }}</td>
                {% endfor %}
                <td><a class="button is-link is-outlined is-small"
                        href="{{ url_for('lien.lien_view', lien_id=item['id']) }}">View</a></td>
                <td>{% if current_user.user_type == "admin" %}
                    <a class="button is-link is-outlined is-small"
                        href="{{ url_for('lien.lien_edit', lien_id=item['id']) }}">Edit</a>
                    {% elif current_user.user_type == "ro_user" %}
                    <a class="button is-link is-outlined is-small"
                        href="{{ url_for('lien.lien_add_remarks', lien_id=item['id']) }}">Edit</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>
{% block scripts %}

<script>
    new DataTable('#lien_table', {
        layout: {
            top1start: 'pageLength',
            topStart: 'buttons',
        },
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],
        order: [[0, 'asc']],
        pagingType: 'full_numbers',
        pageLength: 50,
        lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],]

    })
</script>
{% endblock scripts %}
{% endblock content %}
