{% extends "lien_layout.html" %}
{% from "macros.html" import download_td %}
{% block content %}
<div class="container table-container is-fluid">
    <h1 class="title">List of lien {{ title }} entries</h1>

    <table class="table is-fullwidth is-bordered" id="lien_table">
        <thead>
            <tr>
                <th class="has-text-centered is-vcentered">VIEW</th>
                <th class="has-text-centered is-vcentered">EDIT</th>

                {% for col in column_names %}
                <th class="has-text-centered is-vcentered">{{ col | replace("_"," ")| upper }}</th>

                {% endfor %}

            </tr>
        </thead>
        <tbody>
            {% for item in lien_list %}
            <tr>
                <td><a class="button is-link is-outlined is-small"
                        href="{{ url_for('lien.lien_view', lien_id=item['id']) }}">View</a></td>
                <td> <a class="button is-link is-outlined is-small"
                        href="{{ url_for('lien.lien_edit', lien_id=item['id']) }}">Edit</a>
                </td>
                {% for col in column_names[:6] %}
                <td class="has-text-centered is-vcentered has-background-warning-light">{{ item[col] or "" }}</td>
                {% endfor %}

                {{ download_td(item["court_order_lien"], item.id,
                "lien_order", "has-background-warning-light") }}

                {% for col in column_names[7:9] %}
                <td class="has-text-centered is-vcentered has-background-warning-light">{{ item[col] or "" }}</td>
                {% endfor %}
                {{ download_td(item["court_order_dd"], item.id,
                "dd_copy", "has-background-warning-light") }}

                {% for col in column_names[10:12] %}
                <td class="has-text-centered is-vcentered has-background-warning-light">{{ item[col] or "" }}</td>
                {% endfor %}

                {% for col in column_names[12:21] %}
                <td class="has-text-centered is-vcentered">{{ item[col] or "" }}</td>
                {% endfor %}
                {{ download_td( item["claim_disbursement_voucher"], item.id,
                "disbursement_voucher") }}
                {{ download_td( item["lien_dd_reversal_order"], item.id,
                "lien_dd_reversal") }}
                {% for col in column_names[23:25] %}
                <td class="has-text-centered is-vcentered">{{ item[col] or "" }}</td>
                {% endfor %}
                {{ download_td( item["appeal_copy"], item.id,
                "appeal_copy") }}
                {% for col in column_names[26:27] %}
                <td class="has-text-centered is-vcentered">{{ item[col] or "" }}</td>
                {% endfor %}
                {{ download_td( item["stay_order"], item.id,
                "stay_order") }}
                {% for col in column_names[28:32] %}
                <td class="has-text-centered is-vcentered">{{ item[col] or "" }}</td>
                {% endfor %}
                {{ download_td( item["court_order_lien_reversal"], item.id,
                "lien_reversal") }}

                {{ download_td(item["court_order_dd_reversal"], item.id,
                "dd_reversal") }}

            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>
{% block scripts %}

<script>
    new DataTable('#lien_table', {
        layout: {
            top1start: 'pageLength',
            topStart: 'buttons',
        },
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],
        order: [[0, 'asc']],
        pagingType: 'full_numbers',
        pageLength: 50,
        lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],]

    })
</script>
{% endblock scripts %}
{% endblock content %}
