{% extends "lien_layout.html" %}
{% block content %}
{% from "form_field_helpers_macro.html" import render_field_table_lien %}

<div class="container is-centered">
    <h1 class="title">{{ title }}</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="columns">

            <div class="column">
                <fieldset class="box">
                    <legend class="has-text-weight-semibold">Bank Details</legend>
                    <table class="table is-fullwidth is-narrow">
                        {{ render_field_table_lien(form.bank_name, lien) }}
                        {{ render_field_table_lien(form.account_number, lien) }}

                    </table>
                </fieldset>
                <fieldset class="box">
                    <legend class="has-text-weight-semibold">RO Details</legend>
                    <table class="table is-fullwidth is-narrow">
                        {{ render_field_table_lien(form.ro_code, lien) }}
                        {{ render_field_table_lien(form.ro_name, lien) }}
                    </table>
                </fieldset>

                <fieldset class="box">
                    <legend class="has-text-weight-semibold">Lien Details</legend>
                    <table class="table is-fullwidth is-narrow">
                        {{ render_field_table_lien(form.lien_date, lien) }}
                        {{ render_field_table_lien(form.lien_amount, lien) }}
                        {{ render_field_table_lien(form.court_order_lien_file, lien) }}
                        {{ render_field_table_lien(form.date_of_lien_order, lien) }}
                        {{ render_field_table_lien(form.lien_status, lien) }}
                    </table>
                </fieldset>

                <fieldset class="box">
                    <legend class="has-text-weight-semibold">DD Details</legend>
                    <table class="table is-fullwidth is-narrow">
                        {{ render_field_table_lien(form.dd_amount, lien) }}
                        {{ render_field_table_lien(form.dd_date, lien) }}
                        {{ render_field_table_lien(form.court_order_dd_file, lien) }}

                    </table>
                </fieldset>
                <fieldset class="box">
                    <legend class="has-text-weight-semibold">Case Details</legend>
                    <table class="table is-fullwidth is-narrow">
                        {{ render_field_table_lien(form.department, lien) }}
                        {{ render_field_table_lien(form.court_name, lien) }}
                        {{ render_field_table_lien(form.case_number, lien) }}
                        {{ render_field_table_lien(form.case_title, lien) }}
                        {{ render_field_table_lien(form.mact_number, lien) }}
                        {{ render_field_table_lien(form.petitioner_name, lien) }}

                    </table>
                </fieldset>

            </div>

            <!-- Right Column -->
            <div class="column">

                <fieldset class="box">
                    <legend class=" has-text-weight-semibold">Claim Details</legend>
                    <table class="table is-fullwidth is-narrow">
                        {{ render_field_table_lien(form.claim_already_paid_by_hub_office, lien) }}
                        {{ render_field_table_lien(form.claim_number, lien) }}
                        {{ render_field_table_lien(form.date_of_claim_registration, lien) }}
                        {{ render_field_table_lien(form.claim_accounting_voucher_number, lien) }}
                        {{ render_field_table_lien(form.claim_accounting_voucher_date, lien) }}
                        {{ render_field_table_lien(form.claim_disbursement_voucher_file, lien) }}
                    </table>
                </fieldset>

                <fieldset class="box">
                    <legend class="has-text-weight-semibold">Appeal and stay orders</legend>
                    <table class="table is-fullwidth is-narrow">
                        {{ render_field_table_lien(form.appeal_given, lien) }}
                        {{ render_field_table_lien(form.appeal_copy_file, lien) }}
                        {{ render_field_table_lien(form.appeal_given_2, lien) }}
                        {{ render_field_table_lien(form.appeal_copy_2_file, lien) }}
                        {{ render_field_table_lien(form.stay_obtained, lien) }}
                        {{ render_field_table_lien(form.stay_order_file, lien) }}
                    </table>
                </fieldset>
                <fieldset class="box">
                    <legend class="has-text-weight-semibold">Court reversal orders</legend>
                    <table class="table is-fullwidth is-narrow">
                        {{ render_field_table_lien(form.court_order_lien_reversal_file, lien) }}
                        {{ render_field_table_lien(form.court_order_dd_reversal_file, lien) }}
                    </table>
                </fieldset>

                <fieldset class="box">
                    <legend class="has-text-weight-semibold">Remarks</legend>
                    <table class="table is-fullwidth is-narrow">
                        {{ render_field_table_lien(form.bank_remarks, lien) }}
                        {{ render_field_table_lien(form.action_taken_by_banker, lien) }}
                        {{ render_field_table_lien(form.ro_remarks, lien) }}
                        {{ render_field_table_lien(form.ho_tp_remarks, lien) }}
                    </table>
                </fieldset>
            </div>
        </div>

        <div class="has-text-centered">
            <button class="button is-success">Submit</button>
        </div>
    </form>
</div>

{% endblock content %}
{% block scripts %}
<script>
    function toggleDisbursementFile() {
        let radios = document.getElementsByName('claim_already_paid_by_hub_office');
        let fileInput1 = document.getElementById('claim_disbursement_voucher_file');
        let fileInput2 = document.getElementById('lien_dd_reversal_order_file');
        let selected = Array.from(radios).find(r => r.checked);
        if (selected && selected.value === 'Yes') {
            fileInput1.disabled = false;
            fileInput2.disabled = false;
        } else {
            fileInput1.disabled = true;
            fileInput1.value = ''; // optionally clear file input
            fileInput2.disabled = true;
            fileInput2.value = ''; // optionally clear file input
        }
    }

    function toggleAppealFile() {
        let radios = document.getElementsByName('appeal_given');
        let fileInput = document.getElementById('appeal_copy_file');
        let selected = Array.from(radios).find(r => r.checked);
        if (selected && selected.value === 'Yes') {
            fileInput.disabled = false;
        } else {
            fileInput.disabled = true;
            fileInput.value = ''; // optionally clear file input
        }
    }
    function toggleAppealFile2() {
        let radios = document.getElementsByName('appeal_given_2');
        let fileInput = document.getElementById('appeal_copy_2_file');
        let selected = Array.from(radios).find(r => r.checked);
        if (selected && selected.value === 'Yes') {
            fileInput.disabled = false;
        } else {
            fileInput.disabled = true;
            fileInput.value = ''; // optionally clear file input
        }
    }

    window.addEventListener('DOMContentLoaded', function () {
        // first group for appeal
        let radios1 = document.getElementsByName('appeal_given');
        radios1.forEach(r => r.addEventListener('change', toggleAppealFile));
        toggleAppealFile();

        // second group for second appeal
        let radios2 = document.getElementsByName('appeal_given_2');
        radios2.forEach(r => r.addEventListener('change', toggleAppealFile2));
        toggleAppealFile2();

        // third group for stay order
        let radios3 = document.getElementsByName('stay_obtained');
        radios3.forEach(r => r.addEventListener('change', toggleStayFile));
        toggleStayFile(); // initialize on page load

        // fourth group for claim disbursement
        let radios = document.getElementsByName('claim_already_paid_by_hub_office');
        radios.forEach(r => r.addEventListener('change', toggleDisbursementFile));
        toggleDisbursementFile(); // initialize on page load
    });
    function toggleStayFile() {
        let radios = document.getElementsByName('stay_obtained');
        let fileInput = document.getElementById('stay_order_file');
        let selected = Array.from(radios).find(r => r.checked);
        if (selected && selected.value === 'Yes') {
            fileInput.disabled = false;
        } else {
            fileInput.disabled = true;
            fileInput.value = ''; // optionally clear file input
        }
    }

</script>
{% endblock scripts %}
