{% extends "lien_layout.html" %}
{% import "macros.html" as view %}

{% block content %}
<div class="container-fluid">
    <h1 class="title">Lien Details</h1>

    <div class="columns">

        <!-- LEFT COLUMN -->
        <div class="column">

            <div class="card mb-5">
                <header class="card-header has-background-text-light">
                    <p class="card-header-title">Bank Details</p>
                </header>
                <div class="card-content">
                    {{ view.view_row("Bank name", lien.bank_name) }}
                    {{ view.view_row("Account number", lien.account_number) }}
                </div>
            </div>

            <div class="card mb-5">
                <header class="card-header has-background-primary-light">
                    <p class="card-header-title">RO Details</p>
                </header>
                <div class="card-content">
                    {{ view.view_row("RO Code", lien.ro_code) }}
                    {{ view.view_row("RO Name", lien.ro_name) }}
                </div>
            </div>

            <div class="card mb-5">
                <header class="card-header has-background-danger-light">
                    <p class="card-header-title">Lien Details</p>
                </header>
                <div class="card-content">
                    {{ view.view_row("Lien date", lien.lien_date) }}
                    {{ view.view_row("Lien amount", lien.lien_amount) }}
                    {{ view.view_download("Court order - lien", lien.court_order_lien, lien.id, "court_order_lien") }}
                    {{ view.view_row("Date of lien order", lien.date_of_lien_order) }}
                    {{ view.view_tag("Lien status", lien.lien_status) }}
                </div>
            </div>

            <div class="card mb-5">
                <header class="card-header has-background-danger">
                    <p class="card-header-title has-text-white">DD Details</p>
                </header>
                <div class="card-content">
                    {{ view.view_row("DD amount", lien.dd_amount) }}
                    {{ view.view_row("DD date", lien.dd_date) }}
                    {{ view.view_download("DD copy", lien.court_order_dd, lien.id, "court_order_dd") }}
                </div>
            </div>

            <div class="card mb-5">
                <header class="card-header has-background-text">
                    <p class="card-header-title has-text-white">Case Details</p>
                </header>
                <div class="card-content">
                    {{ view.view_row("Department", lien.department) }}
                    {{ view.view_row("Court name", lien.court_name) }}
                    {{ view.view_row("Case number", lien.case_number) }}
                    {{ view.view_row("Case title", lien.case_title) }}
                    {{ view.view_row("MACT number", lien.mact_number) }}
                    {{ view.view_row("Petitioner name", lien.petitioner_name) }}
                </div>
            </div>

        </div>

        <!-- RIGHT COLUMN -->
        <div class="column">

            <div class="card mb-5">
                <header class="card-header has-background-success-light">
                    <p class="card-header-title">Claim Details</p>
                </header>
                <div class="card-content">
                    {{ view.view_row("Claim paid by hub/office", lien.claim_already_paid_by_hub_office) }}
                    {{ view.view_row("Claim number", lien.claim_number) }}
                    {{ view.view_row("Date of claim registration", lien.date_of_claim_registration) }}
                    {{ view.view_row("Voucher number", lien.claim_accounting_voucher_number) }}
                    {{ view.view_row("Voucher date", lien.claim_accounting_voucher_date) }}
                    {{ view.view_download(
                    "Claim disbursement voucher",
                    lien.claim_disbursement_voucher,
                    lien.id,
                    "claim_disbursement_voucher"
                    ) }}
                </div>
            </div>

            <div class="card mb-5">
                <header class="card-header has-background-link">
                    <p class="card-header-title has-text-white">Appeal & Stay Orders</p>
                </header>
                <div class="card-content">
                    {{ view.view_row("Appeal given", lien.appeal_given) }}
                    {{ view.view_download("Appeal copy", lien.appeal_copy, lien.id, "appeal_copy") }}
                    {{ view.view_row("Further appeal given", lien.appeal_given_2) }}
                    {{ view.view_download("Further appeal copy", lien.appeal_copy_2, lien.id, "appeal_copy_2") }}
                    {{ view.view_row("Stay obtained", lien.stay_obtained) }}
                    {{ view.view_download("Stay order", lien.stay_order, lien.id, "stay_order") }}
                </div>
            </div>

            <div class="card mb-5">
                <header class="card-header has-background-success">
                    <p class="card-header-title has-text-white">Court Reversal Orders</p>
                </header>
                <div class="card-content">
                    {{ view.view_download("Lien reversal order", lien.court_order_lien_reversal, lien.id,
                    "court_order_lien_reversal") }}
                    {{ view.view_download("DD reversal order", lien.court_order_dd_reversal, lien.id,
                    "court_order_dd_reversal") }}
                </div>
            </div>

            <div class="card mb-5">
                <header class="card-header has-background-info-light">
                    <p class="card-header-title">Remarks</p>
                </header>
                <div class="card-content">
                    {{ view.view_row_long("Bank remarks", lien.bank_remarks) }}
                    {{ view.view_row_long("Action taken by banker", lien.action_taken_by_banker) }}
                    {{ view.view_row_long("RO remarks", lien.ro_remarks) }}
                    {{ view.view_row_long("HO TP remarks", lien.ho_tp_remarks) }}
                </div>
            </div>

        </div>
    </div>

    <div class="has-text-centered">
        <a class="button is-link" href="{{ url_for('lien.lien_list') }}">Go home</a>
        <a class="button is-link is-outlined" href="{{ url_for('lien.lien_edit', lien_id=lien.id) }}">Edit</a>
        {% if current_user.user_type in ["admin", "ho_motor_tp"] %}
        <a class="button is-warning" href="{{ url_for('lien.lien_log_view', lien_id=lien.id) }}">View
            edit log</a>
        {% endif %}
    </div>
</div>
{% endblock content %}
