{% extends "lien_layout.html" %}
{% block title %}Lien{% endblock title %}
{% from "form_field_helpers_macro.html" import render_dashboard_dropdown %}
{% block content %}
<div class="container is-fluid">
    <h1 class="title">Lien summary reports - {{ status }}</h1>

    <form method="post">
        {{ render_dashboard_dropdown(form) }}
    </form>
    <div class="tabs is-boxed">
        <ul>
            <li id="sum_tab" class="is-active"><a onclick="show_sum()">Sum</a></li>
            <li id="count_tab"><a onclick="show_count()">Count</a></li>
        </ul>
    </div>
    <div id="sum_table" class="container is-fluid">
        <table class="table is-bordered is-striped is-hoverable" id="lien_sum">
            <thead>
                <tr>
                    <th class="is-vcentered has-text-centered">RO name</th>
                    {% for bank in bank_names %}
                    <th class="is-vcentered has-text-centered">{{ bank }}</th>
                    {% endfor %}
                    <th class="is-vcentered has-text-centered">Total Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for row in lien_data %}
                <tr>
                    <td>{{ row.ro_name }}</td>

                    {% for bank in bank_names %}
                    {% set safe_bank = bank_labels[bank] %}
                    <td class="has-text-right">{{ (row['sum_' ~ safe_bank] or 0) | indian_number_format }}</td>
                    {% endfor %}
                    <td class="has-text-right">{{ (row.total_amount or 0 )| indian_number_format }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="is-hidden container is-fluid" id="count_table">
        <table class="table is-bordered is-striped is-hoverable" id="lien_count">
            <thead>
                <tr>
                    <th class="is-vcentered has-text-centered">RO name</th>
                    {% for bank in bank_names %}
                    <th class="is-vcentered has-text-centered">{{ bank }}</th>
                    {% endfor %}
                    <th class="is-vcentered has-text-centered">Total Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for row in lien_data %}
                <tr>
                    <td>{{ row.ro_name }}</td>

                    {% for bank in bank_names %}
                    {% set safe_bank = bank_labels[bank] %}
                    <td class="has-text-right">{{ (row['count_' ~ safe_bank] or 0)  }}</td>
                    {% endfor %}
                    <td class="has-text-right">{{ (row.total_count or 0 ) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock content %}

{% block scripts %}
<script>

    function show_count() {
        // remove active of summary
        // add is-hidden class to summary

        document.getElementById("sum_table").classList.add("is-hidden");
        document.getElementById("sum_tab").classList.remove("is-active");

        document.getElementById("count_table").classList.remove("is-hidden");
        document.getElementById("count_tab").classList.add("is-active");


    }
    function show_sum() {
        // remove active of balances
        // add is-hidden class to balances

        document.getElementById("sum_table").classList.remove("is-hidden");
        document.getElementById("sum_tab").classList.add("is-active");

        document.getElementById("count_table").classList.add("is-hidden");
        document.getElementById("count_tab").classList.remove("is-active");

    }
</script>
<script>
    new DataTable('#lien_sum', {
        layout: {
            top1start: 'pageLength',
            topStart: 'buttons',
        },
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],
        order: [[0, 'asc']],
        pagingType: 'full_numbers',
        pageLength: 50,
        lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],]

    })
</script>

<script>
    new DataTable('#lien_count', {
        layout: {
            top1start: 'pageLength',
            topStart: 'buttons',
        },
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],
        order: [[0, 'asc']],
        pagingType: 'full_numbers',
        pageLength: 50,
        lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],]

    })
</script>
{% endblock scripts %}
