{% extends "lien_layout.html" %}
{% import "macros.html" as macros %}
{% block content %}
<div class="container">
    <h1 class="title">Details of lien</h1>
    <table class="table is-fullwidth is-narrow">
        {{ macros.render_row("RO Code", lien.ro_code) }}
        {{ macros.render_row("RO name", lien.ro_name) }}
        {{ macros.render_row("Court name", lien.court_name) }}
        {{ macros.render_row("Case number", lien.case_number) }}
        {{ macros.render_row("Case title", lien.case_title) }}
        {{ macros.render_row("Petitioner name", lien.petitioner_name) }}
        {{ macros.render_row("Date of order", lien.date_of_order) }}
        {{ macros.render_row("Bank remarks", lien.bank_remarks,word_wrap=True) }}
        {{ macros.render_row("Department", lien.department) }}
        {{ macros.render_row("Lien date", lien.lien_date) }}
        {{ macros.render_row("Lien amount", lien.lien_amount) }}
        {{ macros.render_row("DD date", lien.dd_date) }}
        {{ macros.render_row("DD amount", lien.dd_amount) }}
        {{ macros.render_row("Action taken by banker", lien.action_taken_by_banker) }}
        {{ macros.render_row("Lien status", lien.lien_status) }}
        {{ macros.render_row("Claim number", lien.claim_number) }}
        {{ macros.render_row("Date of claim", lien.date_of_claim) }}
        {{ macros.render_row("Claim accounting voucher number", claim_accounting_voucher_number) }}
        {{ macros.render_row("Bank name", lien.bank_name) }}
        {{ macros.render_row("Account number", lien.account_number) }}
        {{ macros.render_row("RO remarks", lien.ro_remarks) }}
        {{ macros.download_row("Court order - lien", lien.court_order_lien, lien.id, "lien_order") }}
        {{ macros.download_row("DD Copy", lien.court_order_dd, lien.id, "dd_copy") }}
        {{ macros.download_row("Court order - lien reversal", lien.court_order_lien_reversal, lien.id, "lien_reversal")
        }}
        {{ macros.download_row("Court order - DD reversal", lien.court_order_dd_reversal, lien.id, "dd_reversal") }}
    </table>
    <div class="has-text-centered">
        <a class="button is-link" href="{{ url_for('lien.lien_list') }}">Go home</a>
        <a class="button is-link is-outlined" href="{{ url_for('lien.lien_edit', lien_id=lien.id) }}">Edit</a>

    </div>
</div>

{% endblock content %}
