{# templates/macros.html #}
{% macro render_row(label, value, is_html=False, word_wrap=False) %}
<tr>
    <th class="is-vcentered">{{ label }}</th>
    <td {% if word_wrap %}class="word-wrap" {% endif %}>{% if is_html %} {{ value | safe }} {% else %} {{ value }}{%
        endif %} </td>
</tr>
{% endmacro %}

{% macro download_row(label, file_attr, lien_id, document_type) %}
<tr>
    <th class="is-vcentered">{{ label }}</th>
    <td>
        {% if file_attr %}
        <a class="button is-small is-outlined is-link"
            href="{{ url_for('lien.download_document', lien_id=lien_id, document_type=document_type) }}">
            Download {{ label | upper }}
        </a>
        {% else %}
        {{ label }} not uploaded
        {% endif %}
    </td>
</tr>
{% endmacro %}
{% macro download_td(file_attr, lien_id, document_type,class_name=None) %}
<td class="has-text-centered is-vcentered {{ class_name }}">
    {% if file_attr %}
    <a class="button is-small is-outlined is-link"
        href="{{ url_for('lien.download_document', lien_id=lien_id, document_type=document_type) }}">
        Download
    </a>
    {% else %}
    Not uploaded
    {% endif %}

</td>

{% endmacro %}
{% macro view_row(label, value) %}
<div class="columns is-mobile is-multiline mb-0">
    <div class="column is-3 has-text-weight-semibold">
        {{ label }}
    </div>
    <div class="column is-9">
        {{ value or "-" }}
    </div>
</div>
{% endmacro %}

{% macro view_row_long(label, value) %}
<div class="columns is-mobile is-multiline mb-0">
    <div class="column is-3 has-text-weight-semibold">
        {{ label }}
    </div>
    <div class="column is-9 word-wrap">
        {{ value or "-" }}
    </div>
</div>
{% endmacro %}

{% macro view_download(label, file, lien_id, field) %}

<div class="columns is-mobile is-multiline mb-0">
    <div class="column is-3 has-text-weight-semibold">{{ label }}
    </div>
    <div class="column is-9">
        {% if file %}
        <a class="button is-small is-link is-outlined"
            href="{{ url_for('lien.download_document', lien_id=lien_id,  document_type=field) }}">
            Download
        </a>
        {% else %}
        <p class="is-static">-</p>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro view_tag(label, value) %}
<div class="columns is-mobile is-multiline mb-0">
    <div class="column is-3 has-text-weight-semibold">
        {{ label }}
    </div>
    <div class="column is-9">
        <div
            class="tag is-rounded is-medium {% if value in ['Lien exists', 'DD issued'] %}is-warning{% elif value in ['Lien reversed','DD reversed'] %}is-success{% endif %}">
            {{ value or "-" }}
        </div>
    </div>
</div>
{% endmacro %}
