<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Accounts" />
    <meta name="description" content="Accounts" />
    <title>CFAC Portal</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='payments.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma/css/bulma.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}" />
</head>

<body {% block body_attrs %}{% endblock body_attrs %}>
    <header>
        <nav class="navbar is-warning has-shadow" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="navbar-start">
                    <a class="navbar-item" href="{{ url_for('main.index') }}">Home</a>

                    {% if current_user.role and "fund_manager" in current_user.role %}
                    <a class="navbar-item" href="{{ url_for('funds.funds_home_api') }}">Funds home</a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Flags</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{{ url_for('funds.upload_flag_sheet') }}">Upload flag sheet</a>
                            <a class="navbar-item" href="{{ url_for('funds.view_flag_sheet') }}">View flag sheet</a>
                            <a class="navbar-item" href="{{ url_for('funds.add_flag_entry') }}">Add new flag</a>

                        </div>
                    </div>
                    <a class="navbar-item" href="{{ url_for('funds.upload_bank_statement') }}">Upload bank statement</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Investment</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{{ url_for('funds.add_amount_given_to_investment') }}">Add
                                amount given to
                                investment</a>
                            <a class="navbar-item" href="{{ url_for('funds.list_amount_given_to_investment') }}">List of
                                amounts given
                                to investment</a>

                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Major Outgo</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{{ url_for('funds.add_major_outgo') }}">Add
                                major outgo</a>
                            <a class="navbar-item" href="{{ url_for('funds.list_outgo') }}">List of
                                major outgo</a>

                        </div>

                    </div>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Journal vouchers</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{{ url_for('funds.view_jv_flags') }}">View Flags for JV</a>
                            <a class="navbar-item" href="{{ url_for('funds.upload_jv_flags') }}">Upload Flags for JV</a>
                            <a class="navbar-item" href="{{ url_for('funds.add_jv_flag') }}">Add new JV Flag</a>
                            <hr class="navbar-divider" />
                            <a class="navbar-item" href="{{ url_for('funds.download_jv') }}">Download JV</a>

                        </div>

                    </div>
                    {% endif %}
                    <a class="navbar-item" href="{{ url_for('funds.funds_reports') }}">Funds - Reports</a>
                    {% if current_user.role and "fund_admin" in current_user.role %}
                    <a class="navbar-item" href="{{ url_for('funds.modify_dates') }}">Modify dates</a>
                    {% endif %}
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if not current_user.is_authenticated %}

                        <div>
                            <a class="button is-link" href="{{ url_for('users.login_page') }}">Login</a>
                            {% else %}
                            <a class="button"> {{ current_user.username }} </a>
                            <a class="button is-link" href="{{ url_for('users.logout_page') }}">Log out</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container is-fluid mt-5">
        {% if current_user.is_authenticated %}
        {% if current_user.user_type == "admin" %}
        {% block content %}{% endblock content %}
        {% endif %}
        {% endif %}
    </div>
    <script type="text/javascript" charset="utf8"
        src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>
    {% block scripts %}

    {% endblock scripts %}

</body>

</html>
