{% extends "dqr_refund_layout.html" %}

{% block content %}
<div class="container is-fluid">
    <!-- Tabs -->
    <div class="tabs is-boxed mt-5">
        <ul>
            <li id="pending_tab" class="is-active">
                <a onclick="show_pending()">Pending Refunds</a>
            </li>
            <li id="completed_tab">
                <a onclick="show_completed()">Completed Refunds</a>
            </li>
            <li id="all_tab">
                <a onclick="show_all()">All entries</a>
            </li>
        </ul>
    </div>

    <!-- Tab Content -->
    <div id="pending_tab_content" class="container is-fluid">
        <h1 class="title">{{ pending_title }}</h1>
        {% with table_id = "pending_table", data = pending %}
        {% include "_dqr_refund_table.html" with context %}
        {% endwith %}
    </div>
    <div id="completed_tab_content" class="is-hidden container is-fluid">
        <h1 class="title">{{ completed_title }}</h1>
        {% with table_id = "completed_table", data = completed %}
        {% include "_dqr_refund_table.html" with context %}
        {% endwith %}
    </div>
    <div id="all_tab_content" class="is-hidden container is-fluid">
        <h1 class="title">{{ title }}</h1>
        {% with table_id = "all_table", data = all_items %}
        {% include "_dqr_refund_table.html" with context %}
        {% endwith %}
    </div>
</div>
{% endblock content %}

{% block scripts %}

<script>
    function show_pending() {
        // Toggle Tables
        document.getElementById("pending_tab_content").classList.remove("is-hidden");
        document.getElementById("completed_tab_content").classList.add("is-hidden");
        document.getElementById("all_tab_content").classList.add("is-hidden");

        // Toggle Tabs
        document.getElementById("pending_tab").classList.add("is-active");
        document.getElementById("completed_tab").classList.remove("is-active");
        document.getElementById("all_tab").classList.remove("is-active");

        // // Important: Recalculate columns for the hidden table
        // if (DataTable.isDataTable('#lien_count')) {
        //     new DataTable('#lien_count').columns.adjust().draw();
        // }
    }

    function show_completed() {
        // Toggle Tables
        document.getElementById("all_tab_content").classList.add("is-hidden");
        document.getElementById("completed_tab_content").classList.remove("is-hidden");
        document.getElementById("pending_tab_content").classList.add("is-hidden");

        // Toggle Tabs
        document.getElementById("all_tab").classList.remove("is-active");
        document.getElementById("completed_tab").classList.add("is-active");
        document.getElementById("pending_tab").classList.remove("is-active");

        // if (DataTable.isDataTable('#lien_sum')) {
        //     new DataTable('#lien_sum').columns.adjust().draw();
        // }
    }

    function show_all() {
        // Toggle Tables
        document.getElementById("all_tab_content").classList.remove("is-hidden");
        document.getElementById("pending_tab_content").classList.add("is-hidden");
        document.getElementById("completed_tab_content").classList.add("is-hidden");

        // Toggle Tabs
        document.getElementById("all_tab").classList.add("is-active");
        document.getElementById("pending_tab").classList.remove("is-active");
        document.getElementById("completed_tab").classList.remove("is-active");

        // if (DataTable.isDataTable('#lien_consol')) {
        //     new DataTable('#lien_consol').columns.adjust().draw();
        // }
    }
    new DataTable('#all_table', {
        layout: {
            top1start: 'pageLength',
            topStart: 'buttons',
        },
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }
        ],
        order: [[0, 'desc']],
        pageLength: 50,
        scrollX: true
    });
</script>

<script>
    new DataTable('#pending_table', {
        layout: {
            top1start: 'pageLength',
            topStart: 'buttons',
        },
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }
        ],
        order: [[0, 'desc']],
        pageLength: 50,
        scrollX: true
    });
</script>

<script>
    new DataTable('#completed_table', {
        layout: {
            top1start: 'pageLength',
            topStart: 'buttons',
        },
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }
        ],
        order: [[0, 'desc']],
        pageLength: 50,
        scrollX: true
    });
</script>
{% endblock scripts %}
