{% extends "dqr_refund_layout.html" %}

{% block content %}
<div class="container is-fluid">

    <h1 class="title mt-5">{{ title }}</h1>
    <table class="table is-fullwidth is-bordered" id="dqr_machines_table">
        <thead>
            <tr>
                <th class="has-text-centered is-vcentered">EDIT</th>
                {% for col in col_names %}
                <th class="has-text-centered is-vcentered">{{ col | upper | replace("_", " ") }}</th>

                {% endfor %}

            </tr>
        </thead>
        <tbody>
            {% for item in dqr_machines %}
            <tr>
                <td><a class="button is-link is-outlined is-small"
                        href="{{ url_for('.dqr_machines_edit', id=item.id) }}">Edit</a></td>
                {% for col in col_names %}
                <td>{{ item[col] }}</td>

                {% endfor %}

            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock content %}

{% block scripts %}

<script>
    new DataTable('#dqr_machines_table', {
        layout: {
            top1start: 'pageLength',
            topStart: 'buttons',
        },
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }
        ],
        order: [[0, 'desc']],
        pageLength: 10,
        scrollX: true,
    });
</script>

{% endblock scripts %}
