{% extends "os_layout.html" %}
{% block content %}

<div class="container is-fluid box">
  <h1 class="title">{{ title }}</h1>
  {% for field in form %}
  {% if field.errors %}
  <div class="notification is-danger">
    <button class="delete"></button>
    {{ field.errors[0] }}
  </div>
  {% endif %}
  {% endfor %}

  {% include "partials/messages.html" %}

  {% from "form_field_helpers_macro.html" import render_field_table %}
  <form action="" method="post">
    {{ form.csrf_token }}

    <div class="columns is-centered">

      <div class="column is-half">
        <table class="table">

          <tr>
            <th>{{ form.str_regional_office_code.label }}</th>
            <td>
              {% if current_user.user_type in ["ro_user", "oo_user"] %}
              {{ form.str_regional_office_code.data }}

              {% else %}
              {{ form.str_regional_office_code(class="input") }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>{{ form.str_operating_office_code.label }}</th>
            <td>
              {% if current_user.user_type in ["oo_user","coinsurance_hub_user"] %}
              {{ form.str_operating_office_code.data }}
              {% else %}
              {{ form.str_operating_office_code(class="input") }}
              {% endif %}
            </td>
          </tr>

          {{ render_field_table(form.str_party_type) }}
          {{ render_field_table(form.str_party_name) }}
          {{ render_field_table(form.str_party_id) }}
          {{ render_field_table(form.str_nature_of_payment) }}
          {{ render_field_table(form.str_narration) }}

        </table>
      </div>
      <div class="column is-half">
        <table class="table">
          {{ render_field_table(form.float_gross_amount) }}
          {{ render_field_table(form.bool_tds_involved) }}

          {{ render_field_table(form.str_section, disabled="disabled") }}
          {{ render_field_table(form.float_tds_amount, disabled="disabled") }}
          {{ render_field_table(form.str_pan_number, disabled="disabled") }}

          <tr>
            <th>Net amount</th>
            <td><label id="net_amount"></label></td>
          </tr>
          {{ render_field_table(form.date_payment_date) }}
        </table>
      </div>
    </div>

    <div class="has-text-centered">
      <button class="button is-success" disabled="disabled">Submit</button>
    </div>
  </form>
</div>

{% block scripts %}
<script>
  $(document).ready(function () {
    calculateSum();
  });

  function calculateSum() {
    var gross_amount = parseInt(document.getElementById("float_gross_amount").value === "" ? 0 : document.getElementById("float_gross_amount").value);
    var tds_amount = parseInt(document.getElementById("float_tds_amount").value === "" ? 0 : document.getElementById("float_tds_amount").value);

    var net_amount = gross_amount - tds_amount;

    document.getElementById("net_amount").innerText = net_amount;
  };


  // enable or disable TDS related fields
  document.getElementById('bool_tds_involved').onchange = function () {
    document.getElementById('str_section').disabled = !this.checked;
    document.getElementById('float_tds_amount').disabled = !this.checked;
    document.getElementById('str_pan_number').disabled = !this.checked;
  };

  document.addEventListener('DOMContentLoaded', () => {
    (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
      const $notification = $delete.parentNode;

      $delete.addEventListener('click', () => {
        $notification.parentNode.removeChild($notification);
      });
    });
  });

</script>
{% endblock scripts %}

{% endblock content %}
