{% extends "os_layout.html" %}

{% block content %}

{% if list_os_entries.count() > 0 %}
<table class="table is-bordered" id="os_table">
    <thead>
        <tr>
            <th class="is-vcentered has-text-centered">View</th>
            <th class="is-vcentered has-text-centered">Edit</th>
            <th class="is-vcentered has-text-centered">Regional Office</th>
            <th class="is-vcentered has-text-centered">Operating Office</th>
            <th class="is-vcentered has-text-centered">Party type</th>
            <th class="is-vcentered has-text-centered">Party ID</th>
            <th class="is-vcentered has-text-centered">Party name</th>
            <th class="is-vcentered has-text-centered">Nature of payment</th>
            <th class="is-vcentered has-text-centered">Gross outstanding amount</th>
            <th class="is-vcentered has-text-centered">TDS involved</th>
            <th class="is-vcentered has-text-centered">TDS amount</th>
            <th class="is-vcentered has-text-centered">Net amount</th>
            <th class="is-vcentered has-text-centered">Section</th>
            <th class="is-vcentered has-text-centered">PAN Number</th>
            <th class="is-vcentered has-text-centered">Narration</th>
            <th class="is-vcentered has-text-centered">Date of payment</th>

        </tr>
    </thead>
    <tbody>
        <tr>

            {% for entry in list_os_entries %}
            <td><a class="button is-link is-small is-outlined"
                    href="{{ url_for('outstanding_expenses.view_os_entry', os_key=entry.id) }}">View</a></td>
            <td><a class="button is-link is-small is-outlined"
                    href="{{ url_for('outstanding_expenses.edit_os_entry', os_key=entry.id) }}">Edit</a></td>
            <td>{{ entry['str_regional_office_code'] }}</td>
            <td>{{ entry['str_operating_office_code'] }}</td>
            <td>{{ entry['str_party_type'] }}</td>
            <td>{{ entry['str_party_id'] }}</td>
            <td>{{ entry['str_party_name'] }}</td>
            <td>{{ entry['str_nature_of_payment'] }}</td>
            <td class="has-text-right">{{ entry['float_gross_amount'] }}</td>
            <td>{{ "Yes" if entry['bool_tds_involved'] else "No" }}</td>
            <td class="has-text-right">{{ entry['float_tds_amount'] or "" }}</td>
            <td class="has-text-right">{{ entry['float_net_amount'] }}</td>
            <td>{{ entry['str_section'] or "" }}</td>
            <td>{{ entry['str_pan_number'] or "" }}</td>
            <td>{{ entry['str_narration'] }}</td>
            <td>{{ entry['date_payment_date'].strftime('%d/%m/%Y') if entry['date_payment_date'] else "Not paid" }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endif %}
{% block scripts %}
<script>
    new DataTable('#os_table', {
        dom: 'lfBrtip',
        scrollY: true,
        buttons: [
            { extend: 'copyHtml5', className: 'is-danger is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'is-info is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'is-primary is-rounded', title: '' }],
        order: [[0, 'desc']],
        pagingType: 'full_numbers',

    });

</script>
{% endblock scripts %}
{% endblock content %}
