<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Accounts" />
    <meta name="description" content="Accounts" />
    <title>CFAC Portal</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='payments.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma/css/bulma.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}" />
</head>

<body>
    <header>
        <nav class="navbar has-background-primary-light" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-link" href="{{ url_for('main.index') }}">Home</a>
                            <a class="button is-link" href="{{ url_for('portal_admin.view_list_users') }}">Admin
                                home</a>
                            {% if current_user.user_type == "admin" %}
                            <a class="button is-link" href="{{ url_for('portal_admin.upload_users') }}">Bulk upload
                                users</a>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if not current_user.is_authenticated %}

                        <div>
                            <a class="button is-link" href="{{ url_for('users.login_page') }}"> Login</a>
                            {% else %}
                            <a class="button"> {{ current_user.username }} </a>
                            <a class="button is-link" href="{{ url_for('users.logout_page') }}"> Log out</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container is-fluid is-max-desktop mt-5">

        {% if current_user.user_type in ["admin","ro_user"] %}
        {% block content %}{% endblock content %}
        {% endif %}
    </div>
    <script type="text/javascript" charset="utf8"
        src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>
    {% block scripts %}

    {% endblock scripts %}

</body>

</html>
