{% extends "admin_layout.html" %}
{% block content %}
<div class="container is-fluid">
    <h1 class="title">User details</h1>

    {% if current_user.user_type in ["admin","ro_user"] %}
    <form action="" method="post" name="user_page">
        {{ form.csrf_token }}

        <table class="table is-fullwidth">
            <tr>
                <th>Regional Office</th>
                <td>{{ user.ro_code }}</td>
            </tr>
            <tr>
                <th>Operating Office</th>
                <td>{{ user.oo_code }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Last login time</th>

                {% if user.time_last_login %}
                <td title="{{ user.time_last_login }}">{{ humanize_datetime(user.time_last_login) }}</td>
                {% else %}
                <td>{{ user.time_last_login }}</td>
                {% endif %}
            </tr>

            <tr>
                <th> {{ form.reset_password_page.label }}</th>
                <td> {{ form.reset_password_page }} </td>
            </tr>

            {% if current_user.user_type in ["admin"] %}
            <tr>
                <th>{{ form.change_user_type.label }}</th>
                <td> {{ form.change_user_type }} </td>
            </tr>
            {% endif %}
        </table>

        <div class="mt-5 has-text-centered">
            <a class="button is-link" href="{{ url_for('portal_admin.view_list_users') }}">Go back</a>
            <button class="button is-primary is-big">Save</button>
        </div>

    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}

    {% endif %}

    {% if current_user.user_type == "admin" %}
    <table class="table is-fullwidth" id="user_log_table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Type of action</th>
                <th>Time of action</th>
            </tr>
        </thead>
        {% for item in user_log %}
        <tr>
            <td>{{ item.user_id }}</td>
            <td>{{ item.type_of_action }}</td>
            <td data-sort="{{ item.time_of_action }}" title="{{ item.time_of_action }}">{{
                humanize_datetime(item.time_of_action) }}</td>
        </tr>

        {% endfor %}
    </table>
    {% endif %}

</div>
{% block scripts %}
<script>

    new DataTable('#user_log_table', {
        dom: 'lfBrtip',
        buttons: [
            { extend: 'copyHtml5', className: 'is-danger is-rounded' },
            { extend: 'csvHtml5', className: 'is-info is-rounded' },
            { extend: 'excelHtml5', className: 'is-primary is-rounded' }],
        order: [[2, 'desc']],
        pagingType: 'full_numbers',
        lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],]
    });
</script>
{% endblock scripts %}
{% endblock content %}
