{% extends "mis_layout.html" %}

{% from "form_field_helpers_macro.html" import render_field_table %}
{% block content %}

<div class="container mt-5">
    <h1 class="title">Edit MIS entry</h1>
    <form method="post">
        {{ form.csrf_token }}
        <table class="table">
            <tr>
                <th>Period</th>
                <td>{{ mis_entry.txt_period }}</td>
            </tr>
            <tr>
                <th>MIS type</th>
                <td>{{ mis_entry.txt_mis_type }}</td>
            </tr>
            {{ render_field_table(form.bool_mis_shared) }}
            {{ render_field_table(form.bool_brs_completed) }}
            {{ render_field_table(form.bool_jv_passed) }}

        </table>
        <div class="has-text-centered">
            <button class="button is-success">Submit</button>
        </div>
    </form>
</div>

{% endblock content %}
