{% extends "mis_layout.html" %}
{% block content %}
{% if current_user.user_type == "admin" %}
<div class="container mt-5">
    <h1 class="title">{{ title }}</h1>

    <form class="mb-5" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.file_upload(class="file") }}

        {{ form.upload_document(class="button is-success") }}

    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="notification is-danger">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endif %}
{% endblock content %}
