{% extends "mis_layout.html" %}

{% block content %}

<div class="container mt-5">
    <h1 class="title">View MIS entry</h1>
    <table class="table is-bordered">
        <tr>
            <th>Period</th>
            <td>{{ mis_entry.txt_period }}</td>
        </tr>
        <tr>
            <th>MIS type</th>
            <td>{{ mis_entry.txt_mis_type }}</td>
        </tr>
        <tr>
            <th>Whether MIS has been shared</th>
            <td>{{ "✅" if mis_entry.bool_mis_shared else "❌" }}</td>
        </tr>

        {% if mis_entry.bool_mis_shared %}
        <tr>
            <th>MIS shared on</th>
            <td title="{{ mis_entry.date_mis_shared }}">{{ mis_entry.date_mis_shared | humanize_datetime }}</td>
        </tr>
        <tr>
            <th>MIS shared by</th>
            <td>{{ mis_entry.mis_shared_by.upper() }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Whether BRS is completed</th>
            <td>{{ "✅" if mis_entry.bool_brs_completed else "❌" }}</td>
        </tr>

        {% if mis_entry.bool_brs_completed %}
        <tr>
            <th>BRS completed on</th>
            <td title="{{ mis_entry.date_brs_completed }}">{{ mis_entry.date_brs_completed | humanize_datetime }}</td>
        </tr>
        <tr>
            <th>BRS completed by</th>
            <td>{{ mis_entry.brs_completed_by.upper() }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Whether JV has been passed</th>
            <td>{{ "✅" if mis_entry.bool_jv_passed else "❌" }}</td>
        </tr>

        {% if mis_entry.bool_jv_passed %}
        <tr>
            <th>JV passed on</th>
            <td title="{{ mis_entry.date_jv_passed }}">{{ mis_entry.date_jv_passed | humanize_datetime }}</td>
        </tr>
        <tr>
            <th>JV passed by</th>
            <td>{{ mis_entry.jv_passed_by.upper() }}</td>
        </tr>
        {% endif %}

    </table>
    <a class="button is-link" href="{{ url_for('mis.edit_mis_entry', mis_key=mis_entry.id ) }}">Edit MIS Entry</a>
</div>

{% endblock content %}
