{% extends "ci_layout.html" %}
{% block content %}

{% from "form_field_helpers_macro.html" import render_field_div_horizontal %}

<div class="container mb-5">
    <h1 class="title mb-3">{{ title }}</h1>
    <form method="post" enctype="multipart/form-data">

        {{ form.csrf_token }}
        {% for field in form if field.widget.input_type != "hidden" %}

        {# --- CUSTOM LOGIC FOR FILE FIELD --- #}
        {% if field.type == 'FileField' and field.data %}
        <div class="box">
            {# Assuming 'field.data' holds the URL/filename from the existing object #}
            {{ render_field_div_horizontal(field, is_narrow=False) }}
            <div class="field is-horizontal">
                <div class="field-label"><label class="label">Current file</label></div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <a class="button is-small is-outlined is-link" href="{{ field.data }}" target="_blank">
                                Download document
                            </a>
                        </p>
                        <p class="help">
                            Leave blank to keep current file. Upload a new file to replace it.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        {# Render all other fields (including FileField when no data exists) normally #}
        {{ render_field_div_horizontal(field, is_narrow=False) }}
        {% endif %}
        {# --------------------------------- #}

        {% endfor %}

        <div class="buttons is-centered">

            <a href="{{ url_for('.ci_list') }}" class="button is-outlined is-link">
                <i class="bi bi-arrow-left"></i> Back to List
            </a>
            <button type="submit" class="button is-success">Submit</button>
            <button type="reset" class="button is-outlined is-warning">Cancel</button>

        </div>
    </form>
</div>
{% endblock content %}
