{% extends "ci_layout.html" %}

{% block content %}

<div class="container mt-5">

    <!-- Page Header -->
    <div class="level mb-5">
        <div class="level-left">
            <div class="level-item">
                <h1 class="title mb-0">{{ ci.title }}</h1>
            </div>
        </div>

        <div class="level-right">
            <div class="level-item">
                <a href="{{ url_for('.ci_edit', id=ci.id) }}" class="button is-warning">
                    <span class="icon">
                        <i class="bi bi-pencil-square"></i>
                    </span>
                    <span>Edit CI</span>
                </a>
            </div>
        </div>
    </div>

    <!-- General Details -->
    <div class="card mb-5">
        <header class="card-header has-background-primary">
            <p class="card-header-title has-text-white">
                General Details
            </p>
        </header>

        <div class="card-content">
            <dl>

                <div class="columns mb-2">
                    <dt class="column is-3 has-text-weight-semibold">
                        CI Number
                    </dt>
                    <dd class="column is-9">
                        {{ ci.ci_number or "N/A" }}
                    </dd>
                </div>

                <div class="columns mb-2">
                    <dt class="column is-3 has-text-weight-semibold">
                        Current Status
                    </dt>
                    <dd class="column is-9">
                        <span class="tag is-info">
                            {{ ci.current_status }}
                        </span>
                    </dd>
                </div>

                <div class="columns mb-2">
                    <dt class="column is-3 has-text-weight-semibold">
                        Ticket Number
                    </dt>
                    <dd class="column is-9">
                        {{ ci.ticket_number or "N/A" }}
                    </dd>
                </div>

                <div class="columns mb-2">
                    <dt class="column is-3 has-text-weight-semibold">
                        Date of ticket raised
                    </dt>
                    <dd class="column is-9">
                        {{ ci.ticket_date or "N/A" }}
                    </dd>
                </div>

                <div class="columns">
                    <dt class="column is-3 has-text-weight-semibold">
                        Description
                    </dt>
                    <dd class="column is-9 is-multiline">
                        {{ ci.description or "No description provided." }}
                    </dd>
                </div>

            </dl>
        </div>
    </div>

    <!-- Documentation / Testing -->
    <div class="columns">

        <!-- Documentation -->
        <div class="column is-6">
            <div class="card is-fullheight">

                <header class="card-header has-background-grey">
                    <p class="card-header-title has-text-white">
                        Documentation
                    </p>
                </header>

                <div class="card-content">
                    <dl>

                        <div class="columns mb-3">
                            <dt class="column is-6 has-text-weight-semibold">
                                CI Document
                            </dt>

                            <dd class="column is-6">
                                {% if ci.ci_document %}
                                <a href="{{ url_for(
                                        '.download_ci_document',
                                        id=ci.id,
                                        document_type='ci_document'
                                    ) }}" class="button is-small is-outlined is-link" target="_blank">
                                    Download
                                </a>
                                {% else %}
                                <span class="has-text-grey">N/A</span>
                                {% endif %}
                            </dd>
                        </div>

                        <div class="columns mb-3">
                            <dt class="column is-6 has-text-weight-semibold">
                                Approach Note Date
                            </dt>

                            <dd class="column is-6">
                                {{ ci.approach_note_date or "N/A" }}
                            </dd>
                        </div>

                        <div class="columns mb-3">
                            <dt class="column is-6 has-text-weight-semibold">
                                Approach Note Document
                            </dt>

                            <dd class="column is-6">
                                {% if ci.approach_note_document %}
                                <a href="{{ url_for(
                                        '.download_ci_document',
                                        id=ci.id,
                                        document_type='approach_note_document'
                                    ) }}" class="button is-small is-outlined is-link" target="_blank">
                                    Download
                                </a>
                                {% else %}
                                <span class="has-text-grey">N/A</span>
                                {% endif %}
                            </dd>
                        </div>

                        <div class="columns">
                            <dt class="column is-6 has-text-weight-semibold">
                                Approach Note Approval Date
                            </dt>

                            <dd class="column is-6">
                                {{ ci.approach_note_approval_date or "N/A" }}
                            </dd>
                        </div>

                    </dl>
                </div>
            </div>
        </div>

        <!-- Testing & Deployment -->
        <div class="column is-6">
            <div class="card is-fullheight">

                <header class="card-header has-background-success">
                    <p class="card-header-title has-text-white">
                        Testing & Deployment
                    </p>
                </header>

                <div class="card-content">
                    <dl>

                        <div class="columns mb-3">
                            <dt class="column is-6 has-text-weight-semibold">
                                UAT Testing Date
                            </dt>

                            <dd class="column is-6">
                                {{ ci.uat_testing_date or "N/A" }}
                            </dd>
                        </div>

                        <div class="columns mb-3">
                            <dt class="column is-6 has-text-weight-semibold">
                                UAT Remarks
                            </dt>

                            <dd class="column is-6 is-multiline">
                                {{ ci.uat_remarks or "No remarks." }}
                            </dd>
                        </div>

                        <div class="columns mb-3">
                            <dt class="column is-6 has-text-weight-semibold">
                                Pilot Deployment Date
                            </dt>

                            <dd class="column is-6">
                                {{ ci.pilot_deployment_date or "N/A" }}
                            </dd>
                        </div>

                        <div class="columns">
                            <dt class="column is-6 has-text-weight-semibold">
                                Production Deployment Date
                            </dt>

                            <dd class="column is-6">
                                {{ ci.production_deployment_date or "N/A" }}
                            </dd>
                        </div>

                    </dl>
                </div>
            </div>
        </div>
    </div>

    <!-- Back Button -->
    <div class="mt-5 mb-5">
        <a href="{{ url_for('.ci_list') }}" class="button is-outlined is-link">

            <span class="icon">
                <i class="bi bi-arrow-left"></i>
            </span>

            <span>Back to List</span>
        </a>
    </div>

</div>

{% endblock content %}
