{% extends "coinsurance_layout.html" %}
{% block content %}

<div class="container">
    <h1 class="title">Enter coinsurance settlement details</h1>

    {% for field, errors in form.errors.items() %}
    <div class="notification is-danger">
        {{ field }} {{ ', '.join(errors) }}
    </div>
    {% endfor %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="notification is-danger">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form action="" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}

        <table class="table is-fullwidth is-hoverable">

            <tr>
                <th>{{ form.name_of_company.label }}</th>
                <td>
                    <div class="select is-fullwidth">{{ form.name_of_company }}</div>
                </td>
            </tr>
            <tr>
                <th>{{ form.date_of_settlement.label }}</th>
                <td>{{ form.date_of_settlement(class="input") }}</td>
            </tr>
            <tr>
                <th>{{ form.settled_amount.label }}</th>
                <td>{{ form.settled_amount(class="input") }}</td>
            </tr>
            <tr>
                <th>{{ form.utr_number.label }}</th>
                <td>{{ form.utr_number(class="input") }}</td>
            </tr>
            <tr>
                <th>{{ form.settlement_file.label }}</th>
                <td>{{ form.settlement_file }} {% if edit and settlement.file_settlement_file %}
                    <a class="button is-link is-small is-outlined"
                        href="{{ url_for ('coinsurance.download_settlements', settlement_id = settlement.id) }}">Download
                        settlement statement</a>
                    {% elif edit %}No settlement statement uploaded
                    {% endif %}

                </td>
            </tr>
            <tr>
                <th>{{ form.type_of_transaction.label }}</th>
                <td>{{ form.type_of_transaction(class="radio") }}</td>
            </tr>
            <tr>
                <th>{{ form.notes.label }}</th>
                <td>{{ form.notes(class="textarea") }}</td>
            </tr>
        </table>
        <div class="mt-5 has-text-centered">
            <button class="button is-primary is-big">Save</button>
        </div>
    </form>
</div>
{% endblock content %}
