{% extends "coinsurance_layout.html" %}
{% block content %}
<div class="container">
    <h1 class="title">{{ title }}</h1>
    {% for field, errors in form.errors.items() %}
    <div class="notification is-danger">
        {{ field }} {{ ', '.join(errors) }}
    </div>
    {% endfor %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="notification is-danger">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form method="post">
        {{ form.csrf_token }}
        <div class="columns box">
            <div class="column">
                <table class="table is-fullwidth">
                    <tr>
                        <th>{{ form.txt_hub.label }}</th>
                        <td>
                            <div class="select is-fullwidth">{{ form.txt_hub }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ form.txt_ro_code.label }}</th>
                        <td>{{ form.txt_ro_code(class="input") }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.txt_oo_code.label }}</th>
                        <td>{{ form.txt_oo_code(class="input") }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.str_leader_follower.label }}</th>
                        <td>
                            <div class="select is-fullwidth">{{ form.str_leader_follower }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ form.txt_insured_name.label }}</th>
                        <td>{{ form.txt_insured_name(class="input") }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.date_policy_start_date.label }}</th>
                        <td>{{ form.date_policy_start_date(class="input") }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.date_policy_end_date.label }}</th>
                        <td>{{ form.date_policy_end_date(class="input") }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.amount_total_paid.label }}</th>
                        <td>{{ form.amount_total_paid(class="input") }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.date_claim_payment.label }}</th>
                        <td>{{ form.date_claim_payment(class="input") }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.txt_remarks.label }}</th>
                        <td>{{ form.txt_remarks(class="textarea") }}</td>
                    </tr>
                </table>
            </div>
            <div class="column">
                <table class="table is-fullwidth">
                    <tr>
                        <th>{{ form.txt_coinsurer_name.label }}</th>
                        <td>
                            <div class="select is-fullwidth">{{ form.txt_coinsurer_name }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ form.percent_share.label }}</th>
                        <td>{{ form.percent_share(class="input") }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.amount_of_share.label }}</th>
                        <td>{{ form.amount_of_share(class="input") }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.txt_request_id.label }}</th>
                        <td>{{ form.txt_request_id(class="input") }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.date_of_cash_call_raised.label }}</th>
                        <td>{{ form.date_of_cash_call_raised(class="input") }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.txt_current_status.label }}</th>
                        <td>
                            <div class="select is-fullwidth">{{ form.txt_current_status }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ form.txt_utr_number.label }}</th>
                        <td>{{ form.txt_utr_number(class="input") }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.date_of_cash_call_settlement.label }}</th>
                        <td>{{ form.date_of_cash_call_settlement(class="input") }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.amount_settlement.label }}</th>
                        <td>{{ form.amount_settlement(class="input") }}</td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="has-text-centered"><button class="button is-success">Submit</button></div>
    </form>
</div>

{% endblock content %}
