{% extends "coinsurance_layout.html" %}
{% block content %}
<div class="container is-fluid mb-5">
    <h1 class="title">Coinsurance receipts tracker</h1>
    <div class="tabs is-boxed">
        <ul>
            <li id="all_tab" class="is-active"><a onclick="show_all_receipts()">All receipts</a></li>
            <li id="pending_tab"><a onclick="show_pending_receipts()">Pending receipts</a></li>
        </ul>
    </div>
    <div id="all_receipts" class="container is-fluid">
        {% with container_class = "container is-fluid", table_id = "coinsurance_receipts_table", data = receipts %}
        {% include "_coinsurance_receipt_table.html" with context %}
        {% endwith %}
    </div>
    <div class="is-hidden container is-fluid" id="pending_receipts">
        {% with container_class = "container is-fluid", table_id = "coinsurance_receipts_pending_table", data =
        pending_receipts %}
        {% include "_coinsurance_receipt_table.html" with context %}
        {% endwith %}
    </div>
</div>
{% endblock content %}
{% block scripts %}

{% with table_id = "coinsurance_receipts_table" %}
{% include "_token_id_table_script.html" %}
{% endwith %}

{% with table_id = "coinsurance_receipts_pending_table" %}
{% include "_token_id_table_script.html" %}
{% endwith %}
<script>

    function show_pending_receipts() {
        // remove active of summary
        // add is-hidden class to summary

        document.getElementById("all_receipts").classList.add("is-hidden");
        document.getElementById("all_tab").classList.remove("is-active");

        document.getElementById("pending_receipts").classList.remove("is-hidden");
        document.getElementById("pending_tab").classList.add("is-active");


    }
    function show_all_receipts() {
        // remove active of balances
        // add is-hidden class to balances

        document.getElementById("all_receipts").classList.remove("is-hidden");
        document.getElementById("all_tab").classList.add("is-active");

        document.getElementById("pending_receipts").classList.add("is-hidden");
        document.getElementById("pending_tab").classList.remove("is-active");

    }
</script>
{% endblock scripts %}
