{% extends "coinsurance_layout.html" %}
{% block content %}

{% if dashboard %}
<div class="container is-size-6">
    <table class="table is-bordered">
        <thead>
            <tr>
                <th>Current status</th>
                <th>Number of entries</th>
            </tr>
        </thead>
        <tbody>

            {% for entry in dashboard %}
            <tr>
                {% if entry[0] == "Needs clarification from RO or OO" and
                (current_user.user_type in ["ro_user", "oo_user"]) %}
                <td class="has-text-danger">{{ entry[0] }}</td>
                <td class="has-text-right"><a
                        href="{{ url_for('coinsurance.list_coinsurance_entries_by_status', status=entry[0]) }}">
                        <div>{{ entry[1] }}</div>
                    </a></td>
                {% else %}
                <td>{{ entry[0] }}</td>
                <td class="has-text-right"> <a
                        href="{{ url_for('coinsurance.list_coinsurance_entries_by_status', status=entry[0]) }}">
                        <div>{{ entry[1] }}</div>
                    </a></td>
                {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>

    {% endif %}

    {% if current_user.user_type in ["admin", "coinsurance_hub_user"] %}

    <h3 class="title is-size-5">Last 50 credits received in HDFC Pool account</h3>
    <table class="table is-bordered is-hoverable" id="coinsurance_table">
        <thead>
            <tr>
                <th>Value date</th>
                <th>Description</th>
                <th>Credit</th>
                <th>Reference number</th>
            </tr>
        </thead>
        <tbody>
            <tr>{% for item in fund_query %}
                <td data-sort="{{ item.value_date }}">{{ item.value_date.strftime("%d/%m/%Y") }}</td>
                <td>{{ item.description }}</td>
                <td class="has-text-right">{{ item.credit|indian_number_format }}</td>
                <td>{{ item.reference_no }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if current_user.user_type == "admin" %}
    <h1 class="title">Summary of settlements</h1>
    <div class="mt-5 is-centered">
        <table class="table is-bordered">
            <thead>
                <tr>
                    <th class="has-text-centered">Period</th>
                    <th class="has-text-centered">Paid</th>
                    <th class="has-text-centered">Received</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in settlement_query %}
                <tr>
                    <td>{{ entry[0].strftime("%B") }}-{{ entry[1].strftime("%Y") }}</td>

                    <td class="has-text-right">{{ entry[2]|indian_number_format }}</td>
                    <td class="has-text-right">{{ entry[3]|indian_number_format }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}
    <div class="mb-5"></div>
</div>
{% block scripts %}
<script>

    new DataTable('#coinsurance_table', {
        //        dom: 'lfBrtip',
        layout: {
            top1start: 'pageLength',
            topStart: 'buttons',

        },
        fixedHeader: true,
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],
        order: [[9, 'desc']],
        pagingType: 'full_numbers',
        pageLength: 10,
        lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],]
    });

</script>

{% endblock scripts %}
{% endblock content %}
