{% extends "coinsurance_layout.html" %}
{% block content %}
<div class="container">
    <h1 class="title">Upload coinsurance balance for a period in excel format</h1>

    <form class="mb-5" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="notification is-success">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock content %}
