{% extends "coinsurance_layout.html" %}
{% block content %}

{% if dashboard %}
<div class="container is-size-6">
    <table class="table is-bordered">
        <thead>
            <tr>
                <th>Current status</th>
                <th>Number of entries</th>
            </tr>
        </thead>
        <tbody>

            {% for entry in dashboard %}
            <tr>
                {% if entry[0] == "Needs clarification from RO or OO" and
                (current_user.user_type in ["ro_user", "oo_user"]) %}
                <td class="has-text-danger">{{ entry[0] }}</td>
                <td class="has-text-right"><a
                        href="{{ url_for('coinsurance.list_coinsurance_entries_by_status', status=entry[0]) }}">
                        <div>{{ entry[1] }}</div>
                    </a></td>
                {% else %}
                <td>{{ entry[0] }}</td>
                <td class="has-text-right"> <a
                        href="{{ url_for('coinsurance.list_coinsurance_entries_by_status', status=entry[0]) }}">
                        <div>{{ entry[1] }}</div>
                    </a></td>
                {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>

    {% endif %}

    {% if current_user.user_type in ["admin", "coinsurance_hub_user"] %}

    <h3 class="title is-size-5">Credits received in HDFC Pool account</h3>
    <table class="table is-bordered is-striped is-hoverable is-fullwidth" id="coinsurance_credits_table">
        <thead>
            <tr>
                <th class="has-text-centered is-vcentered">Value date</th>
                <th class="has-text-centered is-vcentered">Description</th>
                <th class="has-text-centered is-vcentered">Credit</th>
                <th class="has-text-centered is-vcentered">Reference number</th>
            </tr>
        </thead>

    </table>
    {% endif %}

    {% if current_user.user_type == "admin" %}
    <h1 class="title">Summary of settlements</h1>
    <div class="mt-5 is-centered">
        <table class="table is-bordered">
            <thead>
                <tr>
                    <th class="has-text-centered">Period</th>
                    <th class="has-text-centered">Paid</th>
                    <th class="has-text-centered">Received</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in settlement_query %}
                <tr>
                    <td>{{ entry[0].strftime("%B") }}-{{ entry[1].strftime("%Y") }}</td>

                    <td class="has-text-right">{{ entry[2]|indian_number_format }}</td>
                    <td class="has-text-right">{{ entry[3]|indian_number_format }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}
    <div class="mb-5"></div>
</div>
{% block scripts %}

<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='momentum.2.30.1.js') }}"></script>

<script>
    $(document).ready(function () {
        new DataTable('#coinsurance_credits_table', {
            ajax: "{{ url_for('coinsurance.get_coinsurance_receipts') }}",
            serverSide: true,
            //stateSave: true,
            processing: true,
            ordering: false,
            lengthMenu: [10, 25, 50, 100, 500, 1000],
            layout: {
                topStart: 'pageLength',
                top2Start: {
                    buttons: [
                        { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
                        { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
                        { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],
                }
            },

            columns: [
                {
                    data: 'value_date',
                    className: 'dt-body-center',
                    render: $.fn.dataTable.render.datetime('yyyy-MM-DD')
                    //render: $.fn.dataTable.render.datetime('DD/MM/yyyy')

                },
                { data: 'description' },
                { data: 'credit', className: 'dt-body-right', },
                { data: 'reference_no' },

            ],
        });
    });
</script>

{% endblock scripts %}
{% endblock content %}
