{% extends "coinsurance_layout.html" %}
{% block body_attrs %} "onload=calculateSum();" {% endblock body_attrs %}
{% block content %}
{% from "form_field_helpers_macro.html" import render_field_table %}

<h1 class="title">Enter coinsurance confirmation details</h1>
{% for field in form %}
{% if field.errors %}
<div class="notification is-danger">
    {{ field.label }} field is to be completed.
</div>
{% endif %}
{% endfor %}

{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="notification is-danger">
    <p>{{ message }}</p>
</div>
{% endfor %}

{% endwith %}
<form action="" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}

    <div class="columns box">
        <div class="column">
            <table class="table is-fullwidth is-hoverable">
                <tr>
                    <th> {{ form.uiic_regional_code.label }} </th>
                    <td>
                        {% if current_user.user_type in ["admin","coinsurance_hub_user"] %}
                        {{ form.uiic_regional_code(class='input', list="ro_list") }}
                        <datalist id="ro_list">
                            {% for ro_code in ro_list %}
                            <option value="{{ ro_code }}"></option>
                            {% endfor %}
                        </datalist>
                        {% else %}
                        {{ form.uiic_regional_code.data }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ form.uiic_office_code.label }}</th>
                    <td>
                        {% if current_user.user_type == "oo_user" %}
                        {{ form.uiic_office_code.data }}
                        {% else %}
                        {{ form.uiic_office_code(class='input') }}
                        {% endif %}
                    </td>
                </tr>
                {{ render_field_table(form.type_of_transaction) }}
                {{ render_field_table(form.follower_company_name) }}
                {{ render_field_table(form.follower_office_code) }}

                {{ render_field_table(form.str_period) }}
                {{ render_field_table(form.insured_name) }}

                <tr>
                    <th>{{ form.payable_amount.label }}</th>
                    <td onload="calculateSum()" onkeyup="calculateSum()">{{ form.payable_amount(class='input') }}</td>
                </tr>
                <tr>
                    <th>{{ form.receivable_amount.label }}</th>
                    <td onload="calculateSum()" onkeyup="calculateSum()">{{ form.receivable_amount(class='input') }}
                    </td>
                </tr>
                <tr>
                    <th><label id="label_before_ri">Net payable (excluding RI)</label></th>
                    <td><label id="cal_direct_amount"></label></td>
                </tr>
                {{ render_field_table(form.request_id) }}

            </table>
        </div>
        <div class="column">
            <table class="table is-fullwidth is-hoverable">
                <tr>
                    <th>{{ form.statement_file.label }}</th>
                    <td>{{ form.statement_file }}

                        {% if edit and coinsurance.statement %}
                        <a class="button is-link is-small is-outlined"
                            href='{{ url_for("coinsurance.download_document", requirement="statement", coinsurance_id = coinsurance.id ) }}'>Download
                            statement</a>
                        {% elif edit %} Statement not uploaded {% endif %}
                    </td>
                </tr>

                <tr>
                    <th>{{ form.confirmation_file.label }}</th>
                    <td>{{ form.confirmation_file }}

                        {% if edit and coinsurance.confirmation %}
                        <a class="button is-link is-small is-outlined"
                            href='{{ url_for("coinsurance.download_document", requirement="confirmation", coinsurance_id = coinsurance.id ) }}'>Download
                            confirmation</a>
                        {% elif edit %} Confirmation not uploaded {% endif %}
                    </td>
                </tr>

                {{ render_field_table(form.boolean_reinsurance_involved) }}
                {% if form.boolean_reinsurance_involved.data %}
                <tr>
                    <th>{{ form.int_ri_payable_amount.label }}</th>
                    <td onkeyup="calculateSum()">{{ form.int_ri_payable_amount(class='input') }}</td>
                </tr>
                <tr>
                    <th>{{ form.int_ri_receivable_amount.label }}</th>
                    <td onkeyup="calculateSum()">{{ form.int_ri_receivable_amount(class='input') }}</td>
                </tr>
                <tr>
                    <th><label id="label_after_ri">Net payable (including RI)</label></th>
                    <td><label id="cal_ri_amount"> </label></td>
                </tr>

                <tr>
                    <th>{{ form.ri_confirmation_file.label }}</th>
                    <td>{{ form.ri_confirmation_file }}
                        {% if edit and coinsurance.ri_confirmation %}
                        <a class="button is-link is-small is-outlined"
                            href='{{ url_for("coinsurance.download_document", requirement="ri_confirmation", coinsurance_id = coinsurance.id ) }}'>Download
                            RI confirmation</a>
                        {% elif edit %} Reinsurance confirmation not uploaded {% endif %}
                    </td>
                </tr>

                {% else %}
                <tr>
                    <th>{{ form.int_ri_payable_amount.label }}</th>
                    <td onkeyup="calculateSum()">{{ form.int_ri_payable_amount(class='input', disabled=disabled) }}</td>
                </tr>
                <tr>
                    <th>{{ form.int_ri_receivable_amount.label }}</th>
                    <td onkeyup="calculateSum()">{{ form.int_ri_receivable_amount(class='input', disabled=disabled) }}
                    </td>
                </tr>
                <tr>
                    <th><label id="label_after_ri">Net payable (including RI)</label></th>
                    <td><label id="cal_ri_amount" disabled></label></td>
                </tr>
                <tr>
                    <th>{{ form.ri_confirmation_file.label }}</th>
                    <td>{{ form.ri_confirmation_file(disabled=disabled) }}</td>
                </tr>
                {% endif %}
                {% if remarks %}
                {% if remarks.count() > 0 %}
                <tr>
                    <th>Remarks</th>
                    <td>
                        <table class="table is-bordered">
                            <thead>
                                <tr>
                                    <th>Time of remarks</th>
                                    <th>User</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for remark in remarks %}
                                <tr>
                                    <td title="{{ remark.time_of_remark }}">
                                        {{ remark.time_of_remark |humanize_datetime }}
                                    </td>
                                    <td>{{ remark.user }}</td>
                                    <td>{{ remark.remarks }}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                {% endif %}
                {% endif %}
                <tr>
                    <th>{{ form.remarks.label }}</th>
                    <td>{{ form.remarks(class='textarea') }}</td>
                </tr>
                {% if change_status %}
                {{ render_field_table(form.current_status) }}

                {% endif %}
                {% if update_settlement %}
                {{ render_field_table(form.utr_number) }}
                {% endif %}
            </table>
        </div>
    </div>
    <div class="mt-5 has-text-centered">
        {% if enable_save_button %}
        <button class="button is-primary is-large">Save</button>
        {% else %}
        <a class="button is-primary is-large" disabled>Save</a>
        {% endif %}
    </div>
</form>

{% block scripts %}
<script>

    $(document).ready(function () {
        calculateSum();
    });

    function calculateSum() {
        var direct_payable = parseInt(document.getElementById("payable_amount").value === "" ? 0 : document.getElementById("payable_amount").value);
        var direct_receivable = parseInt(document.getElementById("receivable_amount").value === "" ? 0 : document.getElementById("receivable_amount").value);
        sum_direct = direct_payable - direct_receivable;

        if (sum_direct > 0) {
            document.getElementById("label_before_ri").innerText = "Net payable (excluding RI)";
            document.getElementById("cal_direct_amount").innerText = sum_direct;
        } else {
            document.getElementById("label_before_ri").innerText = "Net receivable (excluding RI)";
            document.getElementById("cal_direct_amount").innerText = sum_direct * -1;
        }
        var ri_payable = parseInt(document.getElementById("int_ri_payable_amount").value === "" ? 0 : document.getElementById("int_ri_payable_amount").value);
        var ri_receivable = parseInt(document.getElementById("int_ri_receivable_amount").value === "" ? 0 : document.getElementById("int_ri_receivable_amount").value);
        sum_ri = sum_direct + ri_payable - ri_receivable

        if (sum_ri > 0) {
            document.getElementById("label_after_ri").innerText = "Net payable (including RI)";
            document.getElementById("cal_ri_amount").innerText = sum_ri;
        } else {
            document.getElementById("label_after_ri").innerText = "Net receivable (including RI)";
            document.getElementById("cal_ri_amount").innerText = sum_ri * -1;
        }
    }
    // enable or disable RI related things
    document.getElementById('boolean_reinsurance_involved').onchange = function () {
        document.getElementById('int_ri_payable_amount').disabled = !this.checked;
        document.getElementById('int_ri_receivable_amount').disabled = !this.checked;
        document.getElementById('cal_ri_amount').disabled = !this.checked;
        document.getElementById('ri_confirmation_file').disabled = !this.checked;
    };

</script>
{% endblock scripts %}
{% endblock content %}
