{% extends "coinsurance_layout.html" %}
{% block content %}

{% from "form_field_helpers_macro.html" import render_field_div_horizontal %}
<div class="container box">

    <h1 class="title">Upload CSV files</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}

        {% for field in form if field.widget.input_type not in ["hidden","submit"] %}
        {{ render_field_div_horizontal(field, is_narrow=False) }}
        {% endfor %}

        <div class="has-text-centered"> {{ form.upload_document }}
        </div>
    </form>

</div>
{% endblock content %}
