{% extends "coinsurance_layout.html" %}

{% block content %}
<h1 class="title">Details of all coinsurance settlements</h1>

{% if settlement_entries %}
<table class="table is-striped is-fullwidth is-bordered" id="settlement_table">
    <thead>
        <tr>
            <th>Coinsurer name</th>
            <th>Paid / received</th>
            <th>Amount settled</th>
            <th>Date of settlement</th>
            <th>UTR number</th>
            <th>Notes</th>
            <th>View</th>
            {% if current_user.user_type == "admin" %}
            <th>Edit</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for entry in settlement_entries %}
        <tr>
            <td>{{ entry.name_of_company }}</td>
            <td>{{ entry.type_of_transaction }}</td>
            {% if entry.type_of_transaction == "Paid" %}
            <td class="has-text-right">{{ entry.settled_amount|indian_number_format }}</td>
            {% else %}
            <td class="has-text-right">{{ (entry.settled_amount*-1)|indian_number_format }}</td>
            {% endif %}
            <td class="has-text-centered" data-sort="{{ entry.date_of_settlement }}">{{
                entry.date_of_settlement.strftime("%d/%m/%Y") }}</td>
            <td><a href="{{ url_for ('coinsurance.list_settled_coinsurance_entries', utr_number = entry.utr_number) }}">{{
                    entry.utr_number }}</a></td>
            <td>
                {% if entry.notes %}
                {{ entry.notes[:50] }}
                {% endif %}
            </td>
            <td><a class="button is-info is-small"
                    href="{{ url_for ('coinsurance.view_settlement_entry', settlement_id = entry.id) }}">View</a></td>
            {% if current_user.user_type == "admin" %}
            <td><a class="button is-info is-small"
                    href="{{ url_for ('coinsurance.edit_settlement_entry', settlement_id = entry.id) }}">Edit</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% block scripts %}
<script>

    new DataTable('#settlement_table', {
        dom: 'lfBrtip',
        fixedHeader: true,
        buttons: [
            { extend: 'copyHtml5', className: 'is-danger is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'is-info is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'is-primary is-rounded', title: '' }],
        order: [[3, 'desc']],
        pagingType: 'full_numbers',
        pageLength: 50,
        lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],]
    });

</script>

{% endblock scripts %}
{% endblock content %}
