{% extends "coinsurance_layout.html" %}
{% block content %}

<div class="container-fluid">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="notification is-danger">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <h1 class="title">List of token request IDs</h1>
    <div class="tabs is-boxed">
        <ul>
            <li id="all_tab" class="is-active"><a onclick="show_all_token_ids() ">All token IDs</a></li>
            <li id="pending_tab"><a onclick="show_pending_token_ids()">Token IDs pending for JV
                    <span class="tag is-danger is-rounded ml-2 has-text-white"> {{ pending_count }}
                    </span>
                </a>
            </li>
        </ul>
    </div>

    <div id="all_token_ids" class="container is-fluid">
        {% with container_class = "container is-fluid", table_id = "token_id_table", data = token_ids %}
        {% include "_token_id_table.html" with context %}
        {% endwith %}
    </div>

    <div class="is-hidden container is-fluid" id="pending_token_ids">
        <form method="post" action="{{ url_for('coinsurance.mark_token_ids_completed') }}">

            <div class="has-text-right mt-4 mb-4">
                <a class="button is-link" href="{{ url_for('.token_id_download_jv') }}">Download token IDs JV</a>
                <button class="button is-primary" type="submit">Mark as JV passed</button>
            </div>
            {% with container_class = "container is-fluid", table_id = "pending_token_id_table", data =
            pending_token_ids, show_checkbox=true %}
            {% include "_token_id_table.html" with context %}
            {% endwith %}

        </form>
    </div>
</div>

{% endblock content %}

{% block scripts %}

{% with table_id="token_id_table" %}
{% include "_token_id_table_script.html" %}
{% endwith %}

{% with table_id="pending_token_id_table" %}
{% include "_token_id_table_script.html" %}
{% endwith %}

<script>
    function show_pending_token_ids() {
        document.getElementById("all_token_ids").classList.add("is-hidden");
        document.getElementById("all_tab").classList.remove("is-active");

        document.getElementById("pending_token_ids").classList.remove("is-hidden");
        document.getElementById("pending_tab").classList.add("is-active");
    }

    function show_all_token_ids() {
        document.getElementById("all_token_ids").classList.remove("is-hidden");
        document.getElementById("all_tab").classList.add("is-active");

        document.getElementById("pending_token_ids").classList.add("is-hidden");
        document.getElementById("pending_tab").classList.remove("is-active");
    }
</script>
<script>
    function toggleAll(source) {
        const checkboxes = document.querySelectorAll('input[name="selected_ids"]');
        for (const cb of checkboxes) {
            cb.checked = source.checked;
        }
    }
</script>
{% endblock scripts %}
