{% extends "coinsurance_layout.html" %}
{% block content %}
<div class="container is-fluid">

    <form action="" method="post">
        {{ form.csrf_token }}

        {{ form.period.label }} : {{ form.period(class="select") }}
        <button class="ml-5 button is-success">Query</button>
    </form>
    <h1 class="title mt-2"> Coinsurance balances for the month {{ period }}</h1>
    <div class="tabs is-boxed">
        <ul>
            <li id="summary_tab" class="is-active"><a onclick="show_summary()">Summary</a></li>
            <li id="balances_tab"><a onclick="show_office_wise_balance()">Office wise balances</a></li>
        </ul>
    </div>
    {% if coinsurance_balance %}
    <div id="summary" class="container is-fluid">

        <table class="mt-5 mb-5 table is-bordered">
            <thead>
                <tr>
                    <th>Name of company</th>
                    <th>Net amount (payable)</th>
                    <th>Net amount (receivable)</th>
                </tr>
            </thead>
            <tbody>
                <tr>{% for item in summary %}
                    <td>{{ item[0] }}</td>
                    <td class="has-text-right">{{ item[1]|indian_number_format if item[1] > 0 else 0 |
                        indian_number_format }}</td>
                    <td class="has-text-right">{{ (item[1]*-1)|indian_number_format if item[1] < 0 else 0 |
                            indian_number_format }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="is-hidden is-fluid" id="balances">
        <table class="table is-fullwidth is-bordered" width="100%" id="coinsurance_balance_table">
            <thead>
                <tr>
                    <th>Zone</th>
                    <th>Regional Office Code</th>
                    <th>Office Code</th>
                    <th>Company name</th>
                    <th>Period</th>
                    <th>Hub Due to premium</th>
                    <th>Hub Due to claims</th>
                    <th>Hub Due from premium</th>
                    <th>Hub Due from claims</th>
                    <th>OO Due to</th>
                    <th>OO Due from</th>
                    <th>Net amount</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in coinsurance_balance %}
                <tr>
                    <td>{{ entry.str_zone }}</td>
                    <td>{{ entry.str_regional_office_code }}</td>
                    <td>{{ entry.office_code }}</td>
                    <td>{{ entry.company_name }}</td>
                    <td>{{ entry.period }}</td>
                    <td class="has-text-right">{{ entry.hub_due_to_premium|indian_number_format }}</td>
                    <td class="has-text-right">{{ entry.hub_due_to_claims|indian_number_format }}</td>
                    <td class="has-text-right">{{ entry.hub_due_from_premium|indian_number_format }}</td>
                    <td class="has-text-right">{{ entry.hub_due_from_claims|indian_number_format }}</td>
                    <td class="has-text-right">{{ entry.oo_due_to|indian_number_format }}</td>
                    <td class="has-text-right">{{ entry.oo_due_from|indian_number_format }}</td>
                    <td class="has-text-right">{{ entry.net_amount|indian_number_format }}</td>

                    {% endfor %}
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
    {% endif %}

</div>
{% block scripts %}

<script>

    var data_table = new DataTable('#coinsurance_balance_table', {
        //        dom: 'lfBrtip',
        layout: {
            top1start: 'pageLength',
            topStart: 'buttons',

        },
        fixedHeader: true,
        stateSave: true,
        pageLength: 100,
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],
        order: [[1, 'asc'], [2, 'asc']],
        pagingType: 'full_numbers',
        lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],],
        footerCallback: function (row, data, start, end, display) {
            var api = this.api();

            // Remove the formatting to get integer data for summation
            var intVal = function (i) {
                return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
            };

            // Total over all pages

            hubDueToPremiumTotal = api
                .column(5, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
            hubDueToClaimsTotal = api
                .column(6, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
            hubDueFromPremiumTotal = api
                .column(7, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
            hubDueFromClaimsTotal = api
                .column(8, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
            ooDueToTotal = api
                .column(9, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
            ooDueFromTotal = api
                .column(10, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
            // Total over this page
            netTotal = api
                .column(11, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);

            // Update footer
            const formatter = new Intl.NumberFormat('en-IN', {
                style: 'currency',
                currency: 'INR',
                minimumFractionDigits: 2,
                maximumFractionDigits: 2,
                trailingZeroDisplay: 'stripIfInteger'
            });
            $(api.column(5).footer()).html(formatter.format(hubDueToPremiumTotal));
            $(api.column(6).footer()).html(formatter.format(hubDueToClaimsTotal));
            $(api.column(7).footer()).html(formatter.format(hubDueFromPremiumTotal));
            $(api.column(8).footer()).html(formatter.format(hubDueFromClaimsTotal));
            $(api.column(9).footer()).html(formatter.format(ooDueToTotal));
            $(api.column(10).footer()).html(formatter.format(ooDueFromTotal));
            $(api.column(11).footer()).html(formatter.format(netTotal));
            //$(api.column(0).footer()).html('Total: ' + formatter.format(total));
        },

    });

    function show_office_wise_balance() {
        // remove active of summary
        // add is-hidden class to summary

        document.getElementById("summary").classList.add("is-hidden");
        document.getElementById("summary_tab").classList.remove("is-active");

        document.getElementById("balances").classList.remove("is-hidden");
        document.getElementById("balances_tab").classList.add("is-active");
        data_table.fixedHeader.enable();

    }
    function show_summary() {
        // remove active of balances
        // add is-hidden class to balances

        document.getElementById("summary").classList.remove("is-hidden");
        document.getElementById("summary_tab").classList.add("is-active");

        document.getElementById("balances").classList.add("is-hidden");
        document.getElementById("balances_tab").classList.remove("is-active");
        data_table.fixedHeader.disable();
    }

</script>
{% endblock scripts %}
{% endblock content %}
