{% extends "coinsurance_layout.html" %}
{% block content %}
<div class="container is-fluid">

    <form action="" method="post">
        {{ form.csrf_token }}

        <div class="container is-fluid">
            <table class="table">
                <tr>
                    <td class="is-vcentered">{{ form.period.label }}
                    </td>
                    <td>
                        <div class="select"> {{ form.period }} </div>
                    </td>

                    {% if current_user.user_type == "admin" %}
                <tr>
                    <td>{{ form.head_office_balance.label }}</td>
                    <td>{{ form.head_office_balance }}</td>
                </tr>

                {% endif %}
                <td>
                    <button class="ml-5 button is-success">Query</button>
                </td>
                </tr>
            </table>
        </div>
    </form>
    <h1 class="title mt-2"> Coinsurance balances for the month {{ period }}</h1>
    <div class="tabs is-boxed">
        <ul>
            <li id="summary_tab" class="is-active"><a onclick="show_summary()">Summary</a></li>
            <li id="balances_tab"><a onclick="show_office_wise_balance()">Office wise balances</a></li>
        </ul>
    </div>
    {% if coinsurance_balance %}

    {% if last_updated %}<div class="has-text-right">
        Last updated on:
        <div class="mb-5 tag is-medium is-success is-hoverable">{{ last_updated }}</div>
    </div>

    {% endif %}
    <div id="summary" class="container is-fluid">

        <table class="mt-5 mb-5 table is-bordered is-hoverable is-fullwidth" id="coinsurance_summary_table">
            <thead>
                <tr>
                    <th class="has-text-centered is-vcentered">Name of company</th>
                    <th class="has-text-centered is-vcentered">Gross amount (payable)</th>
                    <th class="has-text-centered is-vcentered">Gross amount (receivable)</th>
                    <th class="has-text-centered is-vcentered">Net amount (payable)</th>
                    <th class="has-text-centered is-vcentered">Net amount (receivable)</th>
                </tr>
            </thead>
            <tbody>
                <tr>{% for item in summary %}
                    <td>{{ item[0] }}</td>
                    <td>{{ (item[1] + item[2] + item[3]) | indian_number_format }}</td>
                    <td>{{ ((item[4] + item[5] + item[6])*-1) | indian_number_format }}</td>
                    <td class="has-text-right">{{ item[7] |indian_number_format if item[7] > 0 else 0 |
                        indian_number_format }}</td>
                    <td class="has-text-right">{{ (item[7]*-1)|indian_number_format if item[7] < 0 else 0 |
                            indian_number_format }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <th>Total</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tfoot>
        </table>

    </div>
    <div class="is-hidden is-fluid" id="balances">
        <table class="table is-fullwidth is-bordered is-hoverable" width="100%" id="coinsurance_balance_table">
            <thead>
                <tr>
                    <th class="has-text-centered is-vcentered">Zone</th>
                    <th class="has-text-centered is-vcentered">Regional Office Code</th>
                    <th class="has-text-centered is-vcentered">Office Code</th>
                    <th class="has-text-centered is-vcentered">Company name</th>
                    <th class="has-text-centered is-vcentered">Period</th>
                    <th class="has-text-centered is-vcentered">Hub Due to premium</th>
                    <th class="has-text-centered is-vcentered">Hub Due to claims</th>
                    <th class="has-text-centered is-vcentered">Hub Due from premium</th>
                    <th class="has-text-centered is-vcentered">Hub Due from claims</th>
                    <th class="has-text-centered is-vcentered">OO Due to</th>
                    <th class="has-text-centered is-vcentered">OO Due from</th>
                    <th class="has-text-centered is-vcentered">Net amount</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in coinsurance_balance %}
                <tr>
                    <td class="has-text-centered">{{ entry.str_zone }}</td>
                    <td class="has-text-centered">{{ entry.str_regional_office_code }}</td>
                    <td class="has-text-centered">{{ entry.office_code }}</td>
                    <td>{{ entry.company_name }}</td>
                    <td class="has-text-centered">{{ entry.period }}</td>
                    <td class="has-text-right">{{ entry.hub_due_to_premium|indian_number_format }}</td>
                    <td class="has-text-right">{{ entry.hub_due_to_claims|indian_number_format }}</td>
                    <td class="has-text-right">{{ entry.hub_due_from_premium|indian_number_format }}</td>
                    <td class="has-text-right">{{ entry.hub_due_from_claims|indian_number_format }}</td>
                    <td class="has-text-right">{{ entry.oo_due_to|indian_number_format }}</td>
                    <td class="has-text-right">{{ entry.oo_due_from|indian_number_format }}</td>
                    <td class="has-text-right">{{ entry.net_amount|indian_number_format }}</td>

                    {% endfor %}
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
    {% endif %}

</div>
{% block scripts %}

<script>

    new DataTable('#coinsurance_summary_table', {
        layout: {
            topStart: 'buttons',
        },
        stateSave: true,
        // fixedHeader: true,
        pageLength: 100,
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],

        footerCallback: function (row, data, start, end, display) {
            var api = this.api();

            // Remove the formatting to get integer data for summation
            const intVal = function (i) {
                return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
            };

            const sum = (colIndex) => {
                return api
                    .column(colIndex, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
            }

            // Update footer
            const formatter = new Intl.NumberFormat('en-IN', {
                //style: 'currency',
                //currency: 'INR',
                minimumFractionDigits: 2,
                maximumFractionDigits: 2,
                //trailingZeroDisplay: 'stripIfInteger'
            });

            for (let col = 1; col <= 4; col++) {
                api.column(col).footer().textContent = formatter.format(sum(col));
            }

        },

    })


    var data_table = new DataTable('#coinsurance_balance_table', {
        //        dom: 'lfBrtip',
        layout: {
            top1start: 'pageLength',
            topStart: 'buttons',

        },
        // fixedHeader: true,
        stateSave: true,
        pageLength: 100,
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],
        order: [[1, 'asc'], [2, 'asc']],
        pagingType: 'full_numbers',
        lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],],
        footerCallback: function (row, data, start, end, display) {
            var api = this.api();

            // Remove the formatting to get integer data for summation
            const intVal = function (i) {
                return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
            };
            const sum = (colIndex) => {
                return api
                    .column(colIndex, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
            }
            // Total over all pages


            // Update footer
            const formatter = new Intl.NumberFormat('en-IN', {
                style: 'currency',
                currency: 'INR',
                minimumFractionDigits: 2,
                maximumFractionDigits: 2,
                // trailingZeroDisplay: 'stripIfInteger'
            });
            for (let col = 5; col <= 11; col++) {
                api.column(col).footer().textContent = formatter.format(sum(col));
            }

        },

    });

    function show_office_wise_balance() {
        // remove active of summary
        // add is-hidden class to summary

        document.getElementById("summary").classList.add("is-hidden");
        document.getElementById("summary_tab").classList.remove("is-active");

        document.getElementById("balances").classList.remove("is-hidden");
        document.getElementById("balances_tab").classList.add("is-active");
        data_table.fixedHeader.enable();

    }
    function show_summary() {
        // remove active of balances
        // add is-hidden class to balances

        document.getElementById("summary").classList.remove("is-hidden");
        document.getElementById("summary_tab").classList.add("is-active");

        document.getElementById("balances").classList.add("is-hidden");
        document.getElementById("balances_tab").classList.remove("is-active");
        data_table.fixedHeader.disable();
    }

</script>
{% endblock scripts %}
{% endblock content %}
