{% extends "coinsurance_layout.html" %}
{% block content %}
<h1 class="title"> {{ title }}{{ status }}</h1>

{% if coinsurance_entries %}

<div class="columns">
    <div class="column">
        <form class="mb-5" method="post" enctype="multipart/form-data">
            {{ form_select_coinsurer.csrf_token }}
            {{ form_select_coinsurer.coinsurer_name.label }}: {{ form_select_coinsurer.coinsurer_name(class='select') }}

            {{ form_select_coinsurer.filter_coinsurer(class="button is-success is-outlined is-hoverable is-small") }}
        </form>

    </div>
    <div class="column">
        <div class="table-container">
            <div class="is-pulled-right">
                <table class="table is-bordered" id="totalTable">
                    <tr>
                        <th>Total: </th>
                        <td id="total"></td>
                    </tr>
                    <tr>
                        <th>Page total: </th>
                        <td class="has-text-right" id="page_total"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

{% if status == "To be settled" and update_settlement and current_user.user_type in
["admin","coinsurance_hub_user"]
%}
<form method="post" name="coinsurance_list" enctype="multipart/form-data">
    {% for field, errors in form.errors.items() %}
    <div class="notification is-danger">
        {{ field }} {{ ', '.join(errors) }}
    </div>
    {% endfor %}

    {{ form.csrf_token }}
    {{ form.utr_number.label }} {{ form.utr_number(class='select') }}

    {{ form.update_settlement(class="ml-5 button is-danger") }}

    {% endif %}
    <table class="table is-striped is-bordered is-hoverable is-fullwidth" id="coinsurance_table">

        <thead>
            <tr>

                {% if update_settlement and status == "To be settled" and current_user.user_type in
                ["admin","coinsurance_hub_user"] %}
                <th>Select</th>
                {% endif %}

                <th class="is-vcentered">Entry ID</th>
                <th></th>
                <th class="is-vcentered">RO code</th>
                <th class="is-vcentered">OO code</th>
                <th class="is-vcentered">Coinsurer name</th>
                <th class="is-vcentered">Coinsurer office code</th>
                <th class="is-vcentered">Leader / follower </th>
                <th class="is-vcentered">Request ID</th>
                <th class="is-vcentered">Period</th>
                <th class="is-vcentered">Name of insured</th>
                <th class="is-vcentered">Payable amount</th>
                <th class="is-vcentered">Receivable amount</th>
                <th class="is-vcentered">Net payable / (Net receivable) (Excluding RI)</th>
                <th class="is-vcentered">Reinsurance involved</th>
                <th class="is-vcentered">RI payable amount</th>
                <th class="is-vcentered">RI receivable amount </th>
                <th class="is-vcentered">Net payable / (Net receivable) (Including RI) </th>
                <th class="is-vcentered">Current status</th>
                <th class="is-vcentered">Zone</th>

            </tr>
        </thead>
        <tbody>
            {% for entry in coinsurance_entries %}
            <tr>
                {% if update_settlement and status == "To be settled" and current_user.user_type in
                ["admin","coinsurance_hub_user"] %}
                <td>
                    <label class="checkbox">
                        <input type="checkbox" name="coinsurance_keys" value="{{ entry.id }}" />
                    </label>
                </td>
                {% endif %}
                <td class="has-text-right"> {{ entry.id }}</td>
                <td>
                    <a class="button is-small is-info"
                        href="{{ url_for ('coinsurance.view_coinsurance_entry', coinsurance_id = entry.id) }}">
                        View</a>
                </td>
                <td> {{ entry.uiic_regional_code }}</td>
                <td> {{ entry.uiic_office_code | replace(",",", ") | replace("/","/ ") }}</td>
                <td> {{ entry.follower_company_name }}</td>
                <td> {{ entry.follower_office_code | replace(",",", ") | replace("/","/ ") }}</td>
                <td> {{ entry.type_of_transaction }}</td>
                <td> {{ entry.request_id| replace(",",", ") | replace("/","/ ") }}</td>
                <td> {{ entry.str_period or "" }}</td>
                <td> {{ entry.insured_name }}</td>
                <td class="has-text-right">{{ entry.payable_amount| indian_number_format }}</td>
                <td class="has-text-right">{{ entry.receivable_amount| indian_number_format }}</td>
                <td class="has-text-right">{{ (entry.payable_amount - entry.receivable_amount) | indian_number_format
                    }}
                </td>
                <td> {{ "Yes" if entry.boolean_reinsurance_involved else "No" }}</td>
                <td class="has-text-right">{{ entry.int_ri_payable_amount|indian_number_format }}</td>
                <td class="has-text-right">{{ entry.int_ri_receivable_amount|indian_number_format }}</td>
                <td class="has-text-right">{{ entry.net_amount|indian_number_format }}</td>
                <td>{{ entry.current_status or '' }}</td>
                <td>{{ entry.zone }}</td>

            </tr>
            {% endfor %}
        </tbody>

    </table>
</form>
<div class="table-container mt-5">
    <div class="is-pulled-right">
        <table class="table is-bordered">
            <tr>
                <th>Total: </th>
                <td id="total_bottom"></td>
            </tr>
            <tr>
                <th>Page total: </th>
                <td class="has-text-right" id="page_total_bottom"></td>
            </tr>
        </table>
    </div>
</div>

{% endif %}

{% block scripts %}
<script>

    var column_number = 13
    {% if status == "To be settled" and current_user.user_type in ["admin", "coinsurance_hub_user"] %}
    column_number += 1
    {% endif %}
    new DataTable('#coinsurance_table', {
        //dom: 'lfBrtip',
        layout: {
            top1Start: 'pageLength',
            //topEnd: 'search',
            topStart: 'buttons',
            //bottomStart: 'info',
            //bottomEnd: 'paging',
        },
        fixedHeader: true,
        scrollY: true,
        columnDefs: [
            {
                target: [column_number, column_number + 1],
                visible: false,
                searchable: false,
            }],
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],
        order: [[0, 'desc']],
        pagingType: 'full_numbers',
        pageLength: 100,
        lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, 'All'],
        ],

        footerCallback: function (row, data, start, end, display) {
            var api = this.api();

            // Remove the formatting to get integer data for summation
            var intVal = function (i) {
                return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
            };

            var columnID = 16;
            {% if status == "To be settled" and current_user.user_type in ["admin", "coinsurance_hub_user"] %}
            columnID += 1;
            {% endif %}
            // Total over all pages
            total = api
                .column(columnID)
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);

            // Total over this page
            pageTotal = api
                .column(columnID, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);

            // Update footer

            const formatter = new Intl.NumberFormat('en-IN', {
                style: 'currency',
                currency: 'INR',
                minimumFractionDigits: 2,
                maximumFractionDigits: 2,
                trailingZeroDisplay: 'stripIfInteger'
            });

            document.getElementById('page_total').innerText = formatter.format(pageTotal);
            document.getElementById('total').innerText = formatter.format(total);
            document.getElementById('page_total_bottom').innerText = formatter.format(pageTotal);
            document.getElementById('total_bottom').innerText = formatter.format(total);

            //         $(api.column(10).footer()).html( 'Page total: '+ formatter.format(pageTotal) );
            //         $(api.column(12).footer()).html( 'Total: '+formatter.format(total) );
        },

    });

</script>
{% endblock scripts %}
{% endblock content %}
