{% extends "correspondence_layout.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <header class="card-header has-background-link">
            <p class="card-header-title has-text-white">Circular number: {{ circular.reference_number }}</p>
        </header>

        <div class="card-content">
            <table class="table is-bordered is-striped is-fullwidth">
                <tbody>
                    <tr>
                        <th class="col-25">Title</th>
                        <td>{{ circular.circular_title }}</td>
                    </tr>
                    <tr>
                        <th>Date of Issue</th>
                        <td>{{ circular.date_of_issue.strftime('%d-%m-%Y') if circular.date_of_issue else '' }}</td>
                    </tr>
                    <tr>
                        <th>Circular reference number</th>
                        <td>{{ circular.reference_number if circular.reference_number else '' }}</td>
                    </tr>
                    <tr>
                        <th>Issued by</th>
                        <td>{{ circular.issued_by_name }}</td>
                    </tr>
                    <tr>
                        <th>Designation</th>
                        <td>{{ circular.issued_by_designation }}</td>
                    </tr>
                    <tr>
                        <th>Recipients</th>
                        <td>{{ circular.recipients }}</td>
                    </tr>
                    <tr>
                        <th>Remarks</th>
                        <td>{{ circular.remarks }}</td>
                    </tr>
                    <tr>
                        <th>Uploaded Document</th>
                        <td>
                            {% if circular.upload_document %}
                            <a href="{{ url_for('.download_document', document_type='circular', document_id=circular.id) }}"
                                target="_blank" class="button is-small is-outlined is-link">
                                View Document
                            </a>
                            {% else %}
                            No document uploaded
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer is-justify-content-end">

            <a href="{{ url_for('correspondence.circular_list') }}" class="button has-background-grey-light m-2">Back to
                list</a>
            <a href="{{ url_for('correspondence.circular_edit', id=circular.id) }}"
                class="button is-warning m-2">Edit</a>

        </div>
    </div>
</div>
{% endblock content %}
