<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Accounts" />
    <meta name="description" content="Accounts" />
    <title>CFAC Portal | {% block title %}Correspondence{% endblock title %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='payments.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/css/bulma.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}" />

</head>

<body>
    <header>
        <nav class="navbar is-dark" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="navbar-start">
                    <a class="navbar-item" href="{{ url_for('main.index') }}">Home</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Circulars</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{{ url_for('.circular_list') }}">Circulars</a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="{{ url_for('.circular_add') }}">Add new circular</a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Inward documents</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{{ url_for('.inward_list') }}">Inward documents</a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="{{ url_for('.inward_add') }}">Add new inward document</a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Outward documents</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{{ url_for('.outward_list') }}">Outward documents</a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="{{ url_for('.outward_add') }}">Add new outward
                                document</a>
                        </div>
                    </div>
                </div>

            </div>
            {% include "partials/navbar_user_details.html" %}
        </nav>
    </header>

    <div class="container is-fluid mt-5">

        {% if current_user.is_authenticated %}
        {% block content %}{% endblock content %}
        {% endif %}
    </div>

    <script charset="utf8" src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>

    {% block scripts %}

    {% endblock scripts %}

</body>

</html>
