{% extends "correspondence_layout.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <header class="card-header has-background-link">
            <p class="card-header-title has-text-white">Inward number: {{ inward.reference_number }}</p>
        </header>
        <div class="card-content">
            <table class="table is-bordered is-striped is-fullwidth">
                <tbody>
                    <tr>
                        <th class="col-25">Date of receipt</th>
                        <td>{{ inward.date_of_receipt }}</td>
                    </tr>
                    <tr>
                        <th>Time of receipt</th>
                        <td>{{ inward.time_of_receipt }}</td>
                    </tr>
                    <tr>
                        <th>Sender name</th>
                        <td>{{ inward.sender_name }}</td>
                    </tr>
                    <tr>
                        <th>Sender address</th>
                        <td>{{ inward.sender_address }}</td>
                    </tr>
                    <tr>
                        <th>Mode of receipt</th>
                        <td>{{ inward.mode_of_receipt }}</td>
                    </tr>
                    <tr>
                        <th>Reference number</th>
                        <td>{{ inward.letter_reference_number }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ inward.description_of_item }}</td>
                    </tr>
                    <tr>
                        <th>Recipient name</th>
                        <td>{{ inward.recipient_name }}</td>
                    </tr>
                    <tr>
                        <th>Received by</th>
                        <td>{{ inward.received_by }}</td>
                    </tr>
                    <tr>
                        <th>Remarks</th>
                        <td>{{ inward.remarks }}</td>
                    </tr>
                    <tr>
                        <th>Uploaded Document</th>
                        <td>
                            {% if inward.upload_document %}
                            <a href="{{ url_for('.download_document', document_type='inward', document_id=inward.id) }}"
                                target="_blank" class="button is-small is-outlined is-link">
                                View Document
                            </a>
                            {% else %}
                            No document uploaded
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer is-justify-content-end">
            <a href="{{ url_for('correspondence.inward_list') }}" class="button has-background-grey-light m-2">Back to
                list</a>
            <a href="{{ url_for('correspondence.inward_edit', id=inward.id) }}" class="button is-warning m-2">Edit</a>
        </div>
    </div>
</div>
{% endblock content %}
