{% extends "correspondence_layout.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <header class="card-header has-background-link">
            <p class="card-header-title has-text-white">Outward number: {{ outward.reference_number }}</p>
        </header>
        <div class="card-content">
            <table class="table is-bordered is-striped is-fullwidth">
                <tbody>
                    <tr>
                        <th class="col-25">Date of dispatch</th>
                        <td>{{ outward.date_of_dispatch }}</td>
                    </tr>
                    <tr>
                        <th>Time of dispatch</th>
                        <td>{{ outward.time_of_dispatch }}</td>
                    </tr>
                    <tr>
                        <th>Recipient name</th>
                        <td>{{ outward.recipient_name }}</td>
                    </tr>
                    <tr>
                        <th>Recipient address</th>
                        <td>{{ outward.recipient_address }}</td>
                    </tr>
                    <tr>
                        <th>Mode of dispatch</th>
                        <td>{{ outward.mode_of_dispatch }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ outward.description_of_item }}</td>
                    </tr>
                    <tr>
                        <th>Sender name</th>
                        <td>{{ outward.sender_name }}</td>
                    </tr>
                    <tr>
                        <th>Dispatched by</th>
                        <td>{{ outward.dispatched_by }}</td>
                    </tr>
                    <tr>
                        <th>Remarks</th>
                        <td>{{ outward.remarks }}</td>
                    </tr>
                    <tr>
                        <th>Uploaded Document</th>
                        <td>
                            {% if outward.upload_document %}
                            <a href="{{ url_for('.download_document', document_type='outward', document_id=outward.id) }}"
                                target="_blank" class="button is-small is-outlined is-link">
                                View Document
                            </a>
                            {% else %}
                            No document uploaded
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer is-justify-content-end">
            <a href="{{ url_for('correspondence.outward_list') }}" class="button has-background-grey-light m-2">Back to
                list</a>
            <a href="{{ url_for('correspondence.outward_edit', id=outward.id) }}" class="button is-warning m-2">Edit</a>
        </div>
    </div>
</div>
{% endblock content %}
