<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">

        {# Previous #}
        {% if table.page > 1 %}
        <li class="page-item">
            <a class="page-link" href="{{ table.page_url(table.page - 1) }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Previous</span></li>
        {% endif %}

        {# Page numbers #}
        {% for p in range(1, table.pages + 1) %}
        <li class="page-item {% if p == table.page %}active{% endif %}">
            <a class="page-link" href="{{ table.page_url(p) }}">{{ p }}</a>
        </li>
        {% endfor %}

        {# Next #}
        {% if table.page < table.pages %} <li class="page-item">
            <a class="page-link" href="{{ table.page_url(table.page + 1) }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}

    </ul>
</nav>
