{% extends "brs_imprest_layout.html" %}
{% block body_attrs %} "onload=calculateSum(); calculateClosingBalance();" {% endblock body_attrs %}
{% from "form_field_helpers_macro.html" import render_field_table %}

{% from "bootstrap_macros.html" import render_field_horizontal %}
{% from "brs_imprest_macros.html" import render_brs_summary_table %}
{% block content %}

<div class="container mb-5">
    {% include "partials/errors.html" %}
    {% include "partials/messages.html" %}
    <h1 class="title">BRS - Imprest</h1>
    {{ render_brs_summary_table(brs_entry) }}
    <form action="" method="post" enctype="multipart/form-data"
        onsubmit="return confirm('Are you sure you want to submit?') && validateForm();">
        {{ form.csrf_token }}

        {% include "partials/bootstrap_alerts.html" %}

        <table class="table is-bordered is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th class="has-text-centered" width="50%;">Particulars</th>
                    <th class="has-text-centered" width="25%;">Month/Period</th>
                    <th class="has-text-centered" width="25%;">Amount (Rs.)</th>
                </tr>
            </thead>
            <tbody>
                {# Prepared By #}
                <tr>
                    <th class="is-vcentered">{{ form.prepared_by_employee_name.label }}</th>
                    <td></td>
                    <td>{{ form.prepared_by_employee_name(class="input") }}</td>
                </tr>
                <tr>
                    <th class="is-vcentered">{{ form.prepared_by_employee_number.label }}</th>
                    <td></td>
                    <td>{{ form.prepared_by_employee_number(class="input") }}</td>
                </tr>
                {# GL Entries #}
                <tr>
                    <th class="is-vcentered">{{ form.opening_balance.label }}</th>
                    <td class="has-text-centered is-vcentered">{{ brs_entry.month | datetime_format("%B-%Y", "previous")
                        }}</td>
                    <td>{{ form.opening_balance(class='input has-text-right',
                        onfocus="calculateSum()", onkeyup="calculateSum()", readonly="readonly") }}
                    </td>
                </tr>
                <tr>
                    <th class="is-vcentered">{{ form.fund_transfer.label }}</th>
                    <td class="has-text-centered is-vcentered">{{ brs_entry.month | datetime_format("%B-%Y", "previous")
                        }}</td>
                    <td>{{ form.fund_transfer(class='input has-text-right',
                        onfocus="calculateSum()", onkeyup="calculateSum()") }}
                    </td>
                </tr>
                <tr>
                    <th class="is-vcentered">{{ form.cheques_issued.label }}</th>
                    <td class="has-text-centered is-vcentered">{{ brs_entry.month }}</td>
                    <td>{{ form.cheques_issued(class='input has-text-right',
                        onfocus="calculateSum()",
                        onkeyup="calculateSum()") }}
                    </td>
                </tr>
                <tr>
                    <th class="is-vcentered">{{ form.cheques_cancelled.label }}</th>
                    <td class="has-text-centered is-vcentered">{{ brs_entry.month }}</td>
                    <td>{{ form.cheques_cancelled(class='input has-text-right',
                        onfocus="calculateSum()",
                        onkeyup="calculateSum()") }}
                    </td>
                </tr>

                <tr>
                    <th class="is-vcentered">{{ form.bank_charges.label }}</th>
                    <td class="has-text-centered is-vcentered">{{ brs_entry.month }}</td>
                    <td>{{ form.bank_charges(class='input has-text-right', onfocus="calculateSum()",
                        onkeyup="calculateSum()") }}
                    </td>
                </tr>

                <tr>
                    <th class="is-vcentered has-text-weight-bold has-text-success">Closing balance as per GL</th>
                    <td class="has-text-centered is-vcentered">{{ brs_entry.month | datetime_format("%B-%Y", "current")
                        }}
                    </td>
                    <td class="has-text-right has-text-success has-text-weight-bold"><label
                            id="cal_closing_balance">0.00</label>
                    </td>
                </tr>
                <tr>
                    <th class="is-vcentered">Remarks</th>
                    <td colspan="2">{{ form.remarks(class='textarea', rows=3) }}</td>
                </tr>
            </tbody>
        </table>
        <div id="closing_balance_breakup" class="mt-4">
            <h4 class="title is-size-5 m-3">Provide Breakup of Closing Balance (Reconciliation Items)</h4>
            <table class="table is-bordered is-hoverable">
                <thead>
                    <tr>
                        <th class="has-text-centered" width="40%">Particulars</th>
                        <th class="has-text-centered" width="20%">Upload Format</th>
                        <th class="has-text-centered" width="20%">Amount (Rs.)</th>
                        <th class="has-text-centered" width="20%">Supporting Document</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th class="is-vcentered">{{ form.closing_balance_bank.label }}</th>
                        <td class="has-text-centered is-vcentered">Upload bank statement</td>
                        <td>

                            {{ form.closing_balance_bank(class="input has-text-right",
                            onfocus="calculateClosingBalance()", onkeyup="calculateClosingBalance()") }}

                        </td>
                        <td>{{ form.file_bank_statement }}</td>
                    </tr>
                    <tr>
                        <th class="is-vcentered">{{ form.cheques_unencashed.label }}</th>
                        <td class="has-text-centered is-vcentered"><a href="{{ url_for('.download_format') }}"
                                class="button is-small is-outlined is-link">Download Format</a></td>
                        <td>{{ form.cheques_unencashed(class="input has-text-right",
                            onfocus="calculateClosingBalance()", onkeyup="calculateClosingBalance()") }}
                        </td>
                        <td class="has-text-centered">{{ form.file_unencashed_entries(
                            disabled=disabled,
                            accept=".xlsx") }}

                        </td>
                    </tr>
                    <tr>
                        <th colspan="2" class="is-vcentered has-text-weight-bold has-text-success">
                            Total (Must Tally with GL Closing Balance)
                        </th>
                        <td class="has-text-right has-text-success has-text-weight-bold"><label
                                id="cal_closing_bal_breakup">0.00</label></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="has-text-centered m-5">

            <button class="button is-success" type="submit">Submit</button>
        </div>

    </form>
</div>

{% endblock content %}
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        calculateSum();
        calculateClosingBalance();
    });

    function calculateSum() {
        var opening_balance = parseFloat(document.getElementById("opening_balance").value === "" ? 0 : document.getElementById("opening_balance").value);
        var fund_transfer = parseFloat(document.getElementById("fund_transfer").value === "" ? 0 : document.getElementById("fund_transfer").value);
        var cheques_issued = parseFloat(document.getElementById("cheques_issued").value === "" ? 0 : document.getElementById("cheques_issued").value);
        var cheques_cancelled = parseFloat(document.getElementById("cheques_cancelled").value === "" ? 0 : document.getElementById("cheques_cancelled").value);
        var bank_charges = parseFloat(document.getElementById("bank_charges").value === "" ? 0 : document.getElementById("bank_charges").value);

        closing_balance = opening_balance + fund_transfer - cheques_issued + cheques_cancelled - bank_charges;

        const formatter = new Intl.NumberFormat('en-IN', {
            style: 'currency',
            currency: 'INR',
            minimumFractionDigits: 2,
            maximumFractionDigits: 2,
            trailingZeroDisplay: 'stripIfInteger'
        });
        document.getElementById("cal_closing_balance").innerText = formatter.format(closing_balance);

        return closing_balance;

    }
    function calculateClosingBalance() {

        const formatter = new Intl.NumberFormat('en-IN', {
            style: 'currency',
            currency: 'INR',
            minimumFractionDigits: 2,
            maximumFractionDigits: 2,
            trailingZeroDisplay: 'stripIfInteger'
        });

        var cheques_unencashed = parseFloat(document.getElementById("cheques_unencashed").value === "" ? 0 : document.getElementById("cheques_unencashed").value);
        var closing_balance_bank = parseFloat(document.getElementById("closing_balance_bank").value === "" ? 0 : document.getElementById("closing_balance_bank").value);


        document.getElementById("file_unencashed_entries").disabled = (cheques_unencashed <= 0);


        // document.getElementById("file_bank_statement").disabled = (closing_balance_bank_statement <= 0);

        var closing_balance_breakup = closing_balance_bank - cheques_unencashed;

        document.getElementById("cal_closing_bal_breakup").innerText = formatter.format(closing_balance_breakup);
        return closing_balance_breakup;
    }
    function validateForm() {
        const threshold = 0.001
        closing_balance_gl = calculateSum();
        closing_balance_breakup = calculateClosingBalance();
        if (Math.abs(closing_balance_gl - closing_balance_breakup) > threshold) {
            alert(`Closing balance ${closing_balance_gl} and closing balance breakup ${closing_balance_breakup} is not tallying.`)
            return false;
        }
    }

</script>
{% endblock scripts %}
