<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Accounts" />
    <meta name="description" content="Accounts" />
    <title>CFAC Portal | {% block title %}BRS Imprest{% endblock title %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='payments.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/css/bulma.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons-1.13.1/bootstrap-icons.min.css') }}" />

</head>

<body>
    <header>
        <nav class="navbar has-background-danger-light has-shadow" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="navbar-start">
                    <a class="navbar-item" href="{{ url_for('main.index') }}">Home</a>
                    <a class="navbar-item" href="{{ url_for('.brs_imprest_dashboard') }}">BRS Imprest</a>

                    {% if current_user.user_type in ["admin", "ro_user"] %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">View data</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{{ url_for('.list_brs_entries') }}">BRS data</a>
                            <a class="navbar-item" href="{{ url_for('.list_brs_items', entry_type='unencashed') }}">
                                Unencashed entries</a>
                        </div>
                    </div>
                    {% endif %}
                    {% if current_user.role and "brs_admin" in current_user.role %}
                    <a class="navbar-item" href="{{ url_for('.add_brs_details_item') }}">Add new BRS details
                        item</a>
                    <a class="navbar-item" href="{{ url_for('.bulk_upload_brs') }}">Bulk upload BRS items</a>
                    {% endif %}
                </div>
            </div>
            {% include "partials/navbar_user_details.html" %}
        </nav>
    </header>

    <div class="container is-fluid mt-5">

        {% if current_user.is_authenticated %}
        {% block content %}{% endblock content %}
        {% endif %}
    </div>

    <script charset="utf8" src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>

    {% block scripts %}

    {% endblock scripts %}

</body>

</html>
