{% extends "brs_imprest_layout.html" %}
{% block content %}

{% from "form_field_helpers_macro.html" import render_field_div_horizontal %}

<div class="container">
    <h1 class="title mb-3">{{ title }}</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {% for field in form if field.widget.input_type not in ["hidden","submit"] %}

        {{ render_field_div_horizontal(field) }}

        {% endfor %}

        <div class="buttons is-grouped is-centered">

            <button type="submit" class="button is-success">Submit</button>
            <button type="reset" class="button is-warning">Cancel</button>

        </div>
    </form>
    {% include "partials/errors.html" %}
    {% include "partials/messages.html" %}

</div>
{% endblock content %}
