{% extends "brs_imprest_layout.html" %}

{% block content %}

{% from "brs_imprest_macros.html" import render_brs_table, render_brs_summary_table %}
<div class="container">
    <h1 class="title">View BRS</h1>

    {{ render_brs_summary_table(brs_entry.summary) }}

    <strong>Summary of General Ledger</strong>
    <table class="mt-3 table is-bordered is-hoverable is-fullwidth">

        {% for key, (label, extra, bold) in gl_column_labels.items() %}

        <tr {% if bold %} class="has-text-weight-bold" {% endif %}>

            <td width="75%" class="p-3">{{ label }}</td>
            <td width="10%">{{ extra }}</td>
            <td class="has-text-right">{{ (brs_entry[key] or 0) | indian_number_format }}</td>
        </tr>

        {% endfor %}
    </table>
    <strong> Bank reconciliation statement</strong>

    <table class="mt-3 table is-bordered is-hoverable is-fullwidth">

        {% for key, (label, extra, bold) in bank_recon_column_labels.items() %}

        <tr {% if bold %} class="has-text-weight-bold" {% endif %}>

            <td width="75%" class="p-3">{{ label }}</td>
            <td width="10%">{{ extra }}</td>
            <td class="has-text-right">{{ (brs_entry[key] or 0) | indian_number_format }}</td>
        </tr>

        {% endfor %}
        <tr>
            <th class="p-3">Bank statement</th>
            <td></td>
            <td class="has-text-centered">{% if brs_entry.bank_statement %}<a class="button is-info is-small"
                    href="{{ url_for('.download_bank_statement', id=brs_entry.id) }}">Download</a>
                {% else %}
                Not uploaded
                {% endif %}</td>
        </tr>
    </table>
    {{ render_brs_table(
    brs_entry.cheques_unencashed,
    "Cheques issued but not yet encashed",
    brs_entry.unencashed_cheques
    ) }}

    <div class="pb-5">
        Prepared by {{ brs_entry.prepared_by_employee_name }} (Employee Number:
        {{ brs_entry.prepared_by_employee_number }}) on {{
        brs_entry.created_on.strftime("%d/%m/%Y %H:%M") }}.
    </div>

    <a class="button is-primary no-print mb-5"
        href="{{ url_for('.brs_imprest_view_status', key = brs_entry.summary_id) }}">Go
        back</a>

</div>

{% endblock content %}
