{% extends "brs_imprest_layout.html" %}

{% block content %}

<div class="container">
    <h1 class="mb-4 title">BRS Details</h1>

    <form method="post">
        {{ form.csrf_token }}

        <div class="card box">
            <div class="card-content">

                <div class="columns">
                    <div class="column has-text-weight-bold">Regional Office Code</div>
                    <div class="column">{{ brs.regional_office }}</div>
                </div>

                <div class="columns">
                    <div class="column has-text-weight-bold">Operating Office Code</div>
                    <div class="column">{{ brs.operating_office }}</div>
                </div>

                <div class="columns">
                    <div class="column has-text-weight-bold">Month</div>
                    <div class="column">{{ brs.month }}</div>
                </div>

                {% if brs.imprest_bank_name %}

                <div class="columns">
                    <div class="column has-text-weight-bold">
                        Imprest BRS
                    </div>

                    <div class="column">
                        <div class="columns">
                            <div class="column">
                                {% if brs.imprest_brs_month_id %}

                                <a class="button is-success"
                                    href='{{ url_for(".view_brs", brs_key=brs.imprest_brs_month_id) }}'>
                                    View Imprest BRS
                                </a>
                                {% else %}
                                <a class="button is-danger" href='{{ url_for(".brs_imprest_data_entry", key=brs.id) }}'>
                                    Enter Imprest BRS
                                </a>
                                {% endif %}
                            </div>

                            <div class="column">
                                {% if brs.imprest_brs_month_id and delete_button %}
                                {{ form.delete_brs }} {{ form.delete_brs.label }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {% endif %}
            </div>

            {% if brs.imprest_brs_month_id and delete_button %}
            <div class="card-footer is-justify-content-center">
                <button class="button is-danger m-3" type="submit">Delete</button>
            </div>
            {% endif %}
        </div>
    </form>

    {% include "partials/errors.html" %}
    {% include "partials/messages.html" %}
</div>

{% endblock content %}
