{% extends "leave_balance_layout.html" %}
{% block content %}
<div class="container pb-5">
    <table class="table is-bordered" id="dashboard_table">
        <thead>
            <tr>
                <th class="has-text-centered">RO Code</th>
                <th class="has-text-centered">OO Code</th>
                <th class="has-text-centered">Employee count</th>
                <th class="has-text-centered">Pending PL data</th>
                <th class="has-text-centered">Pending SL data</th>
            </tr>
        </thead>
        <tbody>
            {% for item in query %}
            <tr>
                <td>{{ item.employee_ro_code }}</td>
                <td>{{ item.employee_oo_code }}</td>
                <td>{{ item.employee_count }}</td>
                <td><a href="{{ url_for('.update_pl', oo_code=item.employee_oo_code) }}">
                        <div>{{ item.pending_pl_data }}</div>
                    </a>
                </td>
                <td><a href="{{ url_for('.update_sl', oo_code=item.employee_oo_code) }}">
                        <div>{{ item.pending_sl_data }}</div>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% block scripts %}
<script>
    new DataTable('#dashboard_table', {

        layout: {
            top1start: 'pageLength',
            topStart: 'buttons',

        },
        buttons: [
            { extend: 'copyHtml5', className: 'has-background-danger-light is-rounded', title: '' },
            { extend: 'csvHtml5', className: 'has-background-info-light is-rounded', title: '' },
            { extend: 'excelHtml5', className: 'has-background-primary-light is-rounded', title: '' }],
        order: [[0, 'asc']],
        pagingType: 'full_numbers',
        lengthMenu: [10, 25, 50, { label: 'All', value: -1 }],
        pageLength: 50,

    });

</script>
{% endblock scripts %}
{% endblock content %}
