{% extends "ff_summary_layout.html" %}
{% block content %}
{% from "form_field_helpers_macro.html" import render_dashboard_dropdown %}
<div class="container mb-5">

    <h1 class="title">Enter payment details</h1>
    <form class="mb-5" method="post">
        {{ render_dashboard_dropdown(form) }}

    </form>

    <table class="table is-fullwidth is-hoverable is-striped is-narrow is-bordered">
        <thead>
            <tr>
                <th class="has-text-centered">Month</th>
                <th class="has-text-centered">Bank name</th>
                <th class="has-text-centered">Mode of payment</th>
                <th class="has-text-centered">Number of transactions</th>
                <th class="has-text-centered">Amount</th>
                <th class="has-text-centered">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data_list %}
            <tr>
                <td>{{ item.month }}</td>
                <td>{{ item.bank_name }}</td>
                <td>{{ item.mode_of_payment }}</td>
                <td>{{ item.number_of_transactions or "" }}</td>
                <td>{{ item.amount or "" }}</td>

                <td><a href="{{ url_for('.outflow_data_entry', id=item.id) }}">Edit</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock content %}
